[2016-12-08 05:07] chadbrewbaker opened #1 "Exponentiation?"
I've been dabbling with taking all the middle school algebraic identities and expressing them as type signature refactorings:

http://chadbrewbaker.github.io/algebra/haskell/functional/programming/2016/01/27/algebraRules.html

Have you tried adding an exponentiation operator to your graph algebra? If so would it correspond directly to all functions from graph A to graph B, or would it be more esot

[2016-12-09 21:59] snowleopard commented on #1
Hey @chadbrewbaker! Sorry, just noticed the issue -- I didn't expect so much interest to this repo, so I wasn't even watching it :)

One simple way to define exponentiation is via the `connect` that is similar to multiplication:
[code]
Although this seems natural, the result is a bit boring:
[code]
So, we only have three different values `g^0`, `g^1` and `g^2 = g^3 = g^4 ...`.

At this point I don

[2016-12-09 22:07] snowleopard commented on #1
By the way, the `(^)` from Prelude almost works as desired. The only problem with it is that it returns `1` for `g^0` which is not what we want, we want it to return the multiplicative identity, which is `empty` in our case.

[2016-12-22 14:06] snowleopard opened #2 "Lexicographically first topological sort"
As spotted while writing [the recent blog](https://blogs.ncl.ac.uk/andreymokhov/graphs-in-disguise/) post:
[code]
The lexicographically first topological sort should in fact be `Just [3,1,2,4,5]`.

I believe this is also the reason why the `TopSort` graph instance doesn't satisfy the closure axiom:
* y ≠ ε ⇒ x → y + y → z + x → z = x → y + y → z

These are potentially two different issues, but I b

[2017-02-24 00:53] snowleopard opened #3 "TypeFamilies vs MultiParamTypeClasses"
The current implementation defines the `Graph` type class using an associated type family:
[code]

An alternative is to use `MultiParamTypeClasses` and `FunctionalDependencies`:
[code]

My current preference is the type families approach, but @ndmitchell suggests to give MPTC a serious consideration. What are the pros and cons?

Two example type signatures:
[code]

[code]
I think I prefer type fam

[2017-02-24 03:13] snowleopard opened #4 "Optional methods for Graph type class"
The current definition of the `Graph` type class is very minimalistic:
[code]

I like the minimalism, because it makes the library very simple.

However, for the sake of efficiency, it may useful to add optional methods to the type class, such as:
[code]

We already have an implementation (see `Algebra.Graph.Util`), which we could try to make the default (although it seems tricky). It works in O(n

[2017-02-25 11:52] snowleopard commented on #3
There are good discussions on TF vs MPTC+FD in the "Associated Type Synonyms" paper:

https://www.microsoft.com/en-us/research/wp-content/uploads/2005/01/at-syns.pdf

and here: https://ghc.haskell.org/trac/ghc/wiki/TFvsFD

However, most arguments (e.g. expressivity) appear to be non-applicable to our simple case.

[2017-03-01 14:25] snowleopard opened #5 "Type class vs data type Graph"
At the moment we have type class `Graph` and data type called `Basic` that is its direct deep embedding (I also sometimes refer to it as `Expr`). However, it would be really nice to call the data type `Graph` too, to add it to `Tree`, `Forest` and the rest of the family of nice algebraic data types.

So, I propose the following:

* The data type `Graph` lives in `Algebra.Graph.Data`: ~~Of course w

[2017-03-01 14:32] snowleopard commented on #5
Oh, I just realised that putting it into `Data.Graph` won't work, because of `type Graph = Table [Vertex]` :-(

[2017-03-04 14:56] ndmitchell commented on #5
I prototyped a potential design here: https://gist.github.com/ndmitchell/800fb7bf65f5875a22e72b1b868e1442

[2017-03-04 14:58] ndmitchell commented on #4
The `GraphWithFastRemoveVertex` seems a bit grim - you end up with N classes. And note that `removeVertex` isn't _O(n)_ - it's only that if you use something with constant time construction for all operations, and only works if you start with a `GraphMonad`.

I think there is potential value in putting a small number of carefully chosen operations in the class, which can be implemented 100% generi

[2017-03-04 22:19] snowleopard commented on #5
@ndmitchell Thanks! I've just played with your code a little and realised that `toGraph` limits the space of inhabitants of the type class only to instances that are isomorphic to directed graphs (or whatever graphs we choose to have by default according the type class laws), which is unfortunate.

For undirected, transitive, etc. graphs, the result is not unique and one would have to come up with

[2017-03-04 22:21] snowleopard commented on #3
@ndmitchell has written a draft implementation with `MPTC` here: https://gist.github.com/ndmitchell/800fb7bf65f5875a22e72b1b868e1442

There is no functional dependency `| g -> a` which I have in the above snippet, which makes me wonder if it's really necessary (I think it seemed to be in my experiments).

[2017-03-04 22:33] snowleopard commented on #4
@ndmitchell Shall we list the candidates here? I'm starting to think that there are not that many of them. The `removeVertex` operation does seem to make sense for all inhabitants of the `Graph` type class, because it corresponds to the `vertex` method. But `removeEdge` on the other hand is already problematic, because some instances, like `ToList` would find it awkward to have it, even though the

[2017-03-04 22:50] snowleopard commented on #5
Another argument for making `ToGraph` into a separate class: it's not a subclass of `Graph`! It's only purpose is to turn your graph representation, an edgelist `[(a,a)]`, `Data.Graph.Graph`, `Gr () ()` from `fgl`, or anything else into the `Graph` datatype, so that it's possible to reuse algorithms supported by the latter.

Note, making `Data.Graph.Graph` an instance of type class `Graph` would b

[2017-03-05 06:31] adelbertc opened #6 "Publishing alga"
Hey,

Awesome work with this project, really interesting stuff. I had done lots of graph theory stuff in the past and am thinking about getting back into it. I'm looking to potentially build some stuff on top of `alga` and was wondering if you have any plans on publishing it soon?

On a related note it does look like there's already an `alga` on Hackage: https://hackage.haskell.org/package/alga

T

[2017-03-05 11:15] snowleopard commented on #6
Hey @adelbertc!

I'm currently preparing the library for Hackage (writing docs, refactoring the module structure, etc.) and aim to release it very soon.

Indeed, the name is already taken, which is unfortunate. I think I'll release the library as `alga-core`. It will be lightweight and will have minimal dependencies. More heavyweight stuff (e.g. algorithms operating on algebraic graphs that may po

[2017-03-05 19:12] adelbertc commented on #6
Awesome, looking forward to it! If I end up writing some stuff on top of `alga` I'll be sure to let you know :-)

[2017-03-05 22:15] l-d-s commented on #6
I suggest a name that more directly evokes graphs might be more salient.

Very much looking forward to the maturation of this library.

[2017-03-05 22:22] ndmitchell commented on #6
While I think alga is a perfectly fine name, if foo  exists on hackage, calling your library foo-core is probably a bad idea. That name is gone - time to think of a new one...

[2017-03-05 22:23] ndmitchell commented on #6
On the other hand, graph-core wouldn't be so bad since graph is not a "named" library as such being too generic.

[2017-03-05 22:34] snowleopard commented on #6
@l-d-s @ndmitchell I don't think I explained this anywhere before: "alga" is a sort of acronym for "algebraic graphs", which also means "go!" or "come on!" in Kyrgyz language -- a little hidden tribute to my home country :-)

As far as I understand, we could use `Alga` (capitalised) on Hackage. Would this be confusing?

A more verbose name, but very precise is `algebraic-graphs`. I think if we don

[2017-03-06 07:09] ndmitchell commented on #6
Alga is an awesome name, but it is unfortunately taken. Using `Alga` does work according to the rules of Hackage, but is confusing and generally packages are expected to be `lower-kebab-case` - I wouldn't recommend it (if the existing package was `Alga` and not heavily used you could just about get away with it).

`algebraic-graphs` seems good.

[2017-03-06 07:22] adelbertc commented on #6
👍 to `algebraic-graphs`

[2017-03-06 15:00] snowleopard commented on #6
OK, the above commit switched the package name to `algebraic-graphs`.

We can still refer to the project/library as Alga, for brevity :)

[2017-03-06 21:55] ndmitchell commented on #3
Note that `g` is higher kinded. If `g` had been `*` kind then you would need the FD. As it is, often `g` gives you the restriction automatically. Having `| g -> a` with the higher-kind would be a bad idea, since it rules out lots of useful instances.

[2017-03-06 21:57] ndmitchell commented on #4
If the type class changes as I suggest in #5 then most of these objections change in nature - so I suggest we resolve that before coming back to this.

[2017-03-06 22:12] ndmitchell commented on #5
I didn't intend to imply that `toGraph` must be invertible. If you have a bidirectional graph, and call `connection a b`, I'd expect `toGraph` to return `Overlay (Connect a b) (Connect b a)`. I see no reason `connect a b` and `connect b a` return the same result. You have laws about how to reason about graphs, and can use them to say two things are equivalent.

Can you give an example of a type th

[2017-03-06 22:44] snowleopard commented on #3
Ah, I see!

So it *is* possible to have a higher-kinded `g` *and* define not fully-parametric `Graph` instances... we probably still lose some instances though, for example, `IntAdjacencyMap` or `()`... not that the latter is very useful :-) But the former probably is.

Thanks! This is an interesting design point I haven't considered.

[2017-03-06 23:18] snowleopard commented on #5
I think they should return the same result -- otherwise, they will leak implementation details. For example, at the moment we implement the `Eq` instance of `SymmetricRelation` by comparing the symmetric closures of the underlying non-symmetric relations. A trivial implementation of `toGraph` will therefore return different results for `connect a b` and `connect b a`. Now imagine that at some poin

[2017-03-06 23:27] ndmitchell commented on #3
You don't really lose any instances since you can have a new type with a phantom parameter. You certainly make those ones a bit harder to use though - but they are pretty rare so no big deal.

[2017-03-06 23:53] snowleopard commented on #3
Good point.

So, let's summarise the pros and cons of `TF` and your higher-kinded version of `MPTC`.

Some examples of type signatures:
[code]

I'd say there is no clear winner here. `MPTC` signatures are usually a bit shorter, but `TF` may be easier to parse since `Vertex g` is quite readable/self-documentary. My weak vote goes to `TF`.

Dealing with non-fully parametric instances may require wor

[2017-03-07 06:47] ndmitchell commented on #3
MPTC is a much older, simpler and more common extension than TF. I suspect you are less likely to have type inference problems in corner cases, especially when composing things.

I find the MPTC much simpler to read than TF. Yes, Vertex isn't explicit, but as soon as you define more complex operations it is easier to keep track of. As examples of things mentioning more than one graph/vertex type:

[2017-03-07 16:53] snowleopard opened #8 "Foldable instance for Data.Graph"
I can't decide whether we need to make `Data.Graph` an instance of `Foldable` or not.

On the one hand, just by `deriving Foldable` we get useful methods like `toList`, `length`, `elem`, which have a sensible behaviour on `Data.Graph` expressions.

On the other hand, methods like `foldMap` and `fold` are quite confusing, because we'd like to define graph folds differently.

For example, here is a

[2017-03-07 17:03] snowleopard commented on #3
Indeed, these are good examples where `MPTC` is clearer.

Well, as discussed above, you can't make `IntAdjacencyMap` and `()` an instance without workarounds.

[2017-03-07 19:53] snowleopard commented on #3
Hmm, the following `ConstraintKinds` hack seems to work:

[code]

Here `g` is not higher-kinded because the underlying type class isn't.

We can define `Graphable g a` in `Algebra.Graph.Classes`, or let users of the library define it themselves, which saves us from the struggle of finding a good name for this constraint synonym. (Not sure about the name `Graphable`, just reusing @ndmitchell's name

[2017-03-07 20:52] ndmitchell commented on #3
You still don't get MPTC like type signatures - you get a simpler context in the examples above, but the signature itself is still clearer with MPTC (the bit changing is clearer).

For things like `()` you can make `Const ()` instead and it behaves the same. It's definitely not as clear as TF though.

[2017-03-07 20:53] ndmitchell commented on #8
Yes, derive Foldable and Traversable. You certainly want a fold, but you don't have to name it fold - foldGraph is absolutely fine.

[2017-03-08 00:45] snowleopard commented on #8
@ndmitchell Thanks, done!

[2017-03-08 00:45] #8 closed

[2017-03-08 19:46] snowleopard opened #9 "Higher-kinded Graph"
There have been multiple discussions about making `Graph` higher-kinded, so I decided to create a separate issue for this -- let's discuss higher-kinded graphs here.

The key idea is:
[code]

This is very nice from many points of view: we know that any graph is a monad, this leads to better type signatures, we can reuse `fmap` and `do`-notation, etc.

However, there is a big drawback: we lose non-

[2017-03-08 20:54] snowleopard commented on #9
The good thing about this approach is that fully-parametric graph representations, such as, `data Graph a` can define both instances and therefore users can work with them using the most convenient interface.

Here is a snippet from `Algebra.Graph.Data`:

[code]

[2017-03-08 21:08] Gabriel439 commented on #9
You can also add a stronger `MonadPlus` constraint to the `Graph` class, where `mzero` takes the role of `empty` and `mplus` takes the role of `connect`

[2017-03-08 21:12] Gabriel439 commented on #9
Oops, I meant that `mplus` takes the role of `overlay`.  My understanding is that `overlay` is associative and `empty` is its identity

[2017-03-08 22:29] snowleopard commented on #9
@Gabriel439 Interesting! I think formally, `empty = mzero` and `overlay = mplus` does satisfy all `MonadPlus` laws listed here: https://wiki.haskell.org/MonadPlus (apart from Left Catch, which seems to be a rather rare alternative to Left Distribution):

* `mzero` and `mplus` should form a monoid, and `empty` and `overlay` is a monoid.
* `mzero >>= k = mzero` translates to vertex substitution in t

[2017-03-08 23:50] l-d-s commented on #9
`MonadPlus` is also used for collections (see e.g. [here](http://www.cs.ox.ac.uk/jeremy.gibbons/publications/ringads.pdf)).

I think the intention for type classes is that a given class has no semantics beyond its laws (and its relationship to other type classes). But I also suspect that `overlay` might turn out to have an "alternative"-ish meaning in some contexts.

[2017-03-09 00:27] snowleopard commented on #9
@l-d-s Many thanks for the link! All *ringad laws* given in Fig. 1 hold when we define `empty = mzero` and `overlay = mplus`. There is also this interesting quote in the conclusions:

So, it looks like I'm wrong that `MonadPlus` semantically corresponds to choice.

Hmm, this sounds a bit unexpected to me, but this approach surely allows to maximise code reuse.

To sum up: I think I'm gradually get

[2017-03-09 00:34] snowleopard commented on #3
@ndmitchell Have a look at #9 -- higher-kinded `class MonadPlus g => Graph g` clearly gives us best type signatures, which can be used when working with `Data.Graph` and other fully parametric graph representations.

Furthermore, I just realised that we can make `Relation` an instance of higher-kinded graphs by postponing the actual evaluation which requires `Ord a` until we actually need it, say,

[2017-03-09 00:39] snowleopard commented on #9
I just realised that we can make `Relation` an instance of higher-kinded graphs by postponing the actual evaluation which requires `Ord a` until we actually need it, say, to implement the `Eq` instance. This essentially means that we can turn pretty much all data structures into higher-kinded equivalents by hiding `Data.Graph` inside, which is used to build up fully parametric trees, and then at s

[2017-03-09 02:29] snowleopard commented on #9
The latest definition is:
[code]

If we are going this way, it may be useful to also make `Foldable` a superclass.

[2017-03-24 15:49] snowleopard commented on #6
The library has been released on Hackage: http://hackage.haskell.org/package/algebraic-graphs and is on the way to Stackage.

It's got 100% documentation coverage, and close to 100% test coverage.

🎉

[2017-03-24 15:49] #6 closed

[2017-03-24 15:50] snowleopard commented on #9
I've release the library with higher-kinded class available in `Algebra.Graph.HigherKinded.Class` module:
http://hackage.haskell.org/package/algebraic-graphs/docs/Algebra-Graph-HigherKinded-Class.html

[2017-03-24 15:50] #9 closed

[2017-03-24 15:54] snowleopard commented on #5
The data type `Graph` is now defined in the top-level module `Algabra.Graph`:
http://hackage.haskell.org/package/algebraic-graphs/docs/Algebra-Graph.html

The type class `Graph` has been demoted to `Algabra.Graph.Class`:
http://hackage.haskell.org/package/algebraic-graphs/docs/Algebra-Graph-Class.html

[2017-03-24 15:54] #5 closed

[2017-03-24 15:58] snowleopard commented on #3
I think the solution we currently have is optimal: `Algebra.Graph.Class` defines a kind-* class, which is most general, and `Algebra.Graph.HigherKinded.Class` defines higher-kinded graphs with nice type signatures.

Users who don't care about type classes can happily use `Algebra.Graph` with nicest possible (monomorphic) type signatures.

[2017-03-24 15:58] #3 closed

[2017-03-24 16:05] snowleopard commented on #4
After a lot of refactoring, we ended up with the API where each `Graph` instance defines a bunch of custom functions, such as `isEmpty`, `hasVertex`, `vertices`, `removeVertex`, and many others, which all have different complexity characteristics.

Making all of them part of the core type class seems to be an overkill.

I guess we can close this issue for now. If there is a proposal to create a mo

[2017-03-24 16:05] #4 closed

[2017-03-24 22:01] #1 closed

[2017-03-25 14:32] ndmitchell opened #10 "Make the Internal modules smaller"
I'd suggest _only_ exposing the data type in the internal, so people only import it if they need the internals, not just because it's a handy source of all the functions. Another way to go might be to have `Data.Graph.Internal` which has all the internal definitions, and then hide the other `Internal` modules from Cabal?

[2017-03-25 14:50] ndmitchell opened #11 "Refactor ToGraph"
Should it be `Graph t => ToGraph t`, then you can ditch the associated type family on `ToGraph` reusing the parent one.

[2017-03-25 14:55] snowleopard commented on #10
I agree that internal modules should be as small as possible, but aren't they already minimal? Unfortunately some functions got pulled into them because they are used by the `Show` instances.

Could you point an example of a function, which should be removed?

One option is to move `Show` instances outside, which would require making them orphan, but that's probably not a big deal since these are

[2017-03-25 14:57] ndmitchell commented on #10
Algebra.Graph.AdjacencyMap.Internal exports `newtype AdjacencyMap = ...`, plus `empty`, `vertex` etc. I would have it literally export _only_ the newtype. That requires a `RealInternal` module with the full thing in, everything in the normal one, and only the internals in Internal. At the moment someone might chose to use Internal just to get things like empty, which isn't what you want.

[2017-03-25 15:02] snowleopard commented on #11
The `ToVertex` family is a little annoying, but making `Graph` a superclass limits the number of instances. For example, something like `Data.Graph.Graph` can be made an instance of `ToGraph` easily, but it's much harder (and probably doesn't make much sense) to make it an instance of `Graph`.

Same goes for types like `[(a, a)]` (or even `[a]`) -- one could easily wrap these into a newtype and de

[2017-03-25 15:06] snowleopard commented on #10
Oh, `empty` and friends should surely be moved out.

I think I put them into `Internal` because they use the constructor i.e. `empty = AdjacencyMap $ Map.empty`, but the constructor is available in the main module too!

I'll fix this.

What's your opinion on `Show`? Shall it stay internal?

[2017-03-25 15:11] ndmitchell commented on #10
I'm suggesting you put _everything_ into `RealInternal`, and in `Internal` only reexport the data type and constructor. That way `Show` can go in `RealInternal` - best to avoid orphan instances even internally.

[2017-03-25 15:13] ndmitchell commented on #11
OK, that makes sense.

[2017-03-25 15:13] #11 closed

[2017-03-25 15:14] snowleopard commented on #10
Hmm, `RealInternal` seems unsatisfactory -- if we hide it in Cabal, does this mean that users won't be able to see the source in Haddock?

[2017-03-25 15:19] ndmitchell commented on #10
Yes.

[2017-03-25 15:19] ndmitchell commented on #10
To be honest, my usual approach is to avoid giving the users access to the internals at all - although I can see why in this instance it might be more reasonable - since the data type is specifying an implementation.

[2017-03-25 15:57] snowleopard commented on #10
Right, let me do some experiments tonight, and I'll report back what I can do.

[2017-03-25 16:01] ndmitchell commented on #10
In fact, just hollowing out so internal only has the data type plus instances might be enough.

[2017-03-25 19:18] snowleopard commented on #10
@ndmitchell Everything worked well with `AdjacencyMap`. I left the data type, instances and the `consistent` function, which is not exported from the main module.

https://github.com/snowleopard/alga/blob/master/src/Algebra/Graph/AdjacencyMap/Internal.hs

I'll do the same with other internal modules.

[2017-03-25 23:16] #10 closed

[2017-03-25 23:17] snowleopard commented on #10
@ndmitchell Done! The only annoyance is that I had to introduce `Algebra.Graph.Relation.InternalDerived` for derived binary relations (such as `ReflexiveRelation`), but now all internal modules are minimal.

[2017-03-25 23:41] snowleopard opened #12 "Overview of functionality/performance of different graph instances"
It would be great to have a table (say, in the `doc` folder) comparing different graph instances in terms of provided functionality (e.g., does it have `removeVertex`?) and performance (e.g. how fast is `removeVertex`?).

[2017-03-26 00:41] snowleopard opened #13 "Reduce code duplication in testsuite"
There is a lot of code duplication in the testsuite currently. For example, see this commit: https://github.com/snowleopard/alga/commit/fc2854de76e7e05be5fd09c362750d6db9a05502.

It should be possible to get rid of most duplication by defining generic testsuites like [this one](https://github.com/snowleopard/alga/blob/master/test/Algebra/Graph/Test.hs#L52-L61).

There is also duplication in the do

[2017-03-26 02:04] snowleopard opened #14 "Remove benchmarks"
**UPDATE:** It may be best to move benchmarks to a separate repository to keep this package lightweight and fast to build, see some comments below.

----

Current benchmarks are a mess: https://github.com/snowleopard/alga/blob/master/doc/benchmarks.md

[2017-03-28 22:25] snowleopard opened #15 "Reduce the size complexity of removeEdge"
As suspected by @ndmitchell, the current implementation of `removeEdge` is not linear w.r.t. the size of the resulting expression. An example where the result explodes by the factor of 10 found by QuickCheck:
[code]
Although this example is contrived (it's just a fully connected graph on vertices {0,1,2} with a lot of redundancy), it still demonstrates the problem.

[2017-06-27 21:16] ndmitchell opened #16 "Add Dot/GraphViz generation"
Everyone who has a graph wants to view it. Alga should provide some function that given a graph, and a way of labelling/styling the nodes, generates the appropriate DOT source.

[2017-06-27 22:56] snowleopard commented on #16
Indeed, I also frequently miss this feature.

Adding a pretty-printer to DOT for graphs with `String`/`ByteString` vertices is straightforward, but I'm not sure what's the best approach to styling vertices. Do you have any suggestions?

Looking at https://en.wikipedia.org/wiki/DOT_(graph_description_language), a good start could be to handle `label` and `shape` vertex settings. We could give all c

[2017-06-27 23:03] ndmitchell commented on #16
I see you've jumped straight to a String type with no encoding - I suspect Text or String is more semantically correct (ignoring performance etc), as you may want non-ASCII characters.

Rather than have multiple functions for everything in DOT, why not have an `(a -> String)` which species the bit inside the `[...]`, and the people can use shape, label or whatever else they want. You could then al

[2017-06-27 23:04] ndmitchell commented on #16
You could also imagine `dotAttributes :: [(String,String)] -> String` and then `dotLabel x = dotAttributes [("label", x)]`. I don't see much benefit from isolating people from DOT because it's both simple, and pretty leaky as an abstraction.

[2017-06-28 12:13] snowleopard commented on #16
I like the idea of providing simple combinators like `dotLabel`. Indeed, we don't need to isolate users from DOT. Furthermore, this allows to support other file formats with the very same interface simply by providing more format-specific combinators.

To avoid deciding on the specific string type, we could use `OverloadedStrings`:

[code]

[2017-06-28 12:28] ndmitchell commented on #16
Very neat idea regarding `S` - although I'd be tempted to expand it out in the few places that it's needed. Also no need to put the `S a` context in `DotAttributes` type alias - doing so makes things worse.

[2017-06-28 14:51] snowleopard commented on #16
Agreed. Here is the next iteration:
[code]

[2017-06-28 16:00] ndmitchell commented on #16
None of those functions take a graph, but the basic shape is certainly there. Sounds good to me.

[2017-07-10 02:02] snowleopard commented on #16
@ndmitchell After a bit of experimenting, here is what I came up with:

https://gist.github.com/snowleopard/d0047a3298ce277ed4874c3dd25da6d0

Does this look reasonable?

P.S.: Graphviz renders the second example as:

![test2](https://user-images.githubusercontent.com/675286/28000197-256c8ec0-651c-11e7-952a-57e2dac462e5.png)

[2017-07-12 11:26] snowleopard opened #17 "Edge labels"
The current implementation has no support for edge labels and this is a serious limitation. Let's use this issue to discuss possible designs.

As an example, consider a graph with vertices `1`, `2`, `3` and labelled edges `1 -{a}-> 2` and `2 -{b}-> 3`.

[The paper](https://github.com/snowleopard/alga-paper) mentions this approach:
[code]
Here `b` stands for the type of labels that can be attached

[2017-07-13 22:08] ndmitchell commented on #16
Looks pretty cool. @pepeiborra might have some thoughts.

[2017-07-13 22:41] pepeiborra commented on #16
Having written a less elegant version of this code recently, this is very welcome.

[2017-07-13 23:14] snowleopard commented on #16
@ndmitchell @pepeiborra Great, thanks! I'll do the implementation over the weekend and will ask for some more feedback.

[2017-07-15 14:39] snowleopard opened #19 "Remove GraphKL from the API"
`GraphKL` records are defined in `AdjacencyMap` and `IntAdjacencyMap` modules for interoperability with King-Launchbury graphs. Specifically, they provide a way to reuse the algorithms from `Data.Graph`.

While reviewing #18, I realised that GraphKL's `getVertex` function is partial, and I'd like to avoid having partial functions in the API where possible.

I propose to remove `GraphKL`, because t

[2017-07-15 15:02] snowleopard commented on #19
There is one performance aspect to consider: constructing `GraphKL` from `AdjacencyMap` takes time, so if the user would like to run multiple `Data.Graph` algorithms, it would be better to construct `GraphKL` once and then reuse it. If we drop `GraphKL`, we'll need to somehow cache it within `AdjacencyMap`.

[2017-07-16 05:13] feuerbach commented on #19
Good point. Probably the easiest way is to have a lazy pair `(AdjacencyMap, GraphKL)` (or an equivalent data type) where one field is lazily constructed in terms of the other.

[2017-07-21 02:22] justinlynn commented on #17
Perhaps an implementation based on line graphs (where the nodes are representative of edges and cliques uniquely represent nodes in the underlying edge-to-vertex dual graph). You might use multiparameter typeclass instances of the nodes to represent valid connection types overloading the type hierarchy for validity checking and label specification -- out of band, so speak. Still, I'm just brainsto

[2017-07-21 09:44] snowleopard commented on #17
Thanks @justinlynn!

Line graphs are cool, but so far I couldn't come up with a good way to represent them algebraically (without allowing some of their [forbidden subgraphs](https://en.wikipedia.org/wiki/Line_graph#Forbidden_subgraphs)). I also couldn't figure out how to efficiently obtain the line graph of a given graph. So, I am a bit stuck in this direction, but I agree, this is a potential op

[2017-07-22 05:39] justinlynn commented on #17
@snowleopard Excellent point -- now that you say it, I can't yet see that either. I suppose I've been coming at it from more of a data structure perspective and looking at how to cram the construction into the haskell typechecker while still maintaining invariants. Thanks heaps for taking a look and taking the time to provide some excellent feedback. Cheers!

[2017-07-23 01:59] snowleopard commented on #16
@ndmitchell @pepeiborra I've completed the implementation. Could you have a look?

* Module  `Algebra.Graph.Export.Dot` provides everything for exporting graphs in the DOT format:
https://github.com/snowleopard/alga/blob/master/src/Algebra/Graph/Export/Dot.hs

* Module `Algebra.Graph.Export` provides a few basic functions for generic graph export:
https://github.com/snowleopard/alga/blob/master/sr

[2017-07-23 09:34] pepeiborra commented on #16
Looks good, we will use it.

[2017-07-24 02:06] snowleopard commented on #16
@pepeiborra Thanks!

I think I'm done with tweaking the API. Will do the release soon.

[2017-07-25 00:33] snowleopard commented on #19
@feuerbach Is this what you had in mind?

https://github.com/snowleopard/alga/blob/master/src/Algebra/Graph/AdjacencyMap/Internal.hs#L90-L102

I hope I'll finish the refactoring by the end of this week and will release the new version.

[2017-07-25 05:35] feuerbach commented on #19
Yes, it is what I had mind. I think you may want to make the `adjacencyMap` field strict.

[2017-07-25 11:55] snowleopard commented on #19
Good point! I'll do this.

This brings me to the question I've been thinking about for some time (which probably deserves a separate issue, but I'll start here).

Another interesting implementation to consider is:
[code]

(Or something isomorphic).

Here we keep the expression tree lazy, which is cheap (unless it contains a lot of cached subtrees).

In this way, I think, we can make `AdjacencyMap`

[2017-07-25 12:14] feuerbach commented on #19
This reminds me of various attempts to turn Set into a Functor/Monad — there were a few papers on this topic you may want to check out.

[2017-07-26 00:14] snowleopard commented on #19
Yes, indeed. I found a good write-up on this by Oleg Kiselyov: http://okmij.org/ftp/Haskell/set-monad.html. I'll see if anything can be adapted to our case.

It just occurred to me, that my above data type can be generalised as follows:

[code]

But wait -- `TaggedGraph` is exactly one of the data types I proposed for *edge-labelled graphs* in #17!

I think something interesting is happening here.

[2017-07-28 01:35] snowleopard commented on #19
@feuerbach Note that I flipped the order of arguments to `dfsForestFrom` in the last commit -- the new one seems to be more natural/convenient. Let me know if you disagree.

[2017-07-28 05:55] feuerbach commented on #19
It's fine, I don't feel strongly about it.

[2017-07-30 02:28] snowleopard commented on #16
Released: http://hackage.haskell.org/package/algebraic-graphs-0.0.5.

[2017-07-30 02:28] #16 closed

[2017-07-30 02:28] snowleopard commented on #19
Released: http://hackage.haskell.org/package/algebraic-graphs-0.0.5.

[2017-07-30 02:28] #19 closed

[2017-08-03 15:52] snowleopard opened #20 "Optimise replaceVertex"
[Faucelme notes on reddit](https://www.reddit.com/r/haskell/comments/6qu04u/justify_your_existence_with_justifiedcontainers/dl23ksl/) that modifying a single vertex by mapping over the whole graph is inefficient.

Indeed, the current implementation of `replaceVertex` function is quite primitive and is based on `fmap`:

https://github.com/snowleopard/alga/blob/master/src/Algebra/Graph/HigherKinded/

[2017-09-06 22:14] snowleopard opened #21 "Implement graph complement"
(I think this is mostly relevant for undirected graphs.)

_Graph complement_ of an undirected graph (V, E) is (V, K \ E), where K is the clique on all vertices V, e.g. see https://en.wikipedia.org/wiki/Complement_graph.

Interestingly, complements of sparse graphs have as compact algebraic representations as sparse graphs.

[2017-10-17 16:16] theohonohan opened #23 "Feature query on overlaying graphs with labels"
Hello,

This is a followup to a question I asked on Twitter. I'm working on some code to calculate "betweenness centrality", with a view to applying it to streetmap graphs. I'm not sure if Alga is an appropriate choice for this task, but maybe my query will sort this out. I'm at the design stage.

To clarify what I'm talking about, there is a concise expression of the formula for betweenness centr

[2017-10-17 23:41] snowleopard commented on #23
@theohonohan Thanks you, I didn't expect the overlay composition may be useful for computing metrics such as betweenness centrality! I think I understand your idea on an intuitive level, but I'd be interested to see some more details.

There are a few different ways of attaching labels to vertices. What about the following direct approach?

[code]

At the moment Alga does not provide any out-of-th

[2017-10-18 16:37] theohonohan commented on #23
Hello,

Thanks for the response. For the geographic application I have in mind for the code, I do need to be able to label edges. I had a quick look at the issue #17 (and will revisit it later) but concretely I think something as simple as this would work for my application:

'''
-- Edge and node labels are both of type Double.
-- Graph edges are represented by entries in a Map indexed by (Integer

[2017-10-18 21:09] snowleopard commented on #23
Thanks @theohonohan! I enjoyed both the blog post and the paper you linked to previously. I'll experiment with adding comonads to Alga.

Your simple graph type will probably work, although it suffers from the usual problem with standard graph representations: you can create non-graphs with edges pointing to non-existent vertices.

In your `overlaySummingNodeValues` function, I suppose you meant to

[2017-10-19 20:20] theohonohan commented on #23
Hi,

My code doodle might have been disconcertingly concrete. In the streetmap application I have in mind, vertices represent points in space and edges are straight line connections. In other words, it's a physical mesh embedded in a metric space. Each edge needs to be labelled with its length, but once labelled, the length won't change, hence i ignored it (not inspected) when overlaying.

BTW, ob

[2017-10-23 00:45] snowleopard commented on #23
Aha, it appears that one doesn't even need to store the edge labels in this case, because they are implicitly determined by their endpoints! It's probably a useful subclass of graphs to consider: graphs that can be characterised by the pair `(Graph a, (a, a) -> b)` where the edge labelling function `(a, a) -> b` is total.

Yes, this is an interesting direction to explore.

One can access the set o

[2017-11-01 15:14] alpmestan commented on #17
Hello. I'm loving alga so far and am looking into ways to make this labelled edge story nice. Here are a few thoughts:

- Maybe we could have the edge labelling part be an extension to the core graph algebra, so:

[code]

    This way, we keep the core algebra intact, and each interpretation is free to implement (or not)
    the `label` combinator. This however does not really help in finding one

[2017-11-03 00:35] snowleopard commented on #17
@alpmestan Hello, and thank you for sharing your thoughts! Let me answer point-by-point.

* I like your suggestion about adding a type class with an additional graph labelling method. I'd probably prefer not to use the term 'label' here to avoid confusion with edge labels. Perhaps, we can call such graphs _tagged graphs_? We'll also need to add an associated type:

[code]
    Tagged graphs have be

[2017-11-03 12:09] alpmestan commented on #17
Tagged graphs as you introduce them in your last comment could work well indeed. I can certainly imagine this construct being useful. I however do think I need another solution for graphs with labelled edges, as I basically want a representation that'll only allow me to "tag" `Connect (Vertex _) (Vertex _)`-shaped graphs.

Regarding your suggestion of constructing the matrix "at the last minute",

[2017-11-04 20:37] snowleopard commented on #17
@alpmestan Yes, I see. Thinking about this led me to the following type class:

[code]

With the following two laws:
* `connect (vertex x) (vertex y) == labelledEdge mempty x y`
* `overlay (labelledEdge a x y) (labelledEdge b x y) == labelledEdge (a <> b) x y`

It doesn't look very nice though.

That's very cool, I like this idea! I'm very curious to see what you come up with -- please share the c

[2017-11-11 12:53] phadej opened #24 "rename Graph type."
It's quite inconvenient to use `class` and `data` at the same time.

As `data Graph` directly encodes methods of the class, i'd name it `Syntax`, but that's a little weird name.

[2017-11-11 13:49] phadej opened #25 "add NFData Graph"
I can make the PR if adding dependency is ok

[2017-11-11 14:07] snowleopard commented on #25
@phadej Do you mean adding dependency on `deepseq`? Sure, it's core library, so everyone has it.

Please make a PR, thank you!

[2017-11-11 14:20] snowleopard commented on #24
@phadej I agree that it's very inconvenient, so thanks for raising this issue!

My plan was to eventually change the name of the type class, because the algebra works not only for graphs, but, for example, equivalence relations (combination of `Reflexive`, `Undirected` and `Transitive` subclasses), and all sorts of other strange instances.

On the other hand, a concrete data type `Graph` has a fix

[2017-11-11 14:21] phadej commented on #24
I see, renaming the class will work for me too.

[2017-11-11 14:30] snowleopard commented on #24
In a recent discussion with colleagues, `Plex` came up as a possible name for the type class (there seem to be a nice correspondence between the algebra and topological concepts like simplexes and complexes). I will write a blog post about this soon.

If you (or anyone else) have any suggestions for the name of the type class, please let me know!

[2017-11-11 15:50] glaebhoerl commented on #24
A simple and boring option is `IsGraph`.

[2017-11-11 17:53] phadej opened #27 "Support older GHC."
I can make a PR for this is well.

It would be great to support GHC >= 7.6 (7.4 would need older containers-0.4)
Then I could ask people to add dependency on alga.

with https://github.com/hvr/multi-ghc-travis it would be easy to test them all on Travis (even OSX, if you really insist, though for `alga` it's IMHO waste of scarse OSX travis resources)

[2017-11-11 20:00] snowleopard commented on #27
@phadej Thank you! I've never worked on Haskell projects with long-term GHC compatibility requirements, so let me ask a couple of naive questions:
* Your PR #28 gives a working solution for GHC 7.8, which means supporting the current version of GHC 8.2.1, plus three previous versions. Is this a common compatibility target? Would supporting even older versions be useful, e.g. are there a lot of use

[2017-11-11 20:36] phadej commented on #27
There are three strategies:
- Support as many GHC as is convenient. This is subjective measure, but it means, that if you would like to use say `TypeInType` or `TypeApplications`, then you'll require at least GHC-8.0.
    - This is common with libraries which heavily rely on some GHC features.
    - type-leval `Nat` and `Symbol` didn't exist before GHC-7.8
    - When GHC-8.4 is released, you won't

[2017-11-11 20:40] phadej commented on #27
FWIW, it might be good idea to mention somewhere that `algebraic-graphs` is quite light on GHC extensions, `RankNTypes` and `TypeFamilies`.

That's what me got to think that supporting older GHC should be too complicated.

[2017-11-11 21:02] snowleopard commented on #27
Thank you very much for such a detailed response! Let's go with your intermediate GHC-7.8 solution.

Awesome! Lots of things are missing here at the moment, but I'm happy to add new features.

Indeed, and the very core is actually quite small. I'd say, `data Graph` is sufficient for most purposes, so it's possible to create a lighter library that doesn't require `RankNTypes` and `TypeFamilies`.

[2017-11-12 01:47] snowleopard commented on #24
@glaebhoerl Yes, something like `IsGraph` is an option, but I believe we are looking for an abstract term.

As an example, consider rings as a common abstraction for numbers. Then `instance Ring Integer` and `instance Ring Matrix` make more sense than `instance IsInteger Integer` and `instance IsInteger Matrix`.

So I want to be able to define `instance X Graph` and `instance X EquivalenceRelation

[2017-11-12 12:27] snowleopard commented on #27
A couple of TODO's (I'll try to take care of them today):
- [ ] Add OS X CI (to test only with the latest GHC version).
- [ ] Try to get rid of the dependency on `semigroups`, see https://github.com/snowleopard/alga/pull/28#discussion_r150408623.

[2017-11-12 21:23] snowleopard commented on #27
OK, I think this can now be closed. Thanks @phadej!

[2017-11-12 21:23] #27 closed

[2017-11-13 01:47] snowleopard commented on #25
Fixed in #26.

[2017-11-13 01:47] #25 closed

[2017-11-13 09:57] phadej commented on #24
One note: as there's `Graph` class, there could be `NonEmptyGraph`, (think `Monoid` and `Semigroup`).

one could have e.g.

[code]

In the paper 3.1 section could have

- (G,+) is a idempotent commutative semigroup
- (G,->) is a semigroup
- -> distributes over +

I'm quickly skimming thru the paper, and `empty` isn't used that much there!

---

This just a thought, not that we should have such cla

[2017-11-13 19:47] snowleopard opened #31 "Non empty graphs"
@phadej makes a very good observation in #24: Alga currently does not provide any support for type-safe handling of non-empty graphs.

I also wanted `NonEmptyGraph` a few times. Many graph transformations become much simpler when graph expressions cannot contain the `Empty` leaf. (And conversely, many graph transformations become simpler when `Empty` leafs are allowed, so general graphs are also u

[2017-11-13 19:57] snowleopard commented on #24
@phadej Indeed! I've set up a separate issue #31 to discuss non-empty graphs.

You are right, non-empty graphs are quite interesting and useful by themselves -- you can do a lot of things without `empty`. There are also many situations when we do want empty graphs, so I think Alga should provide both (just like with lists).

I think whatever `X` we choose as the name of the type class, we'll need

[2017-11-14 15:39] snowleopard commented on #31
Perhaps, a slightly better approach would be to stick to the name `Graph`, but use module names to distinguish between general and non-empty graphs?

More specifically:
[code]

Now, if one would like to be explicit about the data type, it's possible to write `NonEmpty.Graph`. And if non-empty graphs are assumed throughout the codebase, then a simple `Graph` will work.

This is similar to `Data.Map

[2017-11-14 17:41] phadej commented on #31
A side note, `Data.Map.Strict.Map` and `Data.Map.Lazy.Map` are the same datatype! (only functions differ).

I'd prefer to have different names for the types, as the functions will be the same, thanks to the type class machinery,

[2017-12-04 00:52] snowleopard commented on #31
Done!

@phadej Thanks for the suggestion and let me know if you spot any issues with the implementation.

I decided not to add a type class for non-empty graphs for now. I think it deserves a new issue.

[2017-12-04 00:52] #31 closed

[2017-12-12 16:27] boggle commented on #17
Late to the thread... putting labels on connect is what I was thinking about, too. Does it have to be a monoid though? Shouldn't a semiring be enough? Or do you think unlabeled edges are important? With "SET" as the semiring, this directly gives labeled multigraphs which is what I would want most of the time.

[2017-12-12 18:50] snowleopard commented on #17
@boggle You're not late, I think we're still looking for the right approach.

Good point, a semiring should be sufficient for combining edges. My previous attempts to extend the theory with labelled edges used monoid labels, but it's interesting to see what happens with a semiring.

Could you clarify what you mean by "SET" here? Plain sets do have the identity element (the empty set), so I guess y

[2017-12-13 10:34] boggle commented on #17
I meant the the normal "Set a" monoid. Except the monoid constraint isn't needed here. Actually the kind of graphs I'm interested in right now would only need "NonEmptySet a" which of course is just a semiring. Layering is possible, too, if "T" is a monoid, then "connect" can be used without a labeling.

[2017-12-14 13:04] snowleopard commented on #17
@boggle I see, thanks for clarifying!

Just to make sure I fully understand your use-case: you are looking for a graph type `G a b` where `a` is the type of vertices, and `b` is the type of labels that can be placed on edges, where multiple edges are allowed between a pair of vertices. Alternatively, we can think of this as having at most one edge between a pair of vertices, which is labelled by `

[2017-12-14 13:25] boggle commented on #17
Yes, that's what I had in mind. And by the way you've put it, I'm realizing if one actually works with a monoid bound, one could get a function "connected a b g" this gives mempty if a b are not connected in a b. That might turn out to feel really natural and wouldn't require moving to NonEmptySet.

[2017-12-14 13:33] snowleopard commented on #17
I think `connect a b mempty` should be the same as `overlay a b` in this case.

[2017-12-14 15:12] boggle commented on #17
Yes, I agree.

This made me now wonder for a moment if that would allow to not even have `overlay`, i.e. overlay becomes just a shorthand for `connect a b mempty` thus reducing the number of operators in the algebra.

[2017-12-14 18:37] snowleopard commented on #17
@boggle That's true! We've been experimenting with so-called 'conditional connect' which allows us to have the following encoding of `overlay` and `connect` for edge-unlabelled graphs:
[code]
This case is not particularly interesting, since it's isomorphic to the datatype with two separate constructors `Overlay` and `Connect`, but when we take this idea to edge-labelled graphs this seems to become

[2017-12-14 22:36] alpmestan commented on #17
You could probably play the same trick with `Semiring b`, just to tie it all up to what I mentionned earlier in this thread. Possibly other structures? But yes, promising encoding, definitely.

[2017-12-15 02:46] snowleopard commented on #17
@alpmestan I used to think we need semirings, but I'm now leaning towards something lattice-like.

Let's try to list all requirements. Below I use `x -{a}-> y` to denote `LabelledConnect`.
* We need `0` and `1` for defining `overlay` and `connect`, as above.
* We'd like to compose edge labels as `overlay (x -{a}-> y) (x -{b}-> y) = x -{a \/ b}-> y`. This leads to `0 \/ x = x`,  `x \/ x = x` and `1

[2017-12-15 08:53] alpmestan commented on #17
My semiring obsession is almost cured, don't worry. So with your formulation, `0` is `_|_`, OK, but `1` is `T` (top) ? In which case we can't "go past `1`"? I might be misunderstanding what you said though.

[2017-12-15 22:34] boggle commented on #17
This is interesting! On the one hand it is really elegant to have neutral elements for both `overlay` and `connect`, on the other hand, I don't quite see the need to have a full lattice with two bounds and both join and meet.

My use case would still be representing multigraphs by labeling edges with sets of tags. The empty set/lower bound would serve to represent `overlay`; any other set `X` woul

[2017-12-16 23:10] snowleopard commented on #17
@alpmestan Yes, that's right. The idea is that `connect x y` corresponds to _maximum possible_ connection between `x` and `y`, whereas `overlay x y` corresponds to _minimum possible_ connection (i.e. no connection).

This duality between `overlay` and `connect` exists in the unlabelled version of the algebra, and I think it may be useful to preserve it, but I admit that the justification is not pa

[2017-12-18 11:16] boggle commented on #17
I've been thinking a bit more about the full lattice encoding for the Set case. What I like about this is that it leads to a information accumulation vs consolidation point of view:

- overlay/connect is essentially join in the lattice between the labels provided by both arguments ("union edge labels", "collect all available information")
- one could add the inverse operation and add meet between

[2017-12-19 22:07] snowleopard commented on #17
@boggle We can avoid making the choice and simply require the user to provide a semi-lattice, plus a default label that will be used for `connect`. For example:
[code]
This may be a temporary solution while we are still looking for the right existing abstraction. I believe this permits both interpretations (full lattice and initial-final).

The accumulation vs consolidation point of view is indeed

[2017-12-20 19:54] boggle commented on #17
Ah! That is of course possible and indeed allows exploring this space more gradually.

Might also be insightful to try to define how to encode an edge labeled graph into a node labeled graph which should be possible with a newtype, using either to distinguish between nodes used for nodes in the labeled graph, and nodes used for edges in the labeled graph, and defining connect accordingly.

[2017-12-21 13:40] snowleopard opened #38 "Add support for bipartite graphs"
https://en.wikipedia.org/wiki/Bipartite_graph

Note that `Graph (Either a b)` with vertices of types `a` and `b` allows connecting vertices of the same type, that is, the resulting graph is not bipartite.

One possible approach to this has been discussed in [this twitter thread](https://twitter.com/andreymokhov/status/919344902772797440).

[2017-12-21 13:42] snowleopard commented on #17
@boggle Indeed. We can do `Graph (Either b a)` with vertices labelled by `a` and edges labelled by `b`. The main difficulty here is that we'll need to somehow constrain `connect` to disallow direct vertex-vertex and edge-edge connections, i.e. the resulting graph must be bipartite -- I've just opened #38 for this.

[2017-12-21 15:30] boggle commented on #38
I like the idea of modelling bipartite graphs. Would be worthwhile to do so using an extra type class with an additional `type A g, type B g, partition :: Vertex g => Either a b`? or perhaps just a boolean predicate?

[2017-12-22 23:52] snowleopard commented on #38
@boggle Oops. Somehow I didn't realise we need to do this.

Indeed, if we'd like to abstract over bipartite graphs and, for example, have a generic algorithm for bipartite matching, then we need to expose the partitions. Seems to be a pretty large design space, again.

[2017-12-24 01:32] boggle commented on #38
I came up with this:

https://github.com/snowleopard/alga/compare/master...boggle:bipartite?expand=1

Observations:

* Tying partition membership to the vertex label type ensures all graphs use the same idea about which vertex belongs where
* It's necessary to get the list of vertices per partition, only way to do that without adding additional datastructures is via `toGraph` and `foldg` while ele

[2017-12-24 13:06] snowleopard commented on #38
@boggle Thanks for the experiment!

It looks like some of the complications in the code are due to the fact that you make sure that no edges are created inside partitions. However, we don't necessarily need to do that, because the law says it's OK to have edges inside a partition -- they don't matter and can later be removed.

For example, consider expressions `1 * 2 * a * b` and `(1 + 2) * (a + b

[2017-12-28 15:23] boggle commented on #38
Agreed, we shouldn't rule out any valid algebraic description of a bipartite graph.

However what is the end goal for alga? Right now it seems to be focused primarily on being able to construct graphs using the algebra in a way that allows using different representations. I would expect that mid to long term actual operations on graphs that extract data (triangle counts, connected components, ...)

[2017-12-28 15:33] boggle commented on #24
Another direction is to come up with a better name for the instances instead of renaming the classes, like `AlgGraph`, or `Ind(uctive)Graph`, or even `FreeGraph`.

I like this better as this at least says something about the used representation. IMHO the analogy with `Tree`, `Map` is a bit of a red herring as they are not backed by a corresponding type class.

[2017-12-28 23:27] snowleopard commented on #24
@boggle I like `FreeGraph`.

Perhaps, we don't have a type class for lists, trees, etc. because free ADTs are perfect for most use-cases? I'm starting to doubt whether type classes bring us a lot of benefit, since in Haskell it's always easy to reinterpret an expression in ADT such as `data Graph` however you like without necessarily involving type classes. We can treat `data Graph` as the core la

[2017-12-29 00:01] snowleopard commented on #38
@boggle Indeed, at the moment Alga is not very useful. It can construct various graphs, but the rest of the functionality is poor and can be split into two categories:
* Simple algorithms operating on the core graph language, such as `induce`, `removeEdge`, `hasEdge`.
* A couple of standard graph algorithms operating on edge lists, such as `dfs`, `scc`, `topSort`, `export`.

Yes, of course! Howeve

[2018-01-05 20:47] snowleopard opened #41 "Write tutorial"
Haddock is not sufficient. We need a beginner-friendly overview of the library with a few simple use-cases.

[2018-01-07 22:10] snowleopard commented on #15
After #37, we have the following improvement:
[code]

We also have a guarantee that the size of the resulting expression is at most 3x of the original. This is a very pessimistic worst case which only applies to strange cliques like in the above example. A couple of more realistic examples:
[code]

[2018-01-12 14:32] jmtd opened #44 "dot syntax escaping required for defaultStyleViaShow"
A Graph type's show implementation might generate strings that result in invalid dot output. For example

[code]

or even

[code]
Coincidentally the latter is legal Dot, but unexpected:

![out5](https://user-images.githubusercontent.com/63694/34879485-52186b4e-f7a5-11e7-88de-c8997c9a5090.png)

[2018-01-12 14:54] snowleopard commented on #44
@jmtd Thanks! Indeed, this looks problematic.

Presumably, this is the right output?

[code]

[2018-01-12 15:51] snowleopard commented on #44
While this is being resolved, the workaround is to use `exportAsIs` after converting all vertex labels to strings using the right escaping. For example:
[code]

[2018-01-12 16:18] jmtd commented on #44
Hi,

Yep that's right.

Very useful, thanks!

[2018-01-13 14:49] jmtd commented on #44
This seems like a suitable piece of work for a beginner, so I am going to take a stab at this, however if anyone else wants to do it please don't let me stop you.

[2018-01-13 15:18] snowleopard commented on #44
@jmtd Sure, please give it a try!

The main difficulty seems to be finding a way to escape characters without sacrificing the polymorphic interface. At the moment users can export into `String`, `Text` or any other similar datatype. How do we implement the escaping logic generically?

Perhaps, we need to define a type class of 'escapable strings' with a couple of standard instances:

[code]

For e

[2018-01-26 18:54] jmtd commented on #44
Sorry for the radio silence here, slow progress, my WIP (not PR-worthy yet) is here https://github.com/jmtd/alga/tree/escape-typeclass

[2018-01-26 19:38] snowleopard commented on #44
@jmtd No problem, take you time :) Don't hesitate to send a draft PR -- happy to review and iterate.

[2018-01-27 12:33] boggle commented on #24
Happy new year! We need to watch out that we are not trying to solve a deeper problem here (cf. http://degoes.net/articles/kill-data). Type classes are what haskell provides for abstracting over different implementations. I also agree that `data Graph` has some primacy over other implementations. The general direction that starts to emerge here of having `data Graph` and a class for values that ho

[2018-01-27 15:00] jmtd commented on #44
OK I'll open one (now :)) as I have something that works for the simple case above, but there's clearly more work to be done.

[2018-02-01 19:24] snowleopard commented on #24
@boggle Happy new year! I've actually read the blog post you linked to, right at the time of my excitement with polymorphic graphs and the finally tagless pattern in general, but thanks for reminding me about it. Some of my current hesitation about the need for the type class is actually well articulated in the comments, for example, this one:

Let's look at one of the current instances of `class

[2018-02-01 20:10] boggle commented on #24
No, not per se. I was more reacting to what you wrote above. I can imagine though someone wanting to write graph representation agnostic code (i.e. for plain data import or using a data structure that bundles and arbitrary graph with some metadata) but perhaps an auxiliary `FromToGraph` type class should be more than enough for that.

[2018-02-18 14:34] jmtd commented on #44
A brief update. I thought it wise to look at what others had done already, and so I was reading through [Data.GraphViz.Printing](https://hackage.haskell.org/package/graphviz-2999.19.0.0/docs/src/Data-GraphViz-Printing.html#addEscapes), in particular `addEscapes` (anchor in that link). The de-facto rules appear to be considerably different to the theoretical ones (I was surprised for example to see

[2018-02-18 17:24] snowleopard commented on #44
@jmtd Good idea to check what others are doing!

I guess if we have a string `Hello\nWorld` we don't want to mess with the `\` but leave it as is.

Yes, we need to collect a dozen of examples/tests and make sure our translation agrees with `dot`.

[2018-02-19 01:09] snowleopard commented on #15
After merging #49, the results got better, but the worst case still remains at 3x, and I don't know how to improve it -- the last example below demonstrates the problem. I believe this is a rather rare case.

[code]

Anyway, I'm satisfied for now, so I'm closing this issue.

[2018-02-19 01:09] #15 closed

[2018-02-27 12:15] snowleopard commented on #14
@nobrakal I think the current benchmarks are such a mess that it might be better to start from scratch :)

I would therefore prioritise the second item in your list: let's figure out what we need to benchmark first.

What about starting from something classic, like a topological sort and depth-first search? Presumably, all graphs libraries have support for these algorithms.

To have a common start

[2018-02-27 21:18] nobrakal commented on #14
Ok, I understand !

I think staying classic for the beginning is a good idea. I will try to produce at least a list of common things to benchmark

Otherwise, representing a graph by a list of edges sounds very sensible ^^.

[2018-03-01 10:52] nobrakal commented on #14
### Other benchmarks
For inspiration, I searched other benchmarks, and only hash-graph provided one:
https://github.com/patrickdoc/hash-graph/blob/master/benchmarks/benchmarks.md

## Benchmark ideas
* Structure
    * The graph construction itself from different list size to different graph type
    * isEmpty (from really empty and others graphs)
    * hasEdge  (with edge randomly chosen, both in t

[2018-03-01 18:50] snowleopard commented on #14
@nobrakal That's a very good start.

I suggest not to include anything Alga-specific into the first version, so let's drop `size` for example.

Also, it may be best to avoid doing things randomly, at least initially, as it could make it difficult to interpret results. Instead I suggest to be very specific about each benchmark, for example:

Benchmark `mesh-n-by-n-diagonal`:
* The graph is `edgeLis

[2018-03-02 18:15] nobrakal commented on #14
Hi,

You are right on both things, lets benchmark things we can compare with others !

Your example seems pretty clear to me, but I have a question: The implementation will not use the edgeList from you example, but only the idea behind it and try to access things directly on the mesh structure, right? I don't understand how we could use this edgeList otherwise, so maybe this is not a very wise qu

[2018-03-02 19:23] snowleopard commented on #14
@nobrakal I would actually prefer that we use exactly this definition to generate input for benchmarks, because it's much more transparent and terse than trying to manipulate lists of pairs of integers.

Can we force GHC to evaluate it fully into a list of pairs of integers before passing it to benchmarks?

[2018-03-04 10:56] nobrakal commented on #14
Ok, I see: it is to generate input. We will have to convert it back to a list of pairs of integer to benchmark with something like:
[code]
In that case, we effectively absolutely need to force the evaluation before passing it to benchmark.
Some well-positonned map can do the trick (mapping over list comprehensions will, I think, force the evaluation of the arguments...). Otherwise, the `$!` or `se

[2018-03-04 12:20] snowleopard commented on #14
No, we don't! The expression above already includes `edgeList $ fmap index` in it, so it will produce exactly the list of pairs of integers in the range `[1..n]`, easy to consume by any graph library. All access patterns are also already translated to vertices `[1..n]`.

[2018-03-04 16:02] nobrakal commented on #14
@snowleopard  Are we discussing to benchmark alga or graph libraries in general ?
I thought the goal was here only to benchmark alga. If I am right, the benchmarking tool will need  _in fine_, an alga structure to benchmark, or I am misunderstanding something ? The process to "convert" an alga structure to a generic edgelist, and then re-convert it to an alga structure to make benchmarks on it (ac

[2018-03-04 16:27] snowleopard commented on #14
@nobrakal I see you point, you are right. I was jumping ahead a bit :-)

So, perhaps this is what we could do in the case of `mesh-n-by-n-diagonal` benchmark:
* The graph is: `mesh [1..n] [1..n]`.
* Vertex access pattern: `[(i, i) | i <- [1..n]]`.
* Non-existing vertex access pattern: `[(0, 0), (n + 1, n + 1)]`.
* Edge access pattern: `[((i - 1, i), (i, i)) | i <- [2..n]]`.
* Non-existing edge acc

[2018-03-04 17:14] nobrakal commented on #14
Ok, I understand now what you meant !
Your example is now totally limpid. I will try during the week to make some drafts on my fork.

[2018-03-05 13:53] nobrakal commented on #14
About the size, a more simple and clean package for benchmarking size is [weigh](https://hackage.haskell.org/package/weigh)

[2018-03-05 14:45] snowleopard commented on #14
@nobrakal Thanks, looks promising indeed!

[2018-03-06 18:05] snowleopard opened #51 "Bring the Todo example back"
It was a good example: https://blogs.ncl.ac.uk/andreymokhov/graphs-in-disguise/

We should adapt it to the current implementation of the library and bring back to the repository, for example, as `Algebra.Graph.Example.Todo`.

[2018-03-06 18:11] snowleopard commented on #51
And an older version is still available in the history of this repo:

https://github.com/snowleopard/alga/blob/91b97ce5c4cad5bd89cf7aae8eebad0c4ba88e1d/src/Algebra/Graph/Todo.hs

[2018-03-10 21:32] srid opened #52 "0.1.0 is missing from Hackage"
0.0.5 is the latest on Hackage.

[2018-03-10 22:26] snowleopard commented on #52
@srid Yes, indeed. I'll upload it to Hackage very soon, hopefully during the next weekend.

[2018-03-11 15:52] nobrakal commented on #14
So I started to think about the benchmarks.
### Overview
The main idea is to write a function of like  `benchGraphStruct :: GraphStruct -> Benchmark`
So one can write a main like
[code]
### Data Structures
* I defined a graphStruct as
[code]

So a GraphStruct contains a name, something that produce a graph from an argument, something capable of displaying this argument (for understanding results),

[2018-03-12 20:24] jmtd opened #53 "exportviaShow might collapse vertices where (show v1) == (show v2) but v1 ≠ v2"
Consider

[code]
`exportViaShow g` results in:

![err](https://user-images.githubusercontent.com/63694/37307248-33a45900-2632-11e8-80fc-a9a25b42416d.png)

But we want

![yes](https://user-images.githubusercontent.com/63694/37307464-fb027f7c-2632-11e8-9c55-0c0d47b1250d.png)

In graphviz language this is achieved by unique node IDs but labelling them with the `show` value e.g. `0 [label="a"]` (altho

[2018-03-12 20:52] snowleopard commented on #53
I'd say this is the right behaviour. Your `instance Show` breaks the unstated (but generally agreed upon) requirement for `Show` instances: if `show x == s` then it must be possible to feed `s` to a Haskell compiler and obtain `x` back. This might seem like a strange requirement, but it's very useful when you want to `show` a Haskell expression and use the result as a real Haskell code.

This requ

[2018-03-14 19:56] nobrakal commented on #14
Hi,

Yeah, it might be a little be complicated ^^.

You are right, the type parameter `b` is not very necessary in GraphStrcut. I think we can assume that we will only build a graph with a single Int argument.

Concerning the `a` (so the type of vertices of a Graph to bench) is, I think, mandatory: A `mesh` will produce `Graph (a,a)`, a `clique` a `Graph a` and `deBruijn` a `Graph [a]`. We can of

[2018-03-15 09:14] anfelor commented on #17
Hey all,

I am currently considering whether to participate in the next GSoC and so I am trying to familiarize myself with this project. There are a couple of things in this thread I didn't understand, maybe you could help my out?

1) If Labels are a BoundedLattice, `a * b` would be `a-{1}->b`, right? But then `x \/ 1 = 1` would mean that `a-{x}->b + a * b = a * b` , e. g. labels get deleted by un

[2018-03-15 17:26] anfelor commented on #17
4) Or maybe this isn't a problem because one could use something like this?
[code]
Then `<> @(Distinct a)` would be idempotent even if `<> @a` isn't?

[2018-03-19 10:57] anfelor commented on #17
I spend yesterday afternoon thinking about this a little more and I think the answers on my questions are 1) Both and yes 2) yes and 3) idempotent semiring, correct? I also tried to set some laws for labelled graphs, but unfortunately with little success. Especially `a-[k] >b-[m]>c = a-[k]>b -[0]> a-[?]>c -[0]> b-[m]>c` was a problem as the natural solution `?=k*m` leads to the contradiction `(a-[

[2018-03-21 00:08] snowleopard commented on #17
@anfelor Apologies for the delay, I'm currently travelling.

I would prefer to start just with a data type. The type class is pretty straightforward, once we are sure the data type works as expected and satisfies the laws we want.

I don't think `AdjacencyMap` can be an instance of `LabelledGraph` since it has no labels. So, I guess you meant some labelled modification of it. If yes, what exactly

[2018-03-26 09:27] mateoatr commented on #12
By performance you mean benchmarking these functions (`removeVertex`, `removeEdge`, `mergeVertices`,...)?

[2018-03-26 14:28] anfelor commented on #17
@snowleopard Apologies for the delay on my part as well.

Yes, I thought about `Tropical l => Map a (Map a l)`, but I am not sure about the efficiency of it.

I already assumed you meant something like that, but what *are* the laws of tropical? The same as a semiring idempotent over `+`?

Yes, I agree, my initial confusion came from the fact that I assumed `->` had something to do with matrix mult

[2018-03-27 00:16] snowleopard commented on #14
I'll just leave this here: https://github.com/haskell-perf and https://github.com/haskell-perf/checklist

[2018-03-27 10:39] anfelor commented on #14
@snowleopard I had exactly the same thought over the weekend. I modified the dictionaries repository to test some [simple graph properties](https://github.com/anfelor/graph-benchmarks). So far my findings are as follows:

**Good about this approach:**
 - The infrastructure is pretty robust and it is simple to fit it to graphs.
 - The community is likely to support this approach, since the code cha

[2018-03-27 13:39] nobrakal commented on #14
Haskell-perf looks great ! (Its checklist is very interesting ^^).

@anfelor The idea is next to make an independent tool to benchmarks also other graphs libraries like described in [this Haskell summer of Code idea](https://summer.haskell.org/ideas.html#graphs). So maybe importing it in alga is not necessary...

[2018-03-27 23:29] snowleopard commented on #14
@anfelor Awesome, thanks for giving `haskell-perf` a try!

I agree with @nobrakal: we probably don't need to make graph benchmarking code a part of Alga -- it may be more discoverable/useful if it is a part of a general Haskell performance benchmarking suite.

[2018-03-28 10:00] snowleopard commented on #17
@anfelor Indeed, it looks like it's just a semiring with an idempotent `+`. I actually expected there were more additional laws :)

Yes, if we do not treat `0` specially we essentially end up with a dense matrix representation. I'm curious whether algebraic graphs (the `Graph` data type) suffer from this too -- maybe not, since they are very efficient in representing cliques. In any case, it looks

[2018-03-28 10:10] anfelor commented on #14
I agree we don't need to import it into the main alga repository, but I believe that we (or at least I :)) need a (possibly separate) repository just for alga benchmarks. I have wondered repeatedly over the last couple of days how one implementation would compare against another, especially in connection with [functional linear maps](http://conal.net/blog/posts/functional-linear-maps).

I would pr

[2018-03-28 10:20] anfelor commented on #17
I meant it as `forall. Graph g => a, b in g => a -{0}->b == b-{0}->a`, but `forall. Graph g => a, b in g => x /= 0 => a-{x}->b /= b-{x}->a` in the general case. So if we don't distinguish between zero and other elements we might end up not being able to use this law in code.

[2018-03-28 10:24] snowleopard commented on #14
@anfelor I think we could have a general graph benchmark suite in `haskell-perf` and an Alga-specific benchmark suite in this repository, which would be tightly coupled with the development of Alga. This sounds like a good balance to me.

I think there are three proposals for this project: from @nobrakal, you and somebody else. From a brief look all three are very strong, so it would be a difficul

[2018-03-28 10:30] snowleopard commented on #17
I see! Yes, without distinguishing `0` we seem to lose the operator `+`  (cannot distinguish it from `->`) as well as all its laws.

[2018-03-28 10:39] anfelor commented on #14
@snowleopard But the alga-specific benchmark should not be based on the `haskell-perf` one? I would couple the alga-specific to the general (but not the other way around) to allow quick testing of standard use cases. And therefore keep the alga-specific in its own repository (at least until the license question is resolved, I have opened an issue for this https://github.com/haskell-perf/dictionari

[2018-03-28 10:46] snowleopard commented on #14
Why not? It seems quite logical to take an Alga-specific benchmark suite, kept in this repository, and then extend it by adding more benchmarks of other graphs libraries.

I think having three repositories (Alga repo, Alga-specific benchmarks repo, and general benchmarks in `haskell-perf`) would be just too confusing. Let's stick to two: one here, for tightly coupling it with Alga development, and

[2018-03-28 10:53] nobrakal commented on #14
@anfelor Your idea is great !

@snowleopard Maybe a git-submodule will fit here ? So your tests could easily extend the one in the haskell-perf repository.

Concerning GSoC, I don't know what to do ! As @anfelor says, if we make one of the principal objective before the program starts, I don't think the Haskell Committee will approve the project...

[2018-03-28 10:54] anfelor commented on #14
Because that could make the benchmarks biased to include graphs with a lot of structure like `clique`s or trees (e.g. tasks for which alga is well suited). I would propose making the benchmarks that compare alga with other libraries completely independent of alga's main development. Some code sharing should be okay as long as they don't influence the range of benchmarks to much, though.

I would t

[2018-03-28 10:56] anfelor commented on #14
Or maybe alga-perf could be independent of haskell-perf/graphs and just use the same infrastructure?

[2018-03-28 10:57] anfelor commented on #14
By the way, Chris Done just added an MIT license to haskell-perf/dictionaries, so we could merge anfelor/graph-benchmarks with this repository.

[2018-03-28 17:28] nobrakal commented on #14
@anfelor On my mind, if something is made on haskell-perf/graphs, allowing it to be simply extended by any of target libraries is a good idea.
So one could simply clone/submodule the repo and compare traditional features with others, as well as adding "personnal-features" benchmark. It is easier to backport enhancements and bugfixes of the parent  haskell-perf/graphs with this. This will also fits

[2018-03-28 18:24] snowleopard commented on #14
@anfelor @nobrakal You convinced me that `haskell-perf/graphs` should be the main benchmark repo :)

How will the Alga-specific benchmark look like then? Will it have `haskell-perf/graphs` as a submodule? Or maybe `haskell-perf/graphs` could somehow be made into a Hackage library, on which we could simply depend?

[2018-03-28 18:59] nobrakal commented on #14
I didn't thought about library, but I think it is a good idea. The general graph benchmarking suite can expose a standard API for making test (on generic `Graph Int` like described above) and standard tests to be made.
It will also provide an executable that execute these standard tests on target libraries, **through** the library provided.

It will reduce many code repetition, and allow a great m

[2018-03-28 23:23] snowleopard commented on #14
@nobrakal Sounds like a good plan! Let's see how it works out.

[2018-03-29 21:08] anfelor commented on #14
@nobrakal Is that roughly what you had in mind?
[code]
I am not yet convinced that this is the right approach, but you should definitely build a prototype!

I don't think that prototypes will really be an issue as there is still a lot to be done afterwards (communication, reading up on other graph libraries, visualisation, etc..), but maybe, @snowleopard, you could write more about your experience

[2018-03-29 21:48] anfelor opened #54 "Add NFData instances"
While writing my [benchmark experiment](https://github.com/anfelor/graph-benchmarks) I noticed that no graph implementation but `data Graph` has a `NFData` instance. Is there a reason for this?

Adding them would for example provide a way to fully evaluate a `Relation a` without [relying on equality with itself](https://github.com/anfelor/graph-benchmarks/blob/12a0a46b1891fb402c663563c5874ea9a105e

[2018-03-30 07:47] nobrakal commented on #54
I agree that having a `NFData` is a good idea. The problem is even more philosophical, what does it mean to "fully evaluate" a graph ?
Equality as you wrote? Or visiting each edge ? Each vertex ? Or maybe map or fold something on it ?
As a mathematical object, it is not clear at all to me...

[2018-03-30 08:13] anfelor commented on #54
It means to eliminate all lazy references from a data structure:
[code]

In practice that is easy to accomplish, since a lot of data structures like Sets already have NFData instances. So for example the one for `Relation a` would just be
[code]

[2018-03-30 14:27] snowleopard commented on #54
@anfelor No, there is no particular reason. They are not there, because I didn't need them so far. And the instance for `data Graph` was contributed by @phadej if I remember correctly.

I don't mind adding these instances, but as you say, it may be non-obvious how to do that in some cases.

One reason for not evaluating the field `graphKL` is that it is internal only -- one should not be able to e

[2018-03-30 14:34] snowleopard commented on #14
@nobrakal @anfelor I suggest you don't think about GSoC. Just work/collaborate as you would normally do on any open-source project. I don't think there is anything unfair about just being yourself :)

The discussions on GSoC have already started. Regardless of the outcome, I'd like to say that I am very grateful to you both for the contributions you have already made. I will get in touch with ever

[2018-03-30 18:44] nobrakal commented on #14
@snowleopard Ok then let's do some work then :smile:  About the GSoC, it is our role to be grateful for your time !

[2018-03-30 19:15] nobrakal commented on #14
@anfelor Here is what I thought (it is the opposite of your example: tests are not provided, but graphs are):

You can view the "very prototypal" version [here](https://github.com/nobrakal/alga/blob/682be51f7bd08817e62e5d02548e9ffeec9c411b/bench/Bench.hs) (in a fork of alga, but it works alone).

You can read the idea in types:
[code]

So, the user will create a set of ToFuncToBench, and will be a

[2018-03-31 12:02] nobrakal commented on #14
Maybe I wrote something too generic, and this seems not to work for functions like `hasEdge`, in need of two arguments.

So please read:
[code]

This allow something like:
[code]

Note that we can compose easily `FuncWithTwoArgs "hasEdge" hasEdge show show` with anything else

[2018-03-31 13:44] snowleopard commented on #14
Came across this PR to `Data.Graph`: https://github.com/haskell/containers/pull/549. A good example of real-life graph benchmarking.

[2018-03-31 22:34] anfelor commented on #54
No, as far as I know there aren't and google turned up nothing useful; only some opinions going in either way.

My two cents to this is that we should make a `NFData` instance that evaluates the `graphKL` field too, but add a comment suggesting to just use `seq` when concerned about space leaks since the first field is strict. That is in accord with `deepseq`'s philosophy of evaluating the whole s

[2018-03-31 22:57] snowleopard commented on #54
Consider `g = clique [1..1000] :: AdjacencyMap Int`. If you evaluate *all* `graphKL` fields of `g`, you'll create 1000 array-represented cliques *with no sharing between them*. That will surely dominate time and memory cost of `dfs` (and pretty much anything else), making benchmarking rather meaningless.

Or I missing something?

[2018-04-01 10:28] nobrakal commented on #14
Great to see a real-life benchmark!

On the PR, the benchmark is about graph creation, which is something very specific: the problem is much more with the NFData instance than with criterion and the need of doing many things almost identical without copying/pasting hundred of lines of code :smile: . Also, just tested, alga don't have any problem with fully evaluating a graph with circuit, meanwhil

[2018-04-01 11:33] snowleopard commented on #14
@nobrakal Indeed, this seems like a much simpler solution :)

By the way, I don't understand how/why `Data.Graph` has a broken `rnf`. It does not use anything like 'tying the knot` construction: it is simply an edgelist represented by an array. Could anyone explain this to me?

[2018-04-01 11:44] anfelor commented on #54
I don't really understand what you mean here, `AdjacencyMap a` has only one `graphKL` field?
I agree that a function like
[code]
would show horrible performance, but if we create a `NFData` instance like
[code]
and call `g = deepseq $ clique [1..1000] :: AdjacencyMap Int` the performance impact should be rather small?

[2018-04-01 11:51] anfelor commented on #54
The `NFData` should probably be
[code]
Evaluating `graphKL` to weak head normal form wasn't what I intended.

[2018-04-01 11:51] snowleopard commented on #54
@anfelor Ah, indeed -- silly me. You are right, I confused this with an possible `AdjacencyMap` implementation discussed here: https://github.com/snowleopard/alga/issues/19#issuecomment-317714889. Here we would essentially have a cached `graphKL` field in every node of the graph expression. Presumably, we wouldn't want to evaluate every `graphKL` here, right?

[2018-04-01 11:58] anfelor commented on #54
Yes, of course. I have to admit though, that I didn't fully understand the reasoning behind that proposal, could you explain it a little further (in a separate issue maybe) if you plan to change the implementation in that direction?

[2018-04-01 13:58] snowleopard commented on #54
@anfelor Yes, good idea. I'll raise a separate issue to discuss an alternative implementation of `AdjacencyMap` based on tagged/parameterised graphs.

Coming back to the question of evaluating `graphKL` filed of the current implementation of `AdjacencyMap`:

Again, consider graph `g = clique [1..1000] :: AdjacencyMap Int`. Let's say we would like to benchmark a cheap function, such as `isEmpty`, `

[2018-04-01 14:08] snowleopard commented on #54
In fact, we don't really want to fully evaluate the `adjacencyMap` field either in the above example.

Perhaps, I'm misunderstanding the use of `rnf` in benchmarks: are you first going to fully evaluate an `AdjacencyMap` and only afterwards measure the performance of a function like `isEmpty`? If the answer is positive, then I think there is really no hard in fully evaluating everything.

[2018-04-01 14:57] nobrakal commented on #54
Concerning benchmarks, the NFData instance is only necessary for graph creation/modification. In fact, we only need it to fully evaluate the result of a function and thus avoid lazyness

[2018-04-01 15:25] anfelor commented on #54
Yes, that's what I had in mind. Of course it will make the creation of an `AdjacencyMap` look a lot more expensive than it will be for most usecases, but maybe one could use a wrapper:
[code]
Then one could benchmark both the behaviour of `AdjacencyMap a` and `WHNF (AdjacencyMap a)`.

This is still possible, I think. As far as I know, if we test a function like `\n -> isEmpty $ clique [1..n] ` in

[2018-04-01 15:27] anfelor commented on #54
Ah, I didn't think about that at first. So for functions like that (where criterion evaluates the result to normal form) a wrapper like `WHNF` is crucial. So one wouldn't test `removeVertex 1 g`, but rather `WHNF $ removeVertex 1 g`.

[2018-04-01 16:08] snowleopard commented on #54
One more thought: fully evaluating `g`, including the `graphKL` field, will actually give an unfair advantage to functions like `dfs` :) Indeed, the cost of converting an `AdjacencyMap` to an array-based representation should very much be included into the cost of `dfs`, as otherwise we will only benchmark the `containers` library and not our wrapper.

[2018-04-01 16:28] anfelor commented on #54
Yes, I see. But if we benchmark `\n -> dfs $ clique [1..n]` then the `graphKL` field would be recomputed at every benchmark run, so we don't run into the problem, right?

When we have a huge graph build from a file though without `deepseq` and we benchmark `dfs` repeatedly on the same graph, the first run would be slow and the others would be faster, which makes the benchmark result depended on th

[2018-04-01 16:50] snowleopard commented on #54
There is still a problem! We want to measure the cost of `dfs` in isolation, not including the time it took to construct the adjacency map. We therefore need a function that *fully evaluates only* the `adjacencyMap` field of `AdjacencyMap`. I don't know how this function should be called, but it's likely not `rnf` from `NFData`.

It may be best to include evaluation of the right part of the data s

[2018-04-01 16:57] snowleopard commented on #54
I'd argue that you never want to fully evaluate `graphKL`.

It's needed only for a few functions like `dfs`, and there is no point in evaluating it before calling `dfs`.

Functions like `rnf` and `deepseq` are typically used to prevent resource leaks in lazy IO programs, but `graphKL` can never lead to a resource leak: if you fully evaluate the `adjacencyMap` field, then you need no resource handl

[2018-04-01 17:00] anfelor commented on #54
As that field is strict, I think that function should be `seq`. For example:
[code]

Only the case of the first benchmark running slower.

[2018-04-01 17:16] snowleopard commented on #54
I don't think it will be running "slower" with `rnf` defined to evaluate only `adjacencyMap`. It will be taking exactly the right time since evaluating `graphKL` is part of the job that `dfs` does.

Second/later benchmarks should somehow be put in exactly the same situation, where only  `adjacencyMap` field is evaluated, and `graphKL` is not.

[2018-04-01 17:18] nobrakal commented on #54
@anfelor Sorry if it is obvious, but I don't understand why the first benchmark will run slower...

[2018-04-01 17:24] snowleopard commented on #54
@nobrakal In case another clarification is needed: Criterion runs several benchmarks by applying exactly the same function `f` to the same input `x`. If `x` is fully evaluated, then the function should always take exactly the same time, modulo some noise. However, in our case we do not want `x` to be fully evaluated: we want the `graphKL` field unevaluated, since it's part of `f`'s job! But then,

[2018-04-01 17:39] anfelor commented on #54
I see your point and I agree that we could write a benchmark like that even if I don't like the result depending on the number of runs; is the number of times criterion runs a benchmark fixed?
That also has the additional advantage of being able to use lazyness in the benchmark, maybe dfs can already start while the `graphKL` field is being evaluated?

However, I believe that it should be possible

[2018-04-01 18:03] snowleopard commented on #54
I'm starting to think that the current implementation of `AdjacencyMap` with a cached `graphKL` field is just too magic. If it takes us so much time to understand how to benchmark it, it will likely be confusing for users too. Maybe we should just avoid such cached fields altogether.

[2018-04-01 19:27] snowleopard commented on #53
@jmtd I'm convinced the current behaviour is correct, so I'm closing this issue. Feel free to reopen if you'd like to argue that something should be changed.

[2018-04-01 19:27] #53 closed

[2018-04-01 19:58] snowleopard commented on #52
Done: http://hackage.haskell.org/package/algebraic-graphs-0.1.0

[2018-04-01 19:58] #52 closed

[2018-04-02 11:35] OlivierSohn commented on #14
Hello, Note that in haskell/containers#549, the benchmark only works because the graph is acyclic (I firs wrote cyclic graph but there was an infinite loop, maybe linked to what @snowleopard says about rnf being broken in Data.Graph?)

[2018-04-02 11:44] snowleopard commented on #14
Hey @OlivierSohn! Thanks, that's good to know. Could you test `Data.Graph` on cyclic graphs by writing a custom function for fully evaluating it instead of relying on `rnf`?

[2018-04-02 11:46] OlivierSohn commented on #14
I won't have the time to do tat but I'll add the suggestion in https://github.com/haskell/containers/issues/550. Thanks!

[2018-04-03 16:32] snowleopard commented on #14
@nobrakal @anfelor By the way, today when I was waiting for a huge amount of time to build Alga because of [a huge list of Criterion's dependencies](https://hackage.haskell.org/package/criterion-1.4.0.0/dependencies) I realised that it's not such a bad idea to have `alga-benchmarks` as a separate repository ;-) I might split this off into a separate repo during this weekend.

[2018-04-05 00:31] boggle commented on #17
I keep coming back to think about graphs with edge weights in terms of information loss/gain (where disconnected means "no information") and what that interpretation would require from connect/overlay.

This leads me to believe that its perhaps not good to try to unify two pieces of information here:
- wether two nodes a, b are connected
- with which weight/label a, b are connected

As an experime

[2018-04-05 20:09] nobrakal commented on #14
I followed my path [here](https://github.com/nobrakal/bench-graph): build the library, generic graphs example, and try it over alga.
I think it produce understandable results with an (almost) clean syntax.

I am facing a little problem though: Criterion benchmark a function by applying an argument to it, and fully evaluate the result. Here are the results over `hasEdge`:
[code]

I don't know if it

[2018-04-05 21:37] OlivierSohn commented on #14
Maybe `whnf` or `whnfIO` can solve the problem?

https://hackage.haskell.org/package/criterion-1.4.0.0/docs/Criterion-Main.html#v:whnf

[2018-04-06 15:12] nobrakal commented on #14
I am quoting http://www.serpentine.com/criterion/tutorial.html

I agree that using `nf` of `whnf` is a choice to be made, but I don't think that change the problem (in fact, i have just tested, and the output is almost the same thing).

[2018-04-10 22:11] snowleopard commented on #14
@nobrakal `6.625 ms` for a graph with 10000 vertices and edges feels slow-ish. Can you add a comparison with the `containers` library?

[2018-04-10 22:25] snowleopard commented on #17
@boggle As far as I understand, you want `O x y` to be different from `C 0 x y`, but I don't understand why this can be useful? Since you are using `max` as your operation, the weight represents some kind of 'connectedness' between vertices, for example, the width of the road between two cities. In this setting, the width of 0 is semantically indistinguishable from non-existent road.

Can you give

[2018-04-11 06:36] nobrakal commented on #14
I started an implementation for `containers` but it doesn't provide a `hasEdge` or similar. I could write one myself but I am not sure it will be very efficient...

I will try soon with fgl :)

[2018-04-11 08:05] anfelor commented on #17
@boggle Furthermore, in a semiring 0 doesn't need to be 0 and 1 doesn't need to be 1 (of the underlying structure). Take for example the longest distance semiring in the excellent ["Fun with semirings"](http://stedolan.net/research/semirings.pdf) paper:
[code]
We would then define `overlay (connect l a b) (connect k a b) = connect (l + k) a b`. Furthermore `overlay` would connect nodes with the `L

[2018-04-11 10:01] nobrakal commented on #14
Created a gist with results here: https://gist.github.com/nobrakal/9acc8f86554fea3d34187cfafec0978c

Note that `hasEdge/cycle10000/(-1,2)` is now `12ms`, but the benchmarks ran on my laptop (basically a tablet) which more less powerful than my personal computer where the benchmarks had run the past week (I don't now if is important, but it can explain simply this problem...).

For a side note, `fg

[2018-04-11 10:57] snowleopard commented on #14
@nobrakal I think this looks fine: `fgl` probably supports `hasEdge` of `O(log(n+m))` complexity, whereas in Alga the complexity is `O(s)`: we don't annotate the graph construction tree with any additional information, so you need to explore the whole tree to answer the `hasEdge` query :)

With `container` you'll probably be able to respond in `O(m/n)` time on average, i.e. you will need to traver

[2018-04-11 11:18] anfelor commented on #17
@boggle The set of laws @snowleopard and I agreed on so far (I believe) are as follows:
A Graph is a quadruple `(G, S, -{}->, e)` with S an idempotent semiring and the following laws:

  0. forall. `a,b,c` in G and `r,s` in S:
  1. `a -{r}-> e = e -{r}-> a = a`
  2. `a -{0}-> b = b -{0}-> a`
  3. `(a -{r}-> b) -{s}-> c = (a -{r}-> b) -{0}-> (a -{s}-> c) -{0}-> (b -{s}-> c)`
  4. `a -{r}-> (b -{s}-

[2018-04-11 12:31] snowleopard commented on #17
@anfelor Yes, this sounds good. Have you formally proved the theorems? I haven't yet, but plan to do this in the Agda repository: https://github.com/algebraic-graphs/agda.

By the way, I haven't thought about multiplicative inverses, that's pretty cool!

To have a fixed common vocabulary, I pushed a branch with a draft implementation of edge-labelled graphs: https://github.com/snowleopard/alga/blo

[2018-04-11 13:46] anfelor commented on #17
No, I haven't yet, but I could do it if you want.

  1. `+ := -{0}->`. Commutativity is 1.2 and Associativity 2.1 above
  2. `-> := -{1}->`. Identity is 1.1 and Associativity is 2.1 above
  3. `->` distributes over `+` is 2.3 above
  4. Decomposition is either of 1.3 or 1.4 with `r=s=1`

Sounds good!

Related: `-{s}->` looks pretty ugly, maybe we should switch to a different notation? `<s>` or som

[2018-04-11 16:42] snowleopard commented on #17
@anfelor Sure, if you are familiar with Agda, feel free to send a PR to the Agda repository. Alternatively, if you'd like to prove it your favourite prover, just share the link to the proof. A pen-and-paper proof is fine too, although it's harder to check :-)

Your proof sketch for Graph laws looks correct.

By `x -{s}-> y` I actually meant an arrow between `x` and `y` with `s` written on top of i

[2018-04-11 17:11] anfelor commented on #17
I will do that tomorrow or friday.

I prefer the shorter `a\xrightarrow{s}b`, but to each his own :)

[2018-04-13 15:14] nobrakal commented on #14
I follow my path in https://github.com/nobrakal/bench-graph

Proof-of-concept are working for `alga`, `fgl` and `containers`. I am now trying to allow comparison over the benchmarks (and to produce a readable output from all this benchmarks) (soon available through `cabal bench compare`).

Concerning generic graphs, I have implemented `Path`, `Circuit` and `Complete`. I am thinking about a way to

[2018-04-15 01:46] snowleopard commented on #14
@nobrakal Please run this on CI and give a link to the CI result from README -- then it would be always easy to see the latest comparison results.

Are you talking about what I called 'edge access pattern' and 'non-existing edge access pattern' in one of the early comments?

[2018-04-15 18:45] nobrakal commented on #14
Done.
For now the output is not really nice, but it allows quick comparison, and data are just here, hidden somewhere in /tmp

Yes exactly :) The problem is to choose which edge to take for a pattern, because for big graphs, theses patterns can represent _a lot_ of edges !

[2018-04-15 22:25] snowleopard commented on #14
@nobrakal Awesome! That's already pretty interesting/informative -- lots of optimisations to do for Alga ;)

Sure, at some point we'll need to think about this more carefully, but I think at first the priority is to make sure we have a robust and convenient benchmarking infrastructure. You're on the right track 👍

[2018-04-17 16:01] nobrakal commented on #14
The problem is in fact the infrastructure ^^.

I have reworked it: it expose now a function:
[code]
That will produce a Benchmark of a function tested over the `GenericGraph` passed.

The idea is to define standard graphs (like `Complete`, `Path` and `Circuit`) to be passed, and to map `benchOver` over a `[ToFuncToBench a]`

This result for alga something like:
[code]
Concerning 'non edge access p

[2018-04-18 15:45] anfelor commented on #24
This sounds like a really good idea and could even allow other instances based on immutable arrays that would be too expensive at the moment. Do you have some new thoughts about this?

This might be important for an implementation of #17

[2018-04-18 17:00] anfelor opened #61 "Idea: Add SubGraph data type"
The idea is to decouple the graph creation functions from the actual graph creation. In code:
[code]
This should have the same performance characteristics as the current implementation, since it is just laziness made explicit. It is also very similar to the `Cached` data type in #19. There could be the following benefits:

  1. The `Graph` data type could be made strict. I am not sure if it is a g

[2018-04-18 19:51] snowleopard commented on #61
Interesting. I haven't though about exactly your version of `SubGraph`, but I was exploring ideas of extending the `Graph` datatype with some higher-level combinators. For example:
[code]
This also allows some efficient algorithms.

My initial impression is that your `SubGraph` will end up containing too many constructors making it quite painful to write algorithms that can efficiently manipulate

[2018-04-18 22:51] snowleopard commented on #24
@anfelor I'd love to have an efficient `array`-based implementation using this idea, but I haven't had time to explore it yet. I think we should aim at implementing a function that takes a `Graph a` and a mapping from vertices to indices `a -> Int` and produces something like an `AdjacencyArray` in O(|V| + |E|) time:

`toGraphArray :: Graph a -> (a -> Int) -> AdjacencyArray`

By the way, here is m

[2018-04-19 01:41] snowleopard commented on #14
@nobrakal I've sent a PR (https://github.com/nobrakal/bench-graph/pull/1) trying to simplify the infrastructure. Perhaps, we'll be able to simplify it even further.

[2018-04-19 14:13] anfelor commented on #24
I don't see why this is a problem, isn't not sharing subgraphs the default for basically every graph library? I would guess the reason why it is so slow is because `overlay` and `connect` are `O(n + m)`, making `fromEdgeList` `O((n + m)^2)` (where `n=|V|` and `m=|E|`). Shouldn't a `toGraphArray` function avoid this?

Is `Int` necessary? Maybe `Unbox a` from the vector package would be more flexibl

[2018-04-19 15:24] snowleopard commented on #24
@anfelor Take the `AdjacencyMap` instance: you have a lot of sharing between various subgraphs within the same expression. For example, `clique [1..100]` will likely store sets `{100}`, `{99,100}`, `{98,99,100}` only once in memory. Without this, `AdjacencyMap` would also be very slow and likely unusable. `GraphArray` has no way to achieve that: it has to allocate memory for every intermediate gra

[2018-04-19 15:31] snowleopard commented on #61
Right, I see what you mean. Perhaps, this could indeed be useful, but I also can't come up with convincing examples. The `topSort` on `Clique` speed-up can be achieved in many other ways.

Let's keep this issue open. Perhaps, we'll come up with a good use for the `SubGraph` datatype.

[2018-04-20 15:54] anfelor commented on #24
Ah, sharing while constructing the graph and not in the fully evaluated graph. Of course, the old implementation doesn't do that.

No, I am not :).

In the pull request #62 I have extracted the GraphKL field from AdjacencyMap into its own module. Do you think that would be sufficient as a array based implementation, or do we need another one based on matrices (as opposed to an array refering to li

[2018-04-22 10:49] anfelor commented on #13
Have you looked into [doctest](https://github.com/sol/doctest)? I think it would go a long way towards reducing code duplication.

[2018-04-23 12:37] snowleopard commented on #13
@anfelor Thanks for the pointer! I haven't tried it but it looks promising.

It will likely not be able to handle all examples, as some of them use function equality. We need a proof-of-concept implementation.

[2018-04-24 23:12] snowleopard opened #63 "Relational graph composition"
The following *relational graph composition* operation is useful for various reachability algorithms but I can't figure out an efficient implementation.

Let `z = compose x y`. Then:

* `Ez = Ey ∘ Ex`, i.e. we compose edge sets using the [relational composition](https://en.wikipedia.org/wiki/Composition_of_relations) `∘`. In other words, an edge `(a,c)` belongs to `z` only if there are edges `(a,b

[2018-04-25 07:54] anfelor commented on #63
In the labelled graph setting, would the relational composition use the multiplication of our dioid
e. g. `(a [ l ]> b) * (b [ k ]> c) = a [ l * k ]> c`?

[2018-04-25 12:49] snowleopard commented on #63
@anfelor Yes!

In fact, this graph composition will also allow us to implement an instance of `Dioid` for labelled graphs, much like this is usually done with matrices whose elements are dioids. We will use `|*| = compose`.

[2018-04-26 10:02] nobrakal commented on #14
@snowleopard The https://github.com/haskell-perf/graphs repo is now living :)

I suggest to move this discussion over there, since it doesn't concern only alga.
For note, I added support for `hash-graph` !

[2018-04-26 11:17] snowleopard commented on #14
@nobrakal Awesome! Yes, let's continue discussions there.

I've renamed this issue and will remove the current benchmarking code from Alga -- it will become much faster to build.

[2018-05-07 15:33] snowleopard commented on #38
@nobrakal I also prefer the typed variant.

If we summarise the discussions so far, we can have something like:

[code]

[2018-05-08 20:34] nobrakal commented on #13
So I tried with `doctest`. Took some time to set up (the need to hide some of Prelude, etc), but I came to a partial implementation of tests of `Algebra.Graph`.

You can see the (very very partial, in fact just for the data definition and the first function) results here: https://github.com/nobrakal/alga/commit/6a65eb19ba4a5fb7934f16e7e66a0bfa4b429693

With a "clever" setup (where I define the (+)

[2018-05-10 23:10] snowleopard commented on #13
@nobrakal Thanks for the experiment! These examples look good, but I think there will be many cases where things will start breaking, e.g. there are function comparisons `hasVertex x . vertices == elem x` which will have to be converted to the form `hasVertex x (vertices xs) == elem x xs`, which is probably fine for this example, but there may be others :-)

I don't like that we lose references to

[2018-05-11 21:45] snowleopard commented on #13
Awesome, thanks!

I prefer to stick to properties throughout the module -- for consistency. So, let's use `isEmpty empty == True`.

[2018-05-19 16:01] nobrakal commented on #54
What is the status of this ? If `AdjacencyMap` is problem, is the NFData instance of `Relation` is one ?
The one proposed by @anfelor seems more than reasonnable:

[2018-05-19 21:37] snowleopard commented on #54
@nobrakal Yes, this `Relation` instance looks fine. Feel free to send a PR!

[2018-06-03 15:46] nobrakal opened #71 "Improve edges function of Algebraic.Graph"
I investigated about poor results of `alga` in https://github.com/haskell-perf/graphs

I found that the `edges` function from `Algebraic.Graph` is a bit naive:

[code]

This can lead to very poor graph representation: For example with a `clique [0..9]`
[code]

Doing a `edges $ edgeList $ clique [0..9]` will produce:
[code]

This representation can lead to very poor performance on big graphs.

I ju

[2018-06-04 14:48] snowleopard commented on #71
One little but significant advantage of the current implementation of `edges` is that it has no constraint on the type of vertices `a`, i.e. it's fully polymorphic `edges :: [(a, a)] -> Graph a`. What you suggest will require `Ord a`, ruling out some graphs, e.g. whose vertices are functions.

I think it's reasonable to add new function, perhaps called `edgesOrd`, that will rely on `Ord a` to make

[2018-06-08 16:37] nobrakal opened #75 "Specialize functions using Set with IntSet when possible"
I was reading GHC options, and one can use `RULES` [to use specialized functions when needed](https://downloads.haskell.org/~ghc/latest/docs/html/users_guide/glasgow_exts.html#rule-spec).

Because `Graph Int` is a common type, I think that providing some specialized functions can be a good idea.

The specialisation will look like
[code]

Particularly for `vertexList` and `vertexCount`.

Some bench

[2018-06-08 22:43] snowleopard commented on #75
@nobrakal Great idea! Let's do that once I complete the refactoring in #74.

[2018-06-10 18:07] #14 closed

[2018-06-12 00:30] srid opened #78 "Failing tests for latest master"
[code]

[2018-06-12 00:45] snowleopard commented on #78
@srid Hmm, that's strange -- tests are passing on our CI bots (and locally for me).

This looks like a problem with the version of QuickCheck. Which version are you using?

[2018-06-12 01:43] srid commented on #78
Ah, looks like it. I must be using a really older version (whatever is available in reflex-platform).

[2018-06-12 01:43] #78 closed

[2018-06-12 17:34] nobrakal commented on #75
I don't know if it worth using [Specialize pragma](https://downloads.haskell.org/~ghc/latest/docs/html/users_guide/glasgow_exts.html#specialize-pragma)

It generate a copy of the function but only specialized for `Int` and thus avoid the type parameter in Core

[2018-06-12 18:32] snowleopard commented on #75
@nobrakal I'm not sure what you mean. I guess this only helps to optimise type classes -- for example, you could use it to specialise code for some known `ToGraph` instances. Or, similarly, for the type classes `Graph`.

[2018-06-12 19:47] nobrakal opened #80 "Thouht: We sometimes don't need to distinct Overlay and Connect"
Hi,

I did not found a better title, but here is the idea.
Reading the `Algebra.Graph` code, I found there was some functions using `foldg`  with the same two last arguments.

For example:

* [isEmpty](https://github.com/snowleopard/alga/blob/2b6e263c2127b98c9cc7f378892f2b23306320dd/src/Algebra/Graph.hs#L428)
* [size](https://github.com/snowleopard/alga/blob/2b6e263c2127b98c9cc7f378892f2b23306320d

[2018-06-12 20:00] nobrakal commented on #75
Using this SPECIALIZE pragmatic will duplicate functions where used, simply replacing their generic type `a` by `Int` and make them faster for `Graph Int` object (because generic functions have to carry a type argument once represented in SystemF)

[2018-06-12 22:46] snowleopard commented on #80
@nobrakal Interesting! Yes, of course you can represent graphs (or any algebraic expressions) simply by trees labelled with operators. In fact, this is similar to what I plan to use for labelled graphs :-)

See here: https://github.com/snowleopard/alga/blob/edge-labels/src/Algebra/Graph/Labelled.hs#L62-L71

There is one important advantage of the current data type that you didn't mention: its cons

[2018-06-12 22:53] snowleopard commented on #75
I see. Can you try if this gives a good performance boost to some existing function?

[2018-06-13 17:05] nobrakal commented on #75
Well I haven't tested, but it give actually a nice speedup. For example, after adding a SPECIALIZE instruction for Graph Int on `induce`, `foldg` and `hasEdge`, I have

## hasEdge

Descritpion: Test if the given edge is in the graph (with arguments both in the graph and not in the graph (where applicable))

### Mesh
<TABLE>
   <TR>
      <TH>
      </TH>
      <TH CLASS = "thinright">
         1

[2018-06-13 17:10] snowleopard commented on #75
@nobrakal Thanks! The benefit seems to be significant.

I think we should go for it. The only downside is that the resulting binaries are going to be bigger (we generate more specialised code), but that's probably not a big deal.

We can even try to measure the effect on the size of binaries -- compare the size of an executable with and without the specialisation. I doubt the impact will be that b

[2018-06-13 17:57] nobrakal commented on #75
Mhh I misunderstood how worked SPECIALIZE. This article explain it better than me : http://mpickering.github.io/posts/2017-03-20-inlining-and-specialisation.html

It works only for _overloaded_ functions. (I optimized `hasEdge` by change, since it requires an `Ord` instance ^^ ).

So I agree that specializing overloaded functions of alga won't cost too much !

[2018-06-14 10:47] snowleopard commented on #80
Yes, `ViewPatterns` may be the way to go.

[2018-06-17 17:51] nobrakal commented on #75
I think this can be closed now, I don't see further optimization concerning specialization for `Algebra.Graph`

[2018-06-17 21:04] nobrakal commented on #80
An other option is [PatternSynonyms](https://ghc.haskell.org/trac/ghc/wiki/PatternSynonyms). It is much more like what we need to hide constructors, it provide synonyms.

There is a naming problem: A pattern cannot have the same name as the constructor... But one can pose:

[code]

Some advantages:

* They can be used to construct graphs effectively, so they can even replace lower-cased aliases.
*

[2018-06-18 10:14] snowleopard commented on #75
@nobrakal Many thanks for exploring this! I think we got a good speed up thanks to specialisation.

[2018-06-18 10:17] #75 closed

[2018-06-18 10:42] snowleopard commented on #80
Yes, this is a promising approach.

While we're thinking about a more efficient internal representation, I think it is also important to consider packing arguments to multi-way `+` and `*` in lists. You then end up with something like this:

[code]

[2018-06-18 16:16] nobrakal commented on #80
I played a bit this afternoon and came to:

[code]

This is passing tests, combining view patterns and patterns synonyms can lead to some interesting results ^^.

Sadly, I think this will slow down the whole thing, since the traditional _foldg_ will not be so efficient !

[2018-06-18 16:47] nobrakal commented on #80
The results of the bench suite, even using custom foldg like the don't require the Connect of Overlay information, for example, I redefined `hasVertex` with
[code]
isEmpty: 0.97
vertexList: 2.33
vertexCount: 2.25
hasVertex: 1.58
edgeCount: 1.94
edgeList: 1.45
hasEdge: 1.63
addEdge: 2.03
addVertex: 2.68
removeVertex: 1.50
[code]

[2018-06-18 17:28] snowleopard commented on #80
We might call such folds "blindfolds" :-)

Are numbers > 1 good? I'm sure I'll keep forgetting that :D Maybe should add `(good)`, `(bad)` to the table!

By the way, have you also done `overlays = Node Overlay` and `connects = Node Connect`? That should give a good speed up.

[2018-06-19 21:12] nobrakal commented on #80
I added a small reminder:
[code]

So these are very bad values ^^. I just saw that I haven't changed `rnf`, so maybe when I used pattern matching, it slowed down the whole thing.

I tired with more specialized `foldg` but I am not able to obtain descent results

I have pushed the try here: https://github.com/nobrakal/alga/tree/betterRepresentation

A bench is running: https://travis-ci.com/nobraka

[2018-06-19 21:31] snowleopard commented on #80
I'm afraid this doesn't help me, still takes me a while to understand =) Why not add obvious `(good)`/`(bad)` labels instead? If you want to get fancy, you could also add `(OK)` when `0.9 < k < 1.1`.

It's quite surprising to see such a slowdown here. We should be doing less work to traverse a tree and find all vertices -- do you have any ideas why this happens? By the way, it may be useful to tes

[2018-06-20 11:41] adicirstei opened #83 "Implement Algebra.Graph.Undirected"
Hi,

I have a dumb question. At first I thought that a `SymmetricRelation` being a `Graph` and a `Graph` being a `Functor` I just can map a function over it. I was wrong as the `Graph` was the the `class` not the data type.

Any advice on an efficient way on how  to do this?

Thanks!

[2018-06-20 12:09] snowleopard commented on #83
@adicirstei Hi there!

`SymmetricRelation` is an instance of the type class `Graph` but it cannot be made an instance of `Functor` because it is internally represented by `Data.Set` which requires the `Ord a` constraint.

We can define a function `gmap :: Ord b => (a -> b) -> SymmetricRelation a -> SymmetricRelation b` but it's not polymorphic enough to be used as `Functor`'s `fmap`.

In fact, we

[2018-06-20 12:12] snowleopard commented on #83
An alternative would be to add `Algebra.Graph.Undirected` that would be a simple wrapper around `Graph` data type defined in `Algebra.Graph`, which is a proper `Functor`.

Then we would be able to define the `instance Functor UndirectedGraph`.

[2018-06-20 12:30] snowleopard commented on #80
Thanks @nobrakal!

Perhaps, for `foldgWithoutEmpty'` you need to use parameter `Operator -> [b] -> b` instead? That might lead to a more efficient code.

[2018-06-20 16:13] adicirstei commented on #83
What would involve doing `UndirectedGraph` ?

[2018-06-20 16:24] snowleopard commented on #83
@adicirstei The simplest way forward is to define a `newtype`:

`newtype UndirectedGraph a = UndirectedGraph { graph :: Graph a } deriving (Functor, ... )`

Then add a custom `Eq` instance, and modify a couple of graph algorithms to correctly deal with undirected edges. Most of the API of this module would simply redirect to the inner `graph`.

[2018-06-20 17:48] nobrakal commented on #80
Ooops, I spent some time to figure out the the bench-suite was broken. A mesh wasn't a real mesh !

Here is the corrected times:

## removeVertex

Description: Remove a vertex of the graph

### Mesh
<TABLE>
   <TR>
      <TH>
      </TH>
      <TH>
         1000
      </TH>
   </TR>
   <TR>
      <TH>
         Alga
      </TH>
      <TD>
         195.8 μs
      </TD>
   </TR>
   <TR>
      <TH>

[2018-06-20 18:34] adicirstei commented on #83
Great! I wasn’t sure how you were seeing it.

Adrian

[2018-06-20 21:43] snowleopard commented on #83
@adicirstei Would you like to give this a try? I think it would be nice to add `Algebra.Graph.Undirected` to the library.

[2018-06-21 00:38] snowleopard commented on #80
I mean the function signature should be:
[code]
The function `op` here deals with both types of nodes, so on of the conditionals (checking the operator of the current node) disappears/is pushed inside the function.

[2018-06-21 08:43] nobrakal commented on #80
Yep you were right, it boost a bit performances, but nothing extraordinary:

## removeVertex

Description: Remove a vertex of the graph

### Mesh
<TABLE>
   <TR>
      <TH>
      </TH>
      <TH CLASS = "thinright">
         1
      </TH>
      <TH CLASS = "thinright">
         10
      </TH>
      <TH CLASS = "thinright">
         100
      </TH>
      <TH>
         1000
      </TH>
   </TR>
   <

[2018-06-21 11:34] nobrakal opened #84 "Benchmark hasEdge"
Hi,

This is just for the record:

I saw: https://github.com/snowleopard/alga/blob/master/src/Algebra/Graph.hs#L449 :

-- implementation provided by the ToGraph type class.

So here is the benchmarks:

`Alga` use the the ToGraph definition, `AlgaOld` is the current implementation:

## hasEdge

Description: Test if the given edge is in the graph (with arguments both in the graph and not in the grap

[2018-06-21 16:03] snowleopard commented on #84
Interesting, thanks! I don't fully understand what you benchmarked, can you show the definition you used for the `Alga` (new)?

Could it be that we should specialise `ToGraph` code to `Graph` or simply copy the code?

[2018-06-21 21:45] nobrakal commented on #84
Sorry if I wasn't clear.

For the FIRST table, I used (copy/pasted from ToGraph)
[code]

For the SECOND, I used
[code]

[2018-06-22 21:21] snowleopard commented on #84
Wow, that's pretty surprising to me. So, essentially, on `clique` we get a 10x slowdown, and the only difference for `clique` is the term `xs && yt`.

What about making the third field (or maybe all of them) of the tuple strict? Perhaps, we are accumulating huge unevaluated trees of Boolean expressions in the process?

[2018-06-26 09:42] nobrakal commented on #84
Sorry for taking so long to answer. Your implementation is faster but not enough:
### Clique
<TABLE>
   <TR>
      <TH>
      </TH>
      <TH>
         1000
      </TH>
   </TR>
   <TR>
      <TH>
         Alga
      </TH>
      <TD>
         692.3 ms
      </TD>
   </TR>
   <TR>
      <TH>
         AlgaOld
      </TH>
      <TD>
         94.69 ms
      </TD>
   </TR>
</TABLE>

Note that this is c

[2018-06-26 15:25] nobrakal commented on #80
Again, this is a problem with `edges`. Maybe I should change the comparing script to use the alga representation instead of `edges`, but `edges` is what users will use.

The same code benchmarked using alga's clique:
### Clique
<TABLE>
   <TR>
      <TH>
      </TH>
      <TH>
         1000
      </TH>
   </TR>
   <TR>
      <TH>
         Alga
      </TH>
      <TD>
         29.79 μs
      </TD>

[2018-06-26 16:01] snowleopard commented on #80
I agree: `edges` is very often used to construct graphs, so we shouldn't assume graph expressions are coming in a better shape.

[2018-06-26 16:03] snowleopard commented on #84
I don't understand what you mean: both algorithms are working on exactly the same input, right? It's not the fault of the input that one algorithm takes 10x longer than another :)

[2018-06-26 17:19] nobrakal commented on #84
Mmh, yes your are right, I wanted to say to we must not forget that we are only using a very big stack of overlayed edges from `edges` :)

[2018-06-27 10:41] nobrakal commented on #80
So I don't know if we can make a better `induce` here (and because all the graphs structures are similar when building with edges, our induce is faster in very big lists nested inside a `Node`)

[2018-06-27 15:23] snowleopard commented on #84
@nobrakal I don't think your `hasLoop` is correct, it will return `True` for `Connect Empty Empty` :) Unless, of course, you rely on the feature of (some) implementations of `induce` that do constant folding to eliminate `Empty` whenever possible.

[2018-06-27 15:32] nobrakal commented on #84
Yep totally, I was thinking with `Algebra.Graph.i`Algebra.Graph.induce` which throw away empty leaves

[2018-06-27 15:38] snowleopard commented on #84
@nobrakal Right, I see. I don't mind adding `hasLoop` into the API, so feel free to do that, but consistently across various modules.

So, what's the conclusion regarding `hasEdge`? I'm confused by so many different versions we discussed :) What is the most efficient implementation?

[2018-06-27 16:24] nobrakal commented on #84
You don't mind to do it _yourself_ but will merge if I do it ? I prefer to ask ^^

I was also ^^.

The actual one is the fastest, with graphs constructed with `edges` or with `clique`.
But a somewhat better version is:
[code]

This improve a bit the time of the function (it is about `1.07` times faster), and mostly drop the `Ord` instance required on vertices because of `isSubgraphOf` in the curre

[2018-06-27 16:30] snowleopard commented on #84
I don't mind either, but I won't find time to do it myself in the next couple of weeks, so feel free to do it :-)

OK, let's switch to your improved implementation -- it's not immediately obvious it is correct but it actually looks quite nice. Please send a PR!

[2018-06-27 21:57] fosskers opened #85 "Child groups of "equal elevation"?"
Hi there, I'm the author of a particular package manager written in Haskell. About 6 months ago [you offered your help](https://www.reddit.com/r/haskell/comments/7lj388/haskell_sabbatical/drmzkwx/) for when I reached the stage of evaluating `algebraic-graphs`. I'm there now, so hi!

Here's the general problem I'm looking to solve:

Packages on a Linux system have dependencies, and these dependency

[2018-06-28 11:15] nobrakal commented on #84
I was going to send a PR, and while verifying my results, I benchmarked to `hasEdge'` function alone. It is quite better with graphs constructed with `edges`, but slower with `clique`: Here is the detailed benchmarks:

[code]

So without the suffixed `induce`. It is really faster hand drop the `Ord` instance:
[code]

The first three tested edges are edges _in_ the graph, the last three are not in

[2018-06-28 14:54] nobrakal commented on #80
Note that the implementation described in https://github.com/snowleopard/alga/issues/84#issuecomment-401000652 shows great results here
[code]

Even with an algebraic clique:
[code]

[2018-06-28 14:59] snowleopard commented on #85
Hey @fosskers! Sure, happy to help :)

I think what we really need here is breadth-first search, but we could start with a simpler but less efficient approach:

[code]

Seems to do what you need:

[code]

This is very suboptimal in terms of performance. BFS could do this in O(n + m) time.

How large are your graphs? Perhaps this implementation is sufficient? It's advantage is that it's simple. If

[2018-06-28 15:15] snowleopard commented on #85
I edited my comment above. I initially misjudged the complexity of my solution, but then remembered that `postSet` is much faster than `preSet` for `AdjacencyMap`.

[2018-06-28 18:36] fosskers commented on #85
These graphs won't be too big for the average user (dozens of vertices at most), but I have gotten reports of people with ~300 packages needing updates, would could balloon into a 500+ vertex graph.

[2018-06-28 19:02] snowleopard commented on #85
I think my naive implementation will take sub-second time for graphs with <1000 vertices, so if you are going to do anything non-trivial with the packages, e.g. download or build them, it will be just noise.

But I'm still interested in implementing a fast version, so I'll keep thinking.

[2018-06-28 19:05] fosskers commented on #85
Oh yeah, this app is completely IO-bound in terms of perf, so I suppose this isn't a worry.

[2018-06-29 22:32] snowleopard commented on #80
Interesting, that's an impressive speed up.

[2018-06-29 22:36] snowleopard commented on #84
Wow, what happens here?
[code]
It's 100 times slower here! Could you investigate why?

[2018-06-30 10:03] nobrakal commented on #84
The clique is in the form `Connect 0 (Connect 1 (Connect 2))`, so because I run `hasVertex` for every `Connect` node, this take very long time if we search an edge "at then end".

That is why it works great with #80 representation ^^
I suspect that it will be great fo "balanced" graphs, with similar of nodes on each part of a "Connect"...

[2018-06-30 10:09] snowleopard commented on #84
Ah, of course -- the version that calls `hasVertex` actually has quadratic complexity. That's why I used triples in my implementation -- to memoize the invocations of `hasVertex`.

[2018-06-30 17:34] snowleopard commented on #84
Well, you are comparing an O(n) implementation against an O(n^2) one. Of course the latter will always lose on large benchmarks.

I don't this there is any point in including a quadratic version into the library when there is a linear implementation. Think why the quadratic version manages to be faster on some examples -- perhaps that will help you figure out how to improve the linear version too!

[2018-07-01 13:10] nobrakal commented on #41
So I have worked on https://github.com/nobrakal/alga-tutorial-traditional .

It is a tex file, but using `pandoc` and few css tricks, it can render in HTML. If it fits, I think the best place to store it is in github using https://pages.github.com/ .

I can generate the HTML now and store it in my repo if you don't want to mess the actual alga repo with this. Then you can add a submodule and direc

[2018-07-02 00:29] snowleopard commented on #84
@nobrakal Sorry, I'm not sure which implementation you refer to. Perhaps, just create a PR and we'll discuss it there :)

[2018-07-02 14:40] nobrakal opened #87 "Strange comment in NonEmpty"
Hi,

I just passed by:
[code]
(Here: https://github.com/snowleopard/alga/blob/master/src/Algebra/Graph/NonEmpty.hs#L628 )

So I tried and tests failed (one could have guessed it) with `removeEdge 0 0 $ edge 0 0 `.

In fact:
[code]

His this true for non loop edges ?

[2018-07-02 15:18] snowleopard commented on #41
@nobrakal Hosting on GitHub pages would be great!

I think it would be best if the tutorial lives in your repo and I simply link from Alga's README to the page.

[2018-07-02 15:21] snowleopard commented on #87
@nobrakal Hmm, I think you are right and the comment is wrong. Feel free to send a PR removing it, or I will do it myself. Thanks!

[2018-07-03 08:31] nobrakal commented on #41
I changed the repo name to: https://github.com/nobrakal/alga-tutorial

And launched github pages at https://nobrakal.github.io/alga-tutorial/

[2018-07-03 14:02] nobrakal opened #90 "Replacing Algebra.Graph by Maybe (Algebra.Graph.NonEmpty)"
Hi,

I have been working on a different implementation of `Algebra.Graph`, based on `Algebra.Graph.NonEmpty`.

The idea is to have:
[code]

Using patterns, with:
[code]
One can reproduce the traditional `Algebra.Graph` interface.

This big change can be summarized with some functions:

[code]

We now check the neutrality of `empty` *directly* into the `overlay` and `connect` functions.

[code]
`ed

[2018-07-03 19:12] #87 closed

[2018-07-03 22:32] snowleopard commented on #90
@nobrakal Many thanks for the experiment!

I have been wondering recently: do we even need graphs that can be empty? Presumably, non-empty graphs cover 99% of use-cases and are generally safer not only in terms of internal representation, but for the users too.

I don't understand this: it's just a single comparison, right? It shouldn't even be measurable.

[2018-07-04 03:16] nobrakal commented on #90
With the actual `Empty` constructor, I don't think so. But providing an encapsulated version using `Maybe NonEmptyGraph`:

*  allow to have "regular" functions (`edges` take a list, and not an `NonEmpty` one)
* is coherent with functions from `Algebra.Graph.NonEmpty` (like `induce1`)
* Will provide all the handy functions dealing with empty graphs, so a user who must deals with them have not to re

[2018-07-04 10:14] snowleopard commented on #90
Perhaps, it prevents some important optimisation? Could you investigate by looking at generated Core?

[2018-07-04 15:05] nobrakal commented on #90
It was the case for `edges`. Habitually, there is a merge between a `foldr` and `map` (this is what we used to speedup `overlays`), and after some search, I found that it didn't happened here.

I fixed it by hand by writing:
[code]

It dropped to ratio to `1.09`, so it is good. I don't know if we can do better

[2018-07-04 17:13] snowleopard commented on #90
@nobrakal Why not use `edges1` in the second case? Then you don't need to reimplement it.

[2018-07-04 18:10] fosskers commented on #85
Alright, the algorithm as-is *does* work. For performance, I'm comparing the solving of dependencies for a very complicated package tree (`ros-lunar-desktop`, which summons ~200 other packages).

#### Timings

- Using original, incomplete `Data.Graph` version:

[code]

- Using `algabraic-graphs`:

[code]

Sweet, so no real slowdown for big trees.

[2018-07-04 18:37] fosskers commented on #85
Funny, I've observed `[[a,c], b]` behaviour.

[2018-07-04 18:39] fosskers commented on #85
The "leaves first" approach is probably fine, considering that the leaves here are package dependencies that need to be built and installed before their parents can be built.

[2018-07-04 18:51] nobrakal commented on #90
In fact I need to do the change in `edges1` and use it from `Algebra.Graph.edges`.

[code]

The problem is that the combination of `foldr1` and `fmap (uncurry edge)`  does not behave very well ^^

[2018-07-04 18:58] snowleopard commented on #85
I see, sounds good.

Do you need any further help with Alga? If not, I guess we can close this issue.

[2018-07-04 19:01] fosskers commented on #85
Yup, case closed, I think! Thank you very much.

[2018-07-04 19:01] #85 closed

[2018-07-04 19:04] snowleopard commented on #85
No problem, happy to help again in future.

[2018-07-06 12:11] nobrakal commented on #90
The last benchs:
[code]

[2018-07-06 15:37] snowleopard commented on #90
Hmm, this makes me think that the benchmarking suite is too fragile: it shouldn't measure performance by looking up only a single vertex. It should average time for several different vertices, otherwise some libraries/implementations will get an unfair advantage by chance.

[2018-07-06 16:46] nobrakal commented on #90
Sorry, I wasn't clear. I actually test 4/5 vertices.
But the difference is actually very huge for the first one (50 ns for the actual Alga but 3 micro seconds for the new one (3 micro seconds it the time taken by both for searching a vertex at the end of the graph )).

[2018-07-07 23:06] snowleopard commented on #90
@nobrakal Ah, I see, thanks for clarifying... Yes, that's what one gets for having O(n) complexity :) There is really a huge swing between best and worst cases.

[2018-07-07 23:07] snowleopard commented on #90
Since we are now starting to look more carefully at non-empty graphs, I think it may be worth adding them into the regression suite... Perhaps, into a separate Travis instance, so we don't hit the time limit?

[2018-07-08 17:31] nobrakal commented on #90
Yeah indeed ^^.

I totally agree, I will send a PR

[2018-07-09 12:21] nobrakal opened #91 "Re-work .travis.yml to backup the built dependencies"
Hi,

I am working to improve the regression suite on travis, and I just realized that the script don't make any backup of the built deps. The building of dependencies is now approx 30mins of the running time, and will be more since I added a dependency on `Chart`. We will certainly hit the 1 hour time limit of travis.

I personally use `stack` for <https://travis-ci.org/haskell-perf/graphs/> becau

[2018-07-14 13:53] nobrakal commented on #54
More and more tricky as I dig inside this ^^.

The current `deepseq` provide an other instance of `NFData (a -> b)` than the one discussed in the mail thread:
[code]
So it assume that the function is in `NF` when in `WHNF`. One of the problem I see is that it is not fully evaluating the vertices (contrary to the NFData instance of `Algebra.Graph`). One solution is to have:
[code]
or
[code]
But I d

[2018-07-14 15:33] snowleopard commented on #54
Same for me :D Could you do some experiments to figure out which implementation works best?

[2018-07-15 14:39] nobrakal commented on #61
Oops, of course `rnf = fmap rnf` doesn't type....

So, as `Fold` is a function, it is already in NF, unsurprisingly:
[code]
Folding `rnf`:
[code]

An other fold, more simple (and using less memory):
[code]

For the comparison
[code]

So

[code]

seems a reasonable option since it fully evaluate the leaves, and go through the graph quickly.

[2018-07-15 17:06] snowleopard commented on #61
@nobrakal Thanks! I didn't really explain what I meant by experiments: I meant to measure performance of graph consumption algorithms: if they take longer, it means some extra work was needed. So you should pick the `NFData` instance which leads to fastest graph deconstruction.

[2018-07-16 16:39] nobrakal commented on #61
@snowleopard Oops, sorry for this, I copy/paste my comment is the wrong issue, I just deleted it (here it was totally without sense  :p ) and moved to the right issue !

[2018-07-16 16:39] nobrakal commented on #54
Oops, of course `rnf = fmap rnf` doesn't type....

So, as `Fold` is a function, it is already in NF, unsurprisingly:
[code]
Folding `rnf`:
[code]

An other fold, more simple (and using less memory):
[code]

For the comparison
[code]

So

[code]

seems a reasonable option since it fully evaluate the leaves, and go through the graph quickly.

[2018-07-16 17:19] nobrakal commented on #54
I am not sure I understood what you meant. Were you saying that we should take the fastest implementation _in comparison_ of other graphs "consumer" ?

I have just benchmarked the function against one of the fastest "consumer" (and non-trivial), `hasVertex` and `size`.

Using Criterion and a `Fold` clique with 100.000 vertices of type `Int`.

[code]

Again for the comparison, using `Algebra.Graph`

[2018-07-16 18:14] snowleopard commented on #54
OK, let me clarify. Why are we using `NFData` when benchmarking? Because we don't want the consumer (an algorithm) to spend time evaluating the input itself. We want to measure only the actual computation time. This means we can judge different implementations of `NFData` on whether they left any work to be done on evaluating the graph to the consumers.

So, if you have candidate implementations `

[2018-07-18 10:50] snowleopard opened #95 "Make Graph datatype abstract, remove awkward instances"
We currently expose the implementation of the `Graph` datatype:

[code]

This is problematic:

* Users can observe different graph structures even though underlying graphs are equal according to the laws of the algebra, e.g. `Empty == Overlay Empty Empty`.

* Other representations may be more efficient (e.g. see #90) but we can't experiment with them without potentially breaking user code.

While

[2018-07-18 10:51] nobrakal commented on #54
Ok, thanks for the explanation, I see !

Here is a sample of a GHCi session, because I was not able to reproduce the time differences in the benchmarking suite (I believe that there is some evaluations hidden, or made by GHC in the constructed graph).

To show the differences, I am using `primesTo` from [haskell wiki](https://wiki.haskell.org/Prime_numbers#Sieve_of_Eratosthenes) which produce, laz

[2018-07-18 10:57] snowleopard commented on #54
@nobrakal I'm a bit confused with your example: `clique [primesTo 3000,primesTo 3000]`. It's a very strange graph -- there is only one vertex (a list of prime numbers) with a selfloop?

[2018-07-18 11:07] nobrakal commented on #54
It is very simple, and a comparison of the vertices needs some time to achieve. Nothing really more clever !

I didn't thought in term of graph, only in term of data structure.

[2018-07-18 11:18] snowleopard commented on #54
I see, but this makes the graph itself pretty small, so you really only measure the time it takes to evaluate vertices, not the graph structure itself.

Could could do something like `fmap primesTo $ clique [primesTo 100]` to measure both :)

[2018-07-18 12:36] nobrakal commented on #95
So I think the right way to go is using [pattern synonyms](https://downloads.haskell.org/~ghc/latest/docs/html/users_guide/glasgow_exts.html#pattern-synonyms).

It allows to "hide" the real constructor, but still allows pattern matching (even if it can be really bad in performances).
For examples,

* that is what I used while experimenting #90 , see https://github.com/nobrakal/alga/blob/6569e64e20

[2018-07-18 12:58] nobrakal commented on #54
Mmh I see.

Here are a test using `let x = fmap primesTo $ clique $ primesTo 1500` (was there a typo in your comment ?)

Using the `rnf = foldg () rnf (\a b -> a `seq` b) (\a b -> a `seq` b)`
[code]

Using a trivial `rnf _ = ()`
[code]

[2018-07-18 13:58] snowleopard commented on #54
@nobrakal Thanks, looks good!

So, are there only two candidates? If yes, feel free to proceed with your winner :)

[2018-07-18 13:59] snowleopard commented on #95
The whole point of hiding constructors is to avoid leaking any information about the structure of the graph: by providing pattern synonyms you will allow the user to distinguish `x` vs `x + x` unless you plan to always keep graphs in some normal form (which may be expensive). So I think we don't need pattern synonyms -- we'll just hide the constructors, forever :)

That's true, but I don't think i

[2018-07-18 17:40] snowleopard commented on #54
@nobrakal No, I don't have anything better :) Go ahead and add it.

[2018-07-19 09:09] nobrakal commented on #95
Is
[code]
suitable ?

But if by `safe` you meant something that doesn't show the inner representation, I don't know if it is possible.

Once you have `traverse`, you can have `foldMap` (see [`foldMapDefault`](https://hackage.haskell.org/package/base-4.11.0.0/docs/Data-Traversable.html#v:foldMapDefault))

[2018-07-19 12:38] nobrakal commented on #71
So concerning `edgesOrd`, I made some experiments:
[code]

It build an adjacency map and convert it to a `Graph`:
`edgesOrd` ensure a `size x == edgeCount x + vertexCount x` while `edges` give `size x == 2 * edgeCount x + 1`

Then benchmarks are rather good, except for some functions ^^:
[code]

So the main comment is that it is a good idea, but can lead to some problems (see `hasVertex`). While s

[2018-07-19 13:42] snowleopard commented on #54
@nobrakal Thanks for taking care of `Fold`! For completeness we should probably also derive `NFData` instances for various `Relation`-based graph newtypes, e.g. see:

https://github.com/snowleopard/alga/blob/master/src/Algebra/Graph/Relation/InternalDerived.hs#L36

[2018-07-19 14:20] snowleopard commented on #95
@nobrakal Indeed, users will be able to implement `traverse` on their own using `foldg` as you described.

By "safe" I meant the user is supposed to follow the laws specified in the `foldg` method:

https://github.com/snowleopard/alga/blob/master/src/Algebra/Graph/ToGraph.hs#L54-L57

In case of your `traverse`, we have `overlay = liftA2 Overlay` and require that `overlay x x = x` (plus all other g

[2018-07-19 14:41] snowleopard commented on #71
@nobrakal Interesting :) I think your implementation is not lazy enough (you build the whole map before producing the graph) and also tries to do too much work by eliminating duplicated edges, which leads to significant slowdown on some graph algorithms. Does switching to `Data.Map.Lazy` help?

What about trying an intermediate solution, where you build something like `Map a [a]`, where the lists

[2018-07-19 15:22] nobrakal commented on #71
Am I trying to remove duplicated edges ? The type of the map is `Map a (NonEmpty a)`, why this implicate removing duplicated edges ?

But you are right, I will explore others solutions :)

[2018-07-19 16:15] snowleopard commented on #71
Oops, I didn't spot that you use `Map.fromListWith (<>)` -- indeed, this does not eliminate duplicates. Still I have a feeling you are doing more work than necessary by storing intermediate results in a balanced tree.

[2018-07-19 16:35] nobrakal commented on #71
Yep, you were right, using `groupBy`:
[code]

This behave almost like the previous try, but require only an `Eq` instance and is 2 times faster.

Because it is the same idea than my previous comment, resulting graphs are the same than in my previous benchmarks, and thus the benchmarks are equivalents for the version of this comment.

[2018-07-19 16:53] snowleopard commented on #71
@nobrakal Good! So, you are saying with the new version, `hasVertex` will still be around 84714x slower? I've no idea where such a huge slowdown comes from! Can you explain?

[2018-07-19 20:21] nobrakal commented on #71
Here is a detailed benchmark of `hasVertex`
[code]

I am a bit lost since the slowdown really come from "simple" `foldg`. `hasEdge` is faster with graphs built with `edgesEq` for example.
The only explanation I see is that we are building huge Boolean thunks since the graph it a bit more "balanced" than one constructed with `edges` . Such a huge drop is still very problematic, it seems very high f

[2018-07-19 21:11] snowleopard commented on #71
@nobrakal You can test this hypothesis very easily: just generate a balanced `Graph` expression, for example `(1 + 1) + (1 + 1)` scaled to a few layers and see how it compares to a linear chain `1 + (1 + (1 + 1))`.

[2018-07-20 09:46] nobrakal commented on #71
Here are some benchs, using:

* balanced, a balanced graph expression with 32768 of type Int
* vertices, a graph obtained from `vertices $ replicate 32768 1`
* transposedVertices, a graph obtained with `foldg Empty Vertex (flip Overlay) (flip Connect) $ vertices $ replicate 32768 1`

[code]

So the balanced option is less efficient than the one obtained with `vertices` (and a reversed structure is

[2018-07-20 10:00] nobrakal commented on #71
Your comment about the difference between `1 + ( +1 ( 1 + ... ))` and `( ( ... + 1 ) + 1 ) + 1` leads me to re-considerate the function, and in fact I was producing a somewhere bad representation (like `( ( ... + 1 ) + 1 ) + 1` ).
Inverting the two arguments of `Overlay` leads to more reasonable results ^^:

[code]

The function used was:
[code]

I am currently running the whole suite to see if it

[2018-07-20 10:30] nobrakal commented on #71
[code]

Now `hasEdge` is not so happy... I will try with #97

[2018-07-20 13:16] nobrakal commented on #71
Comparing the #97 modification plus `edgesEq` and only the #97 modification, I get a:
[code]
So I think all seems good here

[2018-07-20 13:40] snowleopard commented on #71
@nobrakal So, speaking very roughtly, the algorithms get a small (say 30%) speed up at the cost of 2x slower graph construction. I guess this is a good tradeoff, but I hope we can find further improvements for the `edges` function, so that it achieves better compression.

[2018-07-21 09:58] nobrakal commented on #54
So this now can be closed ?

[2018-07-21 10:44] snowleopard commented on #54
@nobrakal Yes, I think we've covered all graph data types. Closing.

[2018-07-21 10:44] #54 closed

[2018-07-22 11:11] nobrakal commented on #71
Yep, this is certainly possible, requiring an `Ord` instance.

I played a bit, and came to an horrible function I won't show here (one can find it at: https://github.com/nobrakal/alga/blob/edgesOrd/src/Algebra/Graph.hs#L313 ).

Roughly the idea I had was to build an adjacency map, and this time, to use it: Each time I am trying to connect two vertices x and y, I search if the two are connected to

[2018-07-24 14:42] nobrakal commented on #71
Ok, I have managed to find a better version of `edgesOrd`:

[code]

It is 10 times slower than a regular `edges` _for every type that is an instance of `Ord`_ , and corrected the previous problem with `hasVertex`.
For `Int` vertices, it is only 7 times slower.

Code is here: https://github.com/nobrakal/alga/blob/edgesOrd/src/Algebra/Graph.hs#L314

I will investigate further improvements :)

[2018-07-24 16:44] nobrakal commented on #71
I made some further improvements (https://github.com/nobrakal/alga/blob/edgesOrd/src/Algebra/Graph.hs)

With a general `Ord` constraint

Specialized to `Int`

`size` is also smaller:
[code]
250501

[2018-07-24 18:07] snowleopard commented on #71
@nobrakal Many thanks for ongoing experiments!

The latest solution gives around 50% speed up across API, but it's quite complex and doesn't seem to provide any useful guarantees/properties for resulting expressions. We could, of course, include it into the API with a comment "This function is around 5x slower than `edges`, but if you use it to construct graphs, all other functions are probably go

[2018-07-24 18:11] snowleopard commented on #71
Perhaps, `edgesOrd` should actually be called `stars` and take a list `[(a, [a])]` as input. Then there may be a separate function somewhere in `Algebra.Graph.Utilities` that turns a list of edges into a list of adjacency lists. This will make the API simpler to understand and explain.

(But your latest implementation may be doing more than just `stars` underneath!).

[2018-07-25 11:08] nobrakal commented on #71
Yep, we only know that `size (edgesOrd x) <= length x + nbVertices x`. So when possible, it is better than `edgesEq`.

Note that the previous `edgesEq` worked only with sorted list of edges (Since I did all my tests with `edgesList` to produce a list of edges...). So we need an `Ord` instance anyway, to sort things :)

When building a graph with `Int` vertices, or something with an `Ord` instance

[2018-07-25 12:33] nobrakal opened #99 "Optimise size of mesh and torus"
Hi,

Working on #71 I just discovered that the `mesh` function is making graphs with a very big `size`:

[code]

One part of this is due to `Empty` graphs hidden at the end of each `path` (here `path` introduces `36` empty leaves), but there still a strange too big size :)
`box` seems to introduce duplicated edges...

[2018-07-25 12:38] snowleopard commented on #99
Yes, `box` in general is not very efficient in terms of the size of the resulting expressions :)

In principle, one could relatively easily obtain an efficient implementation of `mesh` without `box`, but I'd like to rename this issue to make it a bit more general.

[2018-07-25 12:54] snowleopard commented on #99
One reason `box` is currently inefficient, is that it is fully polymorphic:
[code]

Simply by switching from `toList` to `vertexList` in the implementation one could obtain a good improvement, but that requires `Ord a`.

[2018-07-25 14:16] nobrakal commented on #99
Without requiring at least an `Eq` instance, we cannot distinct vertices, so I don't know if one can make an optimized `box`.

It certainly affects `torus` as well, so it can worth it to have a better _polymorphic_ version of `mesh` and `torus` without relying on `box`.

[2018-07-25 15:06] snowleopard commented on #99
@nobrakal Yes, I think this is doable and the resulting functions are not going to be simple. Both `mesh` and `torus` could probably be expressed by using the `stars` combinator which was mentioned in the `edges` issue #71: just list all sources in a chessboard pattern, for example. But maybe there are even more compact representations -- an interesting puzzle :)

[2018-07-26 18:08] nobrakal commented on #99
So for `mesh`: I came to something ugly version but it gives some results and can surely be prettified.

The idea is based on `edgesOrd` results, because it can actually reduce the size.
[code]

So what is behind this ugly code:

I chose to subdivide the graph into "angle". For each vertex, I want to draw an edge left and an edge up. I just have to avoid making an infinite `mesh`.

For example wit

[2018-07-27 12:20] snowleopard commented on #71
I don't understand. Let's assume we add the following function to the API:
[code]
Then, given `xs :: [a, Set a]` you can call call `stars` as `stars . map (\(x, s) -> (x, toList s))`.

[2018-07-27 17:20] nobrakal commented on #71
Ah this way, it is ok !

I just need to replace `overlays` by something like `overlays1`, without the `Empty` leaf at the end :)

[2018-07-28 14:39] nobrakal commented on #71
Sadly, using `stars` drop a bit performances:

(As a reminder, without `stars` (so with graphs constructed in place:

)

[2018-07-28 22:42] snowleopard commented on #71
@nobrakal Strange. Presumably, you should have exactly the same code in your implementation, since you are getting a bunch of stars in the end, isn't it? Could you explain the slowdown?

[2018-07-29 11:01] nobrakal commented on #71
You are right. I have reworked it to use non-empty lists when possible and thus avoiding a pattern match on the empty list, and I dropped the result to a:

What left of the slowdown comes I think to an optimization that does not happen in these intricate mix of foldr/map

[2018-07-29 11:54] snowleopard commented on #71
I would expect everything to be the same if `stars` is inlined. It would be nice to eliminate any overhead left due having a separate function.

[2018-07-29 17:51] nobrakal commented on #99
For `torus` things are easier:
[code]

The size bounds, with `xs` and `ys` two lists and `m` and `n` their size:

[code]

while:

[code]

(Actually:  `size (edges $ edgeList $ torus xs ys)  == size (torus xs ys)` ).

So this version is more obviously an improvement concerning size :)

Note that I don't used `stars`, because it is `overlays`-based and thus add an empty leaf at the end of every "ang

[2018-07-29 22:50] snowleopard commented on #99
@nobrakal I don't see any difference from `stars`: you just overlay a large number of `star curr [up, left]`. So, I'd say `stars` fits here too.

[2018-07-29 23:51] snowleopard commented on #99
By the way, I just realised that we already have `stars` but we call it `fromAdjacencyList` :-) I am going to rename it -- will send a PR soon.

[2018-07-30 08:34] nobrakal commented on #99
@snowleopard The problem with `star` comes from `vertices` which includes an empty leaf at the end of all `star`.

Here I know that the lists will be non empty, thus I avoid this empty leaf by a custom implementation of `star`.

[2018-07-30 12:24] snowleopard commented on #99
@nobrakal Perhaps, we could find a way to implement `vertices` without an empty leaf at the end? That would be useful for many other functions. I remember we had some performance issues with this, but perhaps now that you have more experience in GHC optimisations, you'll be able to solve this? :)

[2018-07-30 20:34] snowleopard commented on #99
@nobrakal That's awesome! Looks like Alga is a good library for learning all GHC optimisation tricks :) There may be a separate blog post just about fusing various graph functions!

[2018-08-01 16:34] nobrakal commented on #99
Using `stars`:
[code]

More pretty code :)

[2018-08-01 17:34] snowleopard commented on #99
@nobrakal The prolifiration of slow operators `!!` is somewhat worrying -- your implementation is going to be slower than the original one.

Could you get rid of indexing?

Here is (roughly) what you could do:

[code]

And then you could do something like:

[code]

[2018-08-01 17:45] nobrakal opened #104 "Uncurryfication seems to be slow"
As discovered working on #103

Using:

[code]

(so uncurryfying "by-hand"),

lead to better performances:

[code]

[2018-08-01 18:35] snowleopard commented on #104
I'm surprised GHC doesn't turn `uncurry edge` into your `edge'` automatically. You could perhaps add a rewrite rule so that the user code also benefits from this optimisation (`uncurry edge` might be common).

What about `edges = overlays . map (\(x, y) -> edge x y)`? This doesn't require an extra function.

By the way, here is how `uncurry` is implemented:
[code]

[2018-08-01 18:42] snowleopard commented on #104
Perhaps, the problem is that the call to `uncurry` is partially applied and GHC does not want to inline it.

This may be a relevant SO thread:

https://stackoverflow.com/questions/11690146/why-does-ghc-consider-the-lhs-syntactically-when-inlining

[2018-08-02 01:17] snowleopard commented on #104
@nobrakal I just realised that your new implementation is not equivalent to the original one: the strictness properties are different:

[code]

The reason is that you pattern match on the tuple constructor `(x, y)` in `edge'`, but `uncurry` doesn't.

I wonder if it is possible to both keep the full laziness and increase the performance.

[2018-08-02 01:57] snowleopard commented on #17
@anfelor I've been reviewing the definition and theorems of labelled algebraic graphs and realised that we never use distributivity of dioids (in fact, I don't think we even use the dioid multiplication at all). Perhaps, we should relax the constraint and talk about a semilattice with both least and greatest bounds? It feels a bit awkward, but is most general.

It's interesting that in order to in

[2018-08-02 03:12] fosskers opened #105 "Add isAcyclic, topSort, dfs and other graph analysis functions to ToGraph"
Or likewise, `isCircular`. Basically, a top-level function to determine if some `Graph` type is a DAG or not.

As [last time](https://github.com/snowleopard/alga/issues/85) (thanks again), I suspect there's some composition of the exposed primitives that "just works", but nothing jumped out at me after a brief scan of the API.

Thoughts?

[2018-08-02 12:33] snowleopard commented on #105
@fosskers Thanks! I agree, this is a useful function to add. If you don't necessarily need a polymorphic function, the implementation is quite simple:

[code]

You'll just need to convert your graph data type to `AdjacencyMap`.

With the new `ToGraph` type class (coming soon in version `0.2`), I believe we could even add it as a separate method.

[2018-08-02 13:06] fosskers commented on #105
Ah ha! So it was just a simple thing. And luckily for me, I'm already using `AdjacencyMap`.

[2018-08-02 13:39] fosskers commented on #105
So `isJust . topSort` tells us *if* there's a cycle... would it be hard to report the values of the vertices that are *causing* the cycle?

[2018-08-02 13:53] snowleopard commented on #105
@fosskers To find the cycle, you can use the [`scc` function](https://hackage.haskell.org/package/algebraic-graphs-0.1.1.1/docs/Algebra-Graph-AdjacencyMap.html#v:scc). It returns you a graph whose vertices are strongly-connected components, and if any component contains more than a single vertex it is a cycle.

Here is one possible way to use is:

[code]

We obtain the list `cs` which contains non

[2018-08-02 13:56] fosskers commented on #105
Holy crap that's fantastic. I'm going to try that out right away.

[2018-08-02 13:58] nobrakal commented on #104
@snowleopard  Ah I didn't thought about strictness.

Looking a the code produced by GHC, with the current lazy implementation:

[code]
Using `edge'`:

[code]

So yes, all of this is a strictness issue !
Not sure what is the good way to go...

[2018-08-02 17:01] snowleopard commented on #104
@nobrakal I think I'd prefer to keep `edges` maximally lazy.

My understanding is that `edgesOrd` will have to be strict, since it will be comparing actual values in the list of edges, so let's keep `edges` as a maximally lazy alternative.

[2018-08-02 17:04] snowleopard commented on #104
I guess we can close thig now, since it doesn't seem possible to make uncurrying faster while staying lazy.

[2018-08-02 17:04] #104 closed

[2018-08-02 17:45] fosskers commented on #105
Alright, looking good! Thanks a lot, once again.

[2018-08-02 17:57] snowleopard commented on #105
@fosskers Great! I'll keep this issue open -- `isAcyclic` seems like a useful function to add to the API.

[2018-08-02 18:06] fosskers commented on #105
Woops, my bad.

[2018-08-03 09:43] nobrakal commented on #99
For `torus` it is simple (with an improved `pairs`):
[code]

Sadly, the structure of a `mesh` don't allow me to do such a simple thing:
[code]

[2018-08-03 17:12] snowleopard commented on #99
Aha, `torus` looks good.

In `mesh`, perhaps you could do `stars` plus a couple of `path`s for the right and bottom layers? That may be easier to understand, and should be optimal size-wise.

[2018-08-03 18:07] nobrakal commented on #99
@snowleopard
Something like this ?

[code]

[2018-08-03 19:19] snowleopard commented on #99
Yes, looks good! I might tweak it further, but feel free to send a PR.

[2018-08-03 19:32] nobrakal commented on #99
I prefer to wait for #103 to be merged before, since size bound will explode with all the empty leaves of `overlays`:)

[2018-08-03 19:48] snowleopard commented on #99
@nobrakal Sure :)

[2018-08-04 16:28] anfelor commented on #17
@snowleopard Do you mean something like this?
[code]
But I don't see yet how to embed a semilattice into a dioid. In Haskell:
[code]
Now, `high = one` works for most dioids we have considered so far but not for all, for example the longest distance dioid on ![page 4 of the semirings paper](http://stedolan.net/research/semirings.pdf). Do we add `one + x = one` as a dioid law and thus rule out this

[2018-08-05 08:13] anfelor commented on #17
Sorry, messed up the link at first; I was referring to http://stedolan.net/research/semirings.pdf

[2018-08-05 09:25] snowleopard commented on #17
@anfelor Yes: `low` corresponds to the lack of information about connectivity and `high` to knowing everything about it. For path-like interpretations, `low` means unreachable, and `high` means 0 distance. For set-like representations, `low` corresponds to the empty set and `high` to the full set. Perhaps, we don't necessarily need to require `high`, because it may sometimes be not defined. For ex

[2018-08-07 15:49] anfelor commented on #17
It sounds like a relatively easy change to make with potential benefits to users and much better than changing the dioid laws. It would also improve the usefulness of alga as a general graph representation.

Unfortunately, the semilattice class above has a name clash with monadic join and for meet-semilattices the relationship is reversed by convention, eg `low = one`. But maybe use a join-semilat

[2018-08-13 11:26] o1lo01ol1o opened #109 "LabelledAdjacencyMap?"
I have a case where I need to model a graph (of labeled edges) via an adjacency map representation (I need, among other things, to sort the graphs topologically and compute the cycles via `scc`).  It looks like the `Diode (Set e)` would take care of the labeling issue (my labels function only as edge identifiers) but I'm not sure what the best representation would be for the adjacency map itself g

[2018-08-13 15:36] danharaj commented on #17
Hi. I'm jumping into the conversation late but I wanted clarification on what is wrong with the naive labelled connect operations. I don't see how it makes sense to talk about associativity of two different operations. What makes sense to me is asking whether they commute, and they don't:

However, they still seem to satisfy some decomposition laws:

These laws seem intuitive to me and I think the

[2018-08-13 17:46] snowleopard commented on #17
Hi @danharaj, welcome!

I agree with you: different labels lead to different operations, so associativity makes little sense (but when the labels are the same, associativity does hold). Also, your 4-way decomposition is very nice, I'll use it in the examples/tests, thank you!

But I don't understand this remark:

What do you mean by "naive labelled connect operations"?

As far as I'm concerned, th

[2018-08-13 18:19] danharaj commented on #17
Sorry, I got tripped up reading this thread; it seemed like the approach where you have one connect operator per edge label was inadequate and an alternative formulation was sought. I call it naive because it's the very first thing one would try and hope it works :) I see now that this is a special case of the formulation you all have been discussing via the lattice of subsets of edge labels.

[2018-08-13 19:01] snowleopard commented on #17
Aha, I see :) This thread did get pretty long and confusing. I guess I better open a new one, describing the chosen design, just to figure out the remaining bits. Will do that in a few days.

[2018-08-13 19:29] snowleopard commented on #109
Hi @o1lo01ol1o!

I think the implementation will be pretty similar to `Algebra.Graph.AdjacencyMap` but instead of

[code]

the labelled version will use

[code]

as the underlying data structure (with edge labels of type `e`).

If you don't want to use dioids for labelling, then here is an alternative:

[code]

Now instead of collapsing parallel edges using one of dioid's operations, you explicitl

[2018-08-13 22:40] snowleopard commented on #109
Thanks!

By the way, I think I was wrong in my previous comment when I said that one of the encodings is more general than the other -- they are actually equivalent in terms of generality. But one may be easier/faster to work with than the other.

[2018-08-22 20:59] #105 closed

[2018-08-24 22:57] snowleopard commented on #99
I believe #110 resolved this.

[2018-08-24 22:57] #99 closed

[2018-08-31 08:39] subttle opened #111 "Use new cartesianProduct from containers?"
Hi,
Awesome project you have! I have one very minor comment to make.
I noticed that you're using your own `setProduct` function: https://github.com/snowleopard/alga/blob/76d01ae5ea12279505c92238fb7dc771dcb1e19e/src/Algebra/Graph/Relation/Internal.hs#L173 I just wanted to make sure you are aware that there was a `cartesianProduct` function recently added to containers (Since: containers-0.5.11)! An

[2018-08-31 09:37] snowleopard commented on #111
Hello Ian, thank you!

I wasn't aware of `cartesianProduct`, we should definitely switch to it. Would you like to send a PR? If not, no problem, I can fix this too.

[2018-08-31 15:34] nobrakal commented on #84
I think this is closed with your super version of `hasEdge` ?

[2018-08-31 16:52] snowleopard commented on #84
@nobrakal Yes, thank you. I think we can close this.

[2018-08-31 16:52] #84 closed

[2018-09-02 22:16] o1lo01ol1o commented on #109
See #113

[2018-09-10 17:28] nobrakal opened #116 "Finish rewrite rules to optimize "transpose . star" everywhere"
This is what remains to be done after the merge of #107

The objective is to use rewrite rules to optimize `transpose . star` and remove the need of something like a `starTranspose` function.

This is already made for all modules except `Algebra.Graph.Relation` for which the actual solution seems not to be working.

Ideally `transpose . stars` will optimized away. This is already the case for `Alg

[2018-09-11 21:50] jkachmar opened #118 "Restrictive upper bounds"
There's a restrictive upper bound on `base-orphans < 0.8` (the current version of `base-orphans`.

Would it be possible to lift this bound to include `0.8` so that the package can be included in Stackage snapshots again?

[2018-09-11 21:53] snowleopard commented on #118
@jkachmar Sure! Feel free to send a PR -- happy to merge if all CI bots pass.

[2018-09-11 21:53] snowleopard commented on #118
Actually, never mind, I'll do it myself -- I'm preparing for a release anyway.

[2018-09-11 23:52] snowleopard commented on #118
Done in #119.

[2018-09-11 23:52] #118 closed

[2018-09-20 19:35] nobrakal commented on #95
@snowleopard So is there anything else to do here ?

About `Foldable` it now seems to me that with mentioning the possibility of defining such instance, and its risks somewhere, it is reasonable to remove it of the API.

[2018-09-20 21:29] snowleopard commented on #95
@nobrakal Yes, let's start by removing problematic instances. And then the next step will be to make `Graph` abstract. Feel free to send a PR if you like to try this!

[2018-09-20 21:49] snowleopard opened #120 "Improve test coverage"
Despite having 640+ QuickCheck properties, test coverage of some modules is not great:

| module                                 | Top Level Definitions | Alternatives | Expressions |
|----------------------------------------|-----------------------|--------------|-------------|
|                                        | %                     | %            | %           |
| Algebra.Graph

[2018-09-21 07:50] nobrakal commented on #95
Just realized that we will have a problem with with `Algebra.Graph.HigherKinded.Class`, which is based on the `Foldable` instance... In this module, we need:

* `null`
* `elem`
* `foldr`
* `toList`

We could require `foldg` to implement locally all of this, or even just a `foldr` function, to redefine all of these needed functions. But I am not sure it is the right way to follow :)

[2018-09-21 21:26] snowleopard commented on #95
@nobrakal Perhaps, we should just drop these functions from the API. I think all of them will be available via the `ToGraph` typeclass if need be.

[2018-10-06 00:35] #111 closed

[2018-10-06 01:03] snowleopard commented on #109
After merging #113, we still need to do the following:
- [ ] Add conversions between labelled and unlabelled adjacency maps
- [ ] Improve documentation
- [ ] Add tests

[2018-10-14 11:43] snowleopard opened #126 "Ord instance for graphs"
While playing with [QuickSpec](http://hackage.haskell.org/package/quickspec) to see if it can discover laws of algebraic graphs (yes, it can), I needed to add `Ord a => Ord (Graph a)` instance. My implementation simply redirected to the `Ord` of the `AdjacencyMap` representation, but I'm not sure if this is the best/most convenient way to define an ordering on graphs.

Any ideas how `Ord` should w

[2018-10-14 12:47] nobrakal commented on #126
The problem is that an `Ord` instance is required to satisfy:

[code]

So I don't think that this is possible to implement a simple thing without `AdjacencyMap`, otherwise you will be able to implement graph equality.

The only problem I see with an `Ord` instance from `AdjacencyMap` is that its order not be very intuitive, because based on the order of the adjacency lists, itself based on the ord

[2018-10-14 13:18] snowleopard commented on #126
@nobrakal One option is to insist that the `Ord` instance refines the `isSubgraphOf` relation. In other words:
* If ``x `isSubgraphOf` y`` then `x <= y`.
* As a consequence, this forces `Ord` to agree with the current `Eq` instance.

Note that this tells us that for your examples we have:

* `2 < 2*3 == True`
* `3 < 2*3 == True`

Which seems to be better.

But it leaves it open the following cases

[2018-10-15 12:33] snowleopard commented on #126
I just had a chat with Victor Khomenko (@vkhomenko) and he suggested to use "size-lexicographical" orders on vertices and edges, as follows:

* Compare the size of graphs in terms of the number of vertices. In case of a tie continue.
* Compare the sets of vertices using the `Ord a => Ord (Set a)` order. In case of a tie continue.
* Compare the size of graphs in terms of the number of edges. In cas

[2018-10-15 13:33] subttle opened #127 "Release versions in git?"
Hi all, thank you again for the wonderful work on this project! I have a minor comment. I noticed that there haven't been any releases under [releases](https://github.com/snowleopard/alga/releases) and I'm wondering if it would be any trouble to match the release versions with the versions listed on [hackage](http://hackage.haskell.org/package/algebraic-graphs). Or maybe there is a reason for not

[2018-10-15 13:43] snowleopard commented on #127
@subttle Thank you!

Indeed, I haven't been doing any GitHub releases, because that seemed unnecessary since one can always do `cabal get algebraic-graphs-0.2` to download the sources from Hackage.

Why would you like to have GitHub releases?

[2018-10-15 13:58] subttle commented on #127
It's totally not necessary, it is just convenience and also I think it is the norm for many popular projects to keep track of the versions in git, for example [containers](https://github.com/haskell/containers/releases). Anyway, please close this if you are not partial to the idea, I won't be offended :)

[2018-10-15 14:12] snowleopard commented on #127
@subttle The difficulty for me is just to remember to do the GitHub release every time :)

Let's keep the issue open: it will serve me as a reminder, plus other people might request GitHub releases too, and perhaps also share ways of automating this.

[2018-10-15 14:13] nothingmuch commented on #126
it's also worth considering ordering for modular decomposition, as far as i know most algorithms start with an arbitrary vertex, so a total ordering on vertices or subgraphs would help modular decomposition produce a canonical form if i'm not mistaken

[2018-10-16 15:40] snowleopard commented on #126
@nothingmuch Yes, modular decomposition is something that I'd like to implement at some point. In general, I think an Ord instance on graphs will be useful for many algorithms.

[2018-10-16 16:48] michaelpj opened #128 "SCC condensation doesn't distinguish cyclic and acyclic single-node components"
This can be very important. `Data.Graph` [does it](http://hackage.haskell.org/package/containers-0.6.0.1/docs/Data-Graph.html#t:SCC), it would be great if `alga` did too.

[2018-10-16 18:05] snowleopard commented on #128
@michaelpj Indeed! I propose to modify the API with the following goals in mind:

1. Address this issue, i.e. make it easy to find out whether a component is acyclic.
2. Get rid of the invariant that the sets (i.e. vertices) in the resulting condensed graph are non-empty.
3. (Optional) Make it easy to extract the graphs corresponding to components, as discussed in #105.

One option would be to use

[2018-10-16 19:01] michaelpj commented on #128
I think modelling SCCs as non empty graphs would be great, since it even preserves the inner graph structure of the component if you want it.

More generally, if you had a graph model that includes subgraphs, you could model them as subgraphs.

[2018-10-17 09:50] snowleopard commented on #128
Agree, this looks like the best option. I will give it a try in the next couple of days.

[2018-10-17 10:34] michaelpj opened #129 "Test rewrite rules with `inspection-testing`?"
Just a drive-by thought since I noticed that you have some rewrite rules now. (inspection-testing)[https://github.com/nomeata/inspection-testing] is a nice library for testing that these are actually firing as you intend them to, without relying on inspecting benchmarks.

[2018-10-17 10:47] snowleopard commented on #129
Good idea! @nobrakal and I wanted to test rewrite rules before but didn't know about this library then.

@nobrakal Have a look at this approach, it might help you a lot with your on-going work on rewrite rules.

There is a nice Haskell eXchange talk about inspection testing:

https://skillsmatter.com/skillscasts/12590-a-promise-checked-is-a-promise-kept-inspection-testing

[2018-10-17 18:05] nobrakal commented on #129
This seems geat :D

Indeed it can really help me testing rule firings, and as @michaelpj  pointed it out, it seems that this library can simply test that all is working good in alga's test-suite.

I definitely need to dig on this, thanks for the link !

[2018-10-22 14:03] snowleopard commented on #17
I gave a Haskell eXchange 2018 talk about edge-labelled algebraic graphs:

https://skillsmatter.com/skillscasts/12361-labelled-algebraic-graphs

It mostly builds on the abstractions we discussed in this issue, but in the end I decided to go for a different hierarchy of type classes for edge labels: `Monoid => Semiring => Dioid`. A working implementation can be found in `Algebra.Graph.Label` and `A

[2018-10-25 00:47] snowleopard commented on #126
Done in #131.

[2018-10-25 00:47] #126 closed

[2018-10-25 23:03] snowleopard opened #134 "Improve documentation of Num instances"
As pointed in [this reddit comment](https://www.reddit.com/r/haskell/comments/9qx172/what_yous_favorite_weirdexotic_data_type/e8fwcdf/) by @sjakobi, the typeclass `Num` now has some [customary laws](http://hackage.haskell.org/package/base-4.12.0.0/docs/Prelude.html#t:Num), which our graph instances do not satisfy.

We should explain this in comments, e.g. somewhere around [here](https://github.com

[2018-10-28 18:32] snowleopard commented on #134
I've added the following note as part of #136:
[code]

[2018-10-29 20:53] snowleopard commented on #134
@sjakobi Thank you, good point.

Long comments attached to instances look awful in Haddock, so I guess I will add a short comment with a link to a longer explanation, as below.

[code]

[2018-10-29 21:02] #134 closed

[2018-11-02 02:33] snowleopard commented on #129
@nobrakal After merging your draft implementation of inspection testing, my `ghcid` setup is no longer working: the RewriteRules testsuite reports errors, I guess because `ghcid` compiles with no optimisation... Do you know if it's possible to switch off inspection testing with a flag somehow?

[2018-11-13 12:34] michaelpj opened #139 "Add relational operations to `ToGraph`"
As I understand it, at the moment the following things are true:
- If you want a `Relation`, you should construct something polymorphically using the (non-higher-kinded) `Graph` class, instantiated to `Relation`.
- `Relation` is not an instance of the higher-kinded `Graph` class, I assume due to the `Ord` constraint on `connect` and the fact that `Set` isn't `Traversable`.

Consequently, if  you w

[2018-11-13 13:33] snowleopard commented on #139
@michaelpj Could you let me know why you'd like to use `Relation` in particular? I was planning to remove `Relation` from the library, because it doesn't seem to provide anything on top of `AdjacencyMap` and is slower on most operations (although it may be worth double-checking using @nobrakal's benchmarks).

Answering your questions:

Not necessarily: you can also use the `Relation` API directly,

[2018-11-13 13:40] michaelpj commented on #139
Yes, what I really want is `transitiveClosure`. If I can get that without `Relation` I'd be very happy! My assumption was that `Relation` was the intended way to do it.

[2018-11-13 13:46] snowleopard commented on #139
@michaelpj I see, thank you. I've edited the title of the issue.

`Relation` appeared together with `AdjacencyMap` when I was exploring possible traditional (non-algebraic) representations for graphs, but over time I found `AdjacencyMap` easier to work with. I think it doesn't make sense to maintain both in the library in the long term.

[2018-11-13 13:52] michaelpj commented on #139
Sounds very reasonable to me.

I guess my documentation comment is that at the moment the various graph representations support sightly different sets of algorithmic operations, and it's a little hard to tell which to use!

[2018-11-13 13:56] snowleopard commented on #139
Yes, indeed. I will add a top-level description of various graph representations available in the library and the intended way of using them.

[2018-11-14 22:12] snowleopard opened #140 "Fix Show instances"
While working on #128, I realised that the `Show` instances we provide do not insert parentheses. For example, showing `vertex (vertex 1)` gives `vertex vertex 1` instead of `vertex (vertex 1)`. We need to fix this.

[2018-11-15 04:04] snowleopard commented on #128
I've finally finished #130. It took a long time, because it triggered a wave of refactoring (#131, #136).

The resulting type signature is:
[code]

@michaelpj Does this look good? You can now distinguish acyclic components simply by using `isAcyclic` on inner non-empty graphs, so I think this issue can be closed.

Feel free to reopen if I missed anything.

[2018-11-15 04:04] #128 closed

[2018-11-15 10:15] michaelpj commented on #128
The interface looks great! I'll try and give it a spin later.

[2018-11-15 12:35] snowleopard opened #141 "Explore alternative implementations for AdjacencyMap"
We currently store vertices of type `a` directly in an `AdjacencyMap a`, which may lead to poor performance if the corresponding `Ord a` instance is slow. One example, which motivated me to record this issue, is the SCC algorithm developed in #128 that produces `AdjacencyMap (NonEmpty.AdjacencyMap a)`, i.e. graphs whose vertices are graphs.

An alternative would be to define something like
[code]

[2018-11-15 12:35] snowleopard commented on #128
@michaelpj Thanks! I'd appreciate some feedback on the performance in your use case. I am a bit worried about using heavy-weight vertex types like `NonEmpty.AdjacencyMap` due to their expensive `Ord` instance. I've created #141 to track this.

[2018-11-15 13:17] michaelpj commented on #128
I'm not using it in a performance-sensitive context, but I'll keep you posted.

[2018-11-22 21:43] snowleopard commented on #140
Fixed by @pyrtsa in #142.

[2018-11-22 21:43] #140 closed

[2018-11-24 20:42] snowleopard opened #145 "Correct GHCi workflow"
In #144 I've added the following top-level `.ghci` file:

[code]

My goal is to make all of the following scenarios work:

- [x] Running `ghcid` does the right thing, i.e. compiles all project modules, including the testsuite. Works!
- [ ] Running `stack ghcid --test` loads all project modules. This currently fails with:
[code]
    I've no idea how to fix this. Is this a Stack bug or am I using it

[2018-11-26 03:04] snowleopard commented on #139
@michaelpj I've added implementations of relational operations (`compose`, `closure`, `reflexiveClosure`, `symmetricClosure`, `transitiveClosure`) to adjacency maps (#146), and provided a brief overview of available adjacency maps flavours to the top-level Hackage description.

I plan to release `0.3` within a few days.

Feel free to reopen if I missed anything.

[2018-11-26 03:04] #139 closed

[2018-11-26 09:48] ndmitchell commented on #145
I'd stop using stack and cabal - they positively suck for a ghci based workflow... I never got it to work and they keep changing their rules to break it in new and interesting ways. Passing `--no-load` to `stack` might solve it. See https://github.com/ndmitchell/ghcid/blob/master/src/Ghcid.hs#L97-L153 for where my notes on experimentation are done.

[2018-11-26 11:34] michaelpj commented on #139
Great, thanks! I'll try and take a moment to update us to 0.3 when you release it and check out the new stuff.

[2018-11-26 18:05] snowleopard commented on #145
@ndmitchell Thanks, this command `stack ghci --test --no-load` works!

Using `ghci` without `stack` or `cabal` means I'll need to install all packages globally? Or did you mean something else?

If I simply run `ghci` I get the following:

[code]

[2018-11-27 23:10] snowleopard commented on #63
#148 provides an implementation of relational composition of algebraic graphs. Note that it is not as good as I hoped for: the size of the resulting expression is _O(m1+m2)_, where _m1_ and _m2_ are the number of edges in the given graphs. Note however that the number of edges in the resulting graph may be quadratic, i.e. _O(m1*m2)_, hence the algebraic representation is still very compact.

The i

[2018-11-27 23:10] #63 closed

[2018-11-28 15:43] snowleopard opened #150 "Implement custom `shrink` for non-algebraic graph data types"
Right now we do not provide a custom implementation of the method `shrink` in `Arbitrary` instances of non-algebraic data types, such as `AdjacencyMap`, which makes it difficult to understand test failures, e.g. see https://travis-ci.org/snowleopard/alga/jobs/460799751:

[code]

One simple custom `shrink` method would try to delete a vertex or an edge -- hopefully that would lead to much simpler c

[2018-11-29 23:37] snowleopard commented on #17
I think we can finally close this :tada: I'm quite happy with the final design. There are a few unpolished spots, but I'll be opening separate issues for them if need be.

Many thanks to everyone for an amazing discussion!

[2018-11-29 23:37] #17 closed

[2018-11-29 23:47] snowleopard commented on #139
Released: `https://hackage.haskell.org/package/algebraic-graphs-0.3`.

[2018-11-30 00:00] snowleopard commented on #127
OK, here it is: https://github.com/snowleopard/alga/releases/tag/v0.3

Hope I won't forget next time :)

If I do, feel free to reopen!

[2018-11-30 00:00] #127 closed

[2018-11-30 17:02] michaelpj opened #151 "`ToGraph` maybe doesn't need so many methods?"
I understand that the intention of `ToGraph`, like `Foldable`, is that some of the methods can be overridden to provide better performance.

But in practice it seems like the only ones that actually matter are
- `foldG` (special implementation for `Fold`)
- `toGraph`, `toAdjacencyMap`, `toAdjacencyIntMap` (special implementations for those very types or similar ones)

AFAICT the overriding impleme

[2018-11-30 17:19] michaelpj opened #152 "`topoSort` doesn't know that the result of `scc` has no cycles"
A mild annoyance. Often you want to topologically sort your SCCs after condensing them. Indeed, part of the point is to get rid of cycles so your topological sort is well-defined!

But sadly `topoSort` doesn't know that we now have an acyclic graph, so still tells us the result might be `Nothing`.

[2018-11-30 17:32] michaelpj opened #153 "Higher-kinded `ToGraph`?"
Seems like there are much the same considerations as for https://github.com/snowleopard/alga/issues/9. Again, I think the main driver would be getting rid of the type family.

We could have both, as we do for the `Graph` classes, but this is a bit annoying because of [how many]( https://github.com/snowleopard/alga/issues/151) methods `ToGraph` has.

[2018-11-30 17:40] michaelpj commented on #141
Perhaps more generally, it would be nice to be able to provide a bijective map between the "real" node type and a "key" type which is cheaper to store, or has a cheaper (or existent) `Ord` instance.

[2018-11-30 17:52] michaelpj commented on #151
As an example of how this can lead to some (accidental?) inconsistency, `scc` isn't on `ToGraph`, although it's perfectly definable in terms of `toAdjacencyMap`.

[2018-11-30 20:54] michaelpj commented on #152
All I can think of is adding a phantom type parameter to track acyclicity, but that seems very heavyweight for marginal benefit.

[2018-11-30 22:14] snowleopard commented on #152
Although heavyweight, phantom type parameters can bring other benefits too. We could use them for capturing all these graph variations in a uniform way:

* Acyclic vs cyclic
* Nonempty vs possibly empty
* Labelled vs unlabelled
* Directed vs undirected
* Reflexive, transitive, etc

So, in principle I'm ready to consider phantom types as a possible solution.

[2018-11-30 23:41] michaelpj commented on #152
Well, except presumably you want all combinations of those properties, so either you need type level sets or *lots* of parameters.

[2018-12-01 00:36] snowleopard commented on #151
I'm not a big fan of `ToGraph` either and I'd be happy to trim it down, so let me list all current methods and give some rational for why they are not just functions with a `ToGraph` constraint:

* `foldg` is the only interesting method really.

* `toGraph` could in principle be demoted to a function, although it feels natural to define a `ToGraph` instance by implementing the `toGraph` method. Th

[2018-12-01 01:03] snowleopard commented on #153
@michaelpj It's not technically difficult to add a higher-kinded version of `ToGraph`, but it feels wrong to maintain both versions. The same can be said about `Class` and `HigherKinded.Class`: I really would like to get rid of one of them (or both).

Could you expand this bit? Type families were introduced just for this very purpose: creating type classes for various collections. They do require

[2018-12-02 21:42] michaelpj commented on #151
Hm, it seems like many of these do in fact have at least the potential for more efficient implementations.

I would be tempted to split out the "can be folded into a graph" class from the "overridable graph operations class" for clarity, but that's somewhat subjective and based on my confusion on first discovering the class.

i.e. something like
[code]
You could even drop the `ToGraph` constraint

[2018-12-02 21:49] michaelpj commented on #153
I for one find it much easier to work with type parameters wherever I can. It feels strange to be using a type family when you are in fact parametric.

I guess I am probably biased by not caring so much about the non-parametric instances at the moment,

[2018-12-04 15:07] michaelpj opened #154 "Enrich the output of `topSort` to be a list of independent sets"
"Topological sorting" is under-specified wrt the ordering of the independent vertices at each "level" of the sort. We could reflect this in the output type, by returning something like `[Set Vertex]`, where each set is an independent set. You can then recover the current sort by flattening the inner sets in any order.

This has two advantages:
- We don't make a choice about how to sort the indepen

[2018-12-04 17:12] snowleopard commented on #154
This is related to this issue: #85, where a possible implementation of `batch` function was provided (it is no longer compatible with the new `scc` type though).

One problem with deriving such "level vertex sets" is that the solution is not unique, as demonstrated by this simple example: `1 + 2 * 3`. Here there are two possible answers: `[[1,2], 3]` and `[2, [1,3]]`, i.e. `1` can be batched with

[2018-12-04 17:15] michaelpj commented on #154
Ah, of course it's not unique, my mistake! Then we can't give a "best" most general type for `topSort` indeed.

So yes, this should be some kind of additional "batching" functionality, which might not even belong in this package.

Not sure if you want to keep this open for future reference, happy to close and I'll just implement my own thing.

[2018-12-04 17:22] snowleopard commented on #154
Let's keep this issue open, but I'll give it a more general title.

[2018-12-12 11:26] ydewit opened #155 "Maybe GraphIt can be a source of additional ideas?"
Here is the link: http://graphit-lang.org

[2018-12-12 19:59] snowleopard commented on #153
I've published a (rather long) blog post about one more type class that we might want to consider when working with algebraic graphs:

https://blogs.ncl.ac.uk/andreymokhov/united-monoids/

The type class `United` is not parameterised by vertex type at all: it captures only the notions of emptiness, overlaying and connecting things.

[2018-12-13 12:47] snowleopard commented on #155
I haven't come across GhaphIt before -- it looks interesting. This line caught my attention:

I think we can say that the algebraic graph library separates the _meaning or structure of a graph_ (the syntax tree of the graph expression) from the _representation of a graph_ (adjacency map, matrix, etc.)

But I'm not sure what to do with this analogy :) To me, this library and GraphIt seem to be deve

[2018-12-13 16:00] michaelpj commented on #153
Looks nice - although in my case most of the things I'm working on really are very `Graph`-y, and wouldn't make much sense in a `United` setting.

[2018-12-14 11:05] snowleopard commented on #153
What I meant to say is: perhaps we can switch to a graph type class that is not parameterised by the type of vertex, something like `class United m => Graph m` that comes with an additional law `abc = ab + ac + bc` on top of the laws from `United`.

[2018-12-16 12:59] subttle commented on #152
It might be worth looking into linear types for this area. I know it's still a developing area for Haskell but perhaps it may be worth holding out.

[2018-12-16 15:01] snowleopard commented on #152
@subttle I'm not sure how linear types can help. Could you clarify?

[2018-12-16 16:37] subttle commented on #152
Hm, when I actually work through what I had in mind it seems wayy more hacky than I thought it would be so I will say never mind for now and post back here if I figure out a way to do it nicer :P

[2018-12-19 20:31] boggle opened #156 "Add Bifunctor instance for labelled graphs"
Labelled graphs are parameterized in both their node and edge type.

base has Bifunctor since 4.8
(http://hackage.haskell.org/package/base-4.12.0.0/docs/Data-Bifunctor.html)

Adding a Bifunctor instance would allow implementing `emap = Bifunctor.second`

[2018-12-19 22:00] snowleopard commented on #156
@boggle Sounds good!

I'll have some time to implement this in January, but feel free to send a PR earlier.

[2018-12-27 18:47] snowleopard commented on #90
I just realised that `NonEmpty.Graph (Maybe a)` is isomorphic to `Graph a`:
* `NonEmpty.Vertex (Just a) == Vertex a`
* `NonEmpty.Vertex Nothing == Empty`

Not sure this observartion is useful, but I thought I better record it here.

I still think `Maybe (NonEmpty.Graph a)` is a better representation for possibly empty graphs.

[2019-01-12 07:44] chessai commented on #152
Two approaches that come to mind are `refined` and `gdp` for the phantom types approach.

[2019-01-12 08:37] snowleopard commented on #152
@chessai Thanks, indeed!

Also, `massiv` is close in spirit: http://hackage.haskell.org/package/massiv-0.2.6.0/docs/Data-Massiv-Array.html

[2019-01-12 17:30] chessai opened #159 "Add semiring instances for applicable types?"
I maintain a package called [semirings](https://github.com/chessai/semirings). It is on Hackage, Stackage, and nixpkgs. Its API is stable, and its support window is for GHC 7.4 and greater. The motivation behind this change is that a lot of Num instances carry with them the baggage of fromInteger, abs, and signum. To me, Num is just a crappy version of Ring. So, any types with Num instances here (

[2019-01-12 23:11] snowleopard commented on #159
I fully agree that the `Num` typeclass is not ideal, and I'm looking forward to the day when we will have a proper type class hierarchy for semirings and rings in Prelude.

However, **algebraic graphs are not semirings**. They form a different algebraic structure, which I call "united monoids", because the two monoids have the same unit, i.e. `0 == 1` -- see more details in [this blog post](https:

[2019-01-12 23:18] chessai commented on #159
Yeah, I agree. I wasn't sure if there was any datatype here that was a valid semiring. In that case, I'll close this issue, since it seems like the change would be for the worse.

[2019-01-12 23:18] #159 closed

[2019-01-12 23:42] snowleopard commented on #159
Actually, several valid semirings are defined in this module for edge labels:

https://github.com/snowleopard/alga/blob/master/src/Algebra/Graph/Label.hs

Right now I'm using a somewhat unusual definition for semirings, which differs from the one you use in your library:

[code]

This is useful because I want to allow edge labels that do not form full semirings, but only have a notion of parallel

[2019-01-12 23:47] chessai commented on #159
Yes, I have, and I don't think it makes sense. Having monoid as a superclass of semiring forces you to choose which structure to be the monoid. Also, just `Monoid` is a problem because it then _must_ be the multiplicative Monoid, since Monoids alone don't guarantee commutativity (For example, your zero/plus above don't make sense to me since Monoid isn't strong enough). Another problem with the su

[2019-01-13 00:03] snowleopard commented on #159
Yes, I agree -- there are some issues with the current definition.

Note that I currently require commutativity of `<+>` in the laws of the `Semiring` type class. So the only possible lawful definition is by using the additive monoid as `<+>` and multiplicative as `<*>`. I will probably add another intermediate type class in future: `Monoid => CommutativeMonoid => Semiring`. This will make a few t

[2019-01-13 00:39] chessai commented on #159
An issue I take with classes like `CommutativeMonoid` is that subclass/superclass hierarchies become brittle. What about CommutativeSemigroup? Should that too be a superclass of CommutativeMonoid? A package that comes to mind is [numhask](https://hackage.haskell.org/package/numhask). IMO typeclasses don't play well with numeric hierarchies, unless you constraint yourself to a small enough set of t

[2019-01-24 01:12] snowleopard commented on #156
Fixed in #162.

[2019-01-24 01:12] #156 closed

[2019-02-11 22:20] snowleopard commented on #13
This looks like an awesome library we should give a try: https://hackage.haskell.org/package/hedgehog-classes-0.1.1.0/docs/Hedgehog-Classes.html

[2019-02-12 20:49] ocharles opened #165 "Transitivity reduction"
I have found myself wanting the transitive reduction of a graph a few times. Could this be added to _alga_?

[2019-02-12 22:20] snowleopard commented on #165
@ocharles Sure, transitive reduction is a useful operation to have, we should add it.

We haven't yet figured out how to deal with acyclic graphs in a nice way (#154), so for now we could think of the following type signature, with `Nothing` returned if the graph is cyclic:

[code]

Here is a straightforward but very inefficient implementation:

[code]

A quick sanity check:

[code]

If your graph

[2019-02-12 22:58] ocharles commented on #165
Clean! I will give this a try, I don't actually have any graphs at hand atm - just planning some future work that might end up needing this!

[2019-02-14 00:21] dalaing opened #169 "Should Graph / AdjacencyMatrix have StarSemiring instanes"
I was reading [this](http://r6.ca/blog/20110808T035622Z.html) before I got a chance to properly look at `alga`, and was pretty happy to see the `StarSemiring` class in `Algebra.Graph.Label`.

Would there be interest in adding instances of that for `Algebra.Graph.Labelled` and `Algebra.Graph.Labelled.AdjacencyMap`?  I might be able to squirrel some time away to work on that.

(I'm also staring at t

[2019-02-14 05:33] dalaing commented on #169
Hmm.  I've looked at this a little, and it seems like the post I linked is able to implement `one` because of the representation that they have chosen for matrices, and that is quite different.

I can see that there might be the ability to do something like storing a value to add to the self loops:

[code]
so that you can define:

[code]

but I don't know how much that would complicate everything

[2019-02-14 13:25] snowleopard commented on #169
Could you clarify how you plan to make use of the `StarSemiring Graph` instance? If it is just for computing the closure, then you can simply use the `closure` function. Or are you planning to label edges of some other graph with graphs? :)

[2019-02-14 19:51] bolt12 opened #170 "Improve support for undirected graphs"
I read the paper and it's mentioned something about undirected graphs but I can't seem to reason about them using this library. I had to a naive implementation of a `undirectedConnect` function to get it rolling. I'm searching for some insight.

[2019-02-14 20:54] snowleopard commented on #170
Indeed, we currently lack a proper support for undirected graphs. Here is what we do have:

* Module [`Algebra.Graph.Relation.Symmetric`](https://hackage.haskell.org/package/algebraic-graphs-0.3/docs/Algebra-Graph-Relation-Symmetric.html) which can be used for representing undirected graphs.
* Methods like [`symmetricClosure`](http://hackage.haskell.org/package/algebraic-graphs-0.3/docs/Algebra-Gr

[2019-02-14 21:02] bolt12 commented on #170
I see!

But how about a default behavior for `connect`? One that ensures that `edgesList (connect x y) == [(x,y), (y,x)]`

[2019-02-14 21:17] snowleopard commented on #170
Well, the behaviour of `*` is already correct for `Algebra.Graph.Relation.Symmetric`:
[code]
Perhaps, what you are missing are a separate function `connect` and the instance `ToGraph`, so that you could use `edgeList`.

[2019-02-14 21:21] bolt12 commented on #170
Thanks I misunderstood, that's what I wanted!

[2019-02-14 21:49] snowleopard commented on #170
Aha, thanks!

I've renamed the issue. I think we can still improve the support we provide for undirected graphs.

[2019-02-14 23:51] dalaing commented on #169
Hmm, on reflection I think I just like the idea of expressing graphs using the Semigroup / Monoid / Semiring / StarSemiring / Dioid heirarchy, where everything is lawful.

It might be too much of a breaking change to shift away from the not-quite-a-ring Num instance though.  Maybe I should shift all of my pondering over to the eliminant stuff :)

[2019-02-15 00:15] snowleopard commented on #169
We could probably have an instance like this:
* `zero = empty`
* `<+> = overlay`
* `<.> = compose`
* `one = self` -- where `identity :: Graph a` contains all vertices of the type `a`, each with a self-loop

I agree that such an instance is nice, because it makes the whole star semiring story complete, but I just don't see any practical use for it yet. But maybe there is! :)

[2019-02-15 11:48] bolt12 commented on #170
Is there a way to use `Algebra.Graph.ToGraph` functions on `SymmetricRelation` without having to convert from/to `Relation` ? If I want to use `Algebra.Graph.ToGraph.vertexList` on a `SymmetricRelation` I have to convert it to `Relation` which has *Complexity: O(m*log(m)) time*

Maybe I'm structuring my imports the wrong way, but how can I use the `SymmetricRelation`type in a clean way? Should I u

[2019-02-15 12:13] bolt12 commented on #170
`SymmetricRelation` is not an instance of the `ToGraph`class.. I think that's what it would be needed to add in order to use `SymmetricRelation` smoothly. What do you think? Is implementing `ToGraph` a bad approach to your library?

[2019-02-15 13:27] snowleopard commented on #170
Yes, that's correct, and this is the right thing to do!

Feel free to send a PR adding a `ToGraph` instance for `SymmetricRelation`.

[2019-02-15 14:40] bolt12 commented on #170
Should I add `ToGraph`instance to `SymmetricRelation`or try and implement something similar to `Algebra.Graph.Relation` ? That way I wouldn't need to import the `ToGraph`module... but once again I dont know what would be the best approach

[2019-02-15 16:58] snowleopard commented on #170
@bolt12 Yes, there is not a lot of functionality at the moment. You can compare undirected graphs, and you can `show` then. You can also list `neighbours` of a specific vertex. That's it.

Let me repeat my previous question: what kind of functionality are you missing?

You seem to have an application in mind, where you'd like to use undirected graphs, right? So, let's use your application as the g

[2019-02-15 17:30] bolt12 commented on #170
I don't have any particular application in mind, i'm studying distributed systems in college and I'm studying undirected graphs, since DS can be modelled as ones, and learning to reason about them. I thought I'd use this library to mess around and get some excercises going.

I found odd that it's hard to use undirected graphs using this library and now I see that there's not a lot of functionality

[2019-02-18 11:00] snowleopard commented on #170
Great! I think you can start by extending the API of `SymmetricRelation` with a few simple functions, and if this goes well, you can go for more complicated algorithms, like connectivity checking.

Feel free to open a draft PR where we could discuss the actual code.

[2019-02-18 13:12] snowleopard opened #172 "Stop supporting GHC 7.8?"
I'm thinking of dropping support of GHC 7.8, and keeping GHC 7.10 only, because making Alga compile with GHC 7.8 is increasingly annoying.

If you use GHC 7.8 and cannot switch to GHC 7.10, please shout.

If there are no strong objections, I plan to implement this change in 1 month, around mid March.

[2019-02-18 13:21] bolt12 commented on #170
Okay! I'll try to implement some of the already existing functions in `Relation`. Then I'll create the draft PR

[2019-03-04 10:19] Josef-Vonasek opened #175 "Shortest path in labeled graph."
The current API of labeled graphs does not seem to capture the notion of disconnected components. For example for `Graph Bool String`, both False / True and True / False can denote the lack of and the existence of an unlabelled edge, respectively, so algorithms like `shortestPath` would require extra parameter `noEdge : e -> Bool`.

[2019-03-05 02:33] snowleopard commented on #175
We expect the type of edge labels to be at least a monoid, and the identity element of this monoid corresponds to the non-edge. You can therefore implement `noEdge`:

[code]

There is a recent talk that should clarify this:

https://skillsmatter.com/skillscasts/12361-labelled-algebraic-graphs

Admittedly, this needs to be documented much better. I haven't yet managed to write this up.

[2019-03-05 06:32] Josef-Vonasek commented on #175
I tried to watch the video but it cannot be played because of "privacy issues".

Another question I have is how do you express a - b - c, because if connect behaves like join then in `Connect True a (Connect True b c)` a should be connected both to b and c.

5. 3. 2019 3:33 AM, 3:33 AM, Andrey Mokhov <notifications@github.com> napsal/a:

[2019-03-06 18:29] snowleopard commented on #175
@Josef-Vonasek Strange, I just tried and it worked fine for me. It does require you to login though, e.g. using the GitHub account.

If we take the Boolean monoid with `mempty = False` and `(<>) = (||)`, then your `a - b - c` example can be represented as `Connect False (Connect True a b) (Connect True b c)`.

[2019-03-15 22:37] srid opened #176 "Serializing graphs using acid-state"
I'm using `acid-state` to serialize graphs created using this library. acid-state uses the `cereal` package which in turns requires types be an instance of `Generic`. However I can't derive a Generic instance for `AdjacencyMap` because the `AM` constructor is not exposed:

[code]

How would you suggest that I proceed from here?

Thanks.