[2019-03-16 01:25] snowleopard commented on #176
Hi @srid! As a quick solution, you could import the constructor from the [internal module](https://hackage.haskell.org/package/algebraic-graphs-0.3/docs/Algebra-Graph-AdjacencyMap-Internal.html).

A more long term solution would be to add a `Generic` instance for `AdjacencyMap`. Would you like to do that? I'm happy to review a PR. It's not a difficult change, so I'm happy to do this myself too.

[2019-03-16 13:30] srid commented on #176
Absolutely, I'll take a stab at it. :-)

[2019-03-17 09:56] srid commented on #176
Fixed in #178

[2019-03-17 09:56] #176 closed

[2019-03-18 00:47] zengchu2 opened #179 "Failing to install alga on ubuntu."
I am running haskell on my Windows laptop with ubuntu. Here is the version of my "cabal" and "gch"
[code]
I tried to install alga using
`cabal install alga` or `cabal install alga@next`
but failed and here is the error message.
[code]
I managed to solve with the following commands.
First pull the source code and change directory into it and call `cabal install` and the package is then installed su

[2019-03-18 01:17] snowleopard commented on #179
The Hackage package is called `algebraic-graphs`, not `alga`. This is because the name `alga` was already taken. So just use `cabal install algebraic-graphs`!

[2019-03-18 01:34] zengchu2 commented on #179
Thanks!

[2019-03-18 13:26] snowleopard commented on #179
I guess we can close this then.

@zengchu2 Don't hesitate to get in touch if you need any further help.

[2019-03-18 13:26] #179 closed

[2019-03-24 03:47] adithyaov commented on #154
Hi, Please go through the code in the following repository and let me know if it could work as a possible representation for acyclic graphs.

[https://github.com/adithyaov/acyclic-graphs](https://github.com/adithyaov/acyclic-graphs)

The function `unsafeConvertToAcyclic` in the module `Acyclic.Graph` provides a way to convert any type that has an instance of `Graph` to a graph of some acyclic type

[2019-03-25 10:12] boggle opened #180 "Question: Transitive closure and path following as in kleene algebras"
Hi, I was looking at kleene algebras recently. They naturally include a transitive closure operator. While it is possible to interpret the graph algebra under transitive closure semantics, is there a particular reason why a transitive closure operator was not included? Also, overlay corresponds to "+" in kleene algebras but "connect" is different. How hard/easy would it be to define kleene algebra

[2019-03-26 00:47] snowleopard commented on #180
Yes, it is indeed possible to include it, but I haven't had a chance to study the resulting algebraic structure. Note that there is [an implementation](http://hackage.haskell.org/package/algebraic-graphs-0.3/docs/Algebra-Graph-Labelled.html#v:transitiveClosure) of the transitive closure for edge-labelled graphs.

Here is [one possible implementation](http://hackage.haskell.org/package/algebraic-gr

[2019-03-26 21:55] snowleopard commented on #154
@adithyaov Thanks! I'm not sure if your solution has any advantages compared to simply wrapping graphs into an `Acyclic` newtype, for example:

[code]

This is a lot simpler than what you propose, but seems to achieve the same goal: you introduce an abstract data type for acyclic graphs, which can only be created using functions like `scc` which are known to produce acyclic graphs.

Later on, if y

[2019-03-27 00:26] adithyaov commented on #154
@snowleopard , I think that there is a guarantee of acyclicity.
It is guaranteed from the representation of the acyclic graphs themselves. In the above representation of acyclic graphs, there are only edges **from lower ordered vertices to higher ordered vertices** as `+` and `*` for acyclic graphs work in such a way.

If there is any Acyclic type, it is guaranteed that the property holds as we ar

[2019-03-27 14:26] snowleopard commented on #154
@adithyaov Yes, this is an internal invariant of the data structure, but one can say that `scc` also provides the very same guarantee -- there are no cycles among strongly connected components. Alas, in both cases this guarantee is not reflected in types: the compiler is not aware of this, only the programmer.

And this is true of this list too: `edgeList (scc g)` for any `g`. Do you agree?

Sure.

[2019-03-27 20:17] adithyaov commented on #154
@snowleopard , It seems I am a slow learner, I believe I started off on the wrong foot.
But I think I'm finally understanding what you meant! 👍

Is considering the structure a good place to start? For example, maybe constructing the acyclic graphs like how one constructs a Tree (I don't have a concrete way of doing this yet but I'll try working on this)?

One would typically have to create a diffe

[2019-03-28 00:11] snowleopard commented on #150
Fixed in #163. Thanks @andreabedini!

[2019-03-28 00:11] #150 closed

[2019-03-29 11:44] snowleopard commented on #154
@adithyaov I haven't had much time to think about type-safe acyclic graphs yet, so I don't yet have any good answers to your questions. Please try various different approaches and let us know how they work!

In addition to the link you shared, here is a relevant Twitter discussion:

https://twitter.com/phadej/status/1105201407576166400?s=19

[2019-04-01 07:03] TheChouzanOne opened #181 "Adding BFS to Algebra.Graph.AdjacencyMap*.Algorithm"
I've noticed that there is no BFS implementation for adjacency maps but DFS does have one. It might be useful to have a single source shortest path algorithms for unlabelled graphs.

I've written a *small* blog/tutorial for my first implementation. It can be found [here](https://github.com/TheChouzanOne/ExtendingAlga/blob/master/Blog/bfs.md).

Its type currently is

[code]
It takes a root vertex,

[2019-04-01 09:32] TheChouzanOne commented on #181
Update: I found a possible problem with my BFS implementation. I am renaming `bfsTree` to `bfsTreeAdjacencyMap` and building a new function `bfsTree` that uses the previous one. The thing is that with the first one I could return an `empty` graph if the root vertex did not exist, but `Tree` does not have a way to represent an empty tree.

So, I am unsure on how could I proceed to fix this discrepa

[2019-04-01 21:42] TheChouzanOne commented on #181
@snowleopard I'm on it. I've already implemented a correct `bfsForest`, if you want to check it out (it's in the UpdatingBFS branch). I believe the implementation is a little messy and could be improve, but for the first try, it works!

Also, just to be clear, by "copy the existing API of DFS exactly" do you mean to have the same three functions

[code]

but for BFS?

[code]

[2019-04-03 20:58] srid opened #182 "`induce` for filtering out edges"
`induce` allows you to get a subgraph after filtering out specific `vertices`; but does it make sense to have one that allows filtering out `edges`?

I specifically have a property graph, with a use-case of traversing a sub-graph whose edges contain a particular property.

[2019-04-03 22:21] snowleopard commented on #182
@srid Are you referring to edge-labelled graphs? If yes, then perhaps you could use `emap`:

https://hackage.haskell.org/package/algebraic-graphs-0.3/docs/Algebra-Graph-Labelled.html#v:emap

This function allows you to map over edge labels, so you can replace some labels by `zero`, effectively removing them from the graph.

If you are referring to graphs without edge labels, then do you mean somet

[2019-04-03 22:22] snowleopard commented on #182
P.S.: Note that the term "induced subgraph" is typically used in the context of removing vertices, not edges:

https://en.wikipedia.org/wiki/Induced_subgraph

[2019-04-03 23:12] srid commented on #182
@snowleopard That's interesting; I didn't know about edge-labelled graphs in this library!

It comes close, but not close enough. What I have is a property graph, which would be *both* edge-labelled and vertex-labelled (`Graph v e a`). To efficiently implement I had to wrap the library's AdjacencyMap like this:

[code]

(I find [dependent-map](http://hackage.haskell.org/package/dependent-map) suit

[2019-04-03 23:12] #182 closed

[2019-04-03 23:29] snowleopard commented on #182
@srid Interesting! I don't have anything more efficient in mind compared to your current implementation. If performance does become a problem for you in future, feel free to reopen this issue.

[2019-04-03 23:48] srid opened #183 "Vertex-labelled adjacency maps"
I just learned that the library supports edge-labelled adjacency maps:

[code]

What do you think of having a edge _and_ vertex labelled adjacency map? Something like:

[code]

I could look into writing this if this is worth adding to the library.

[2019-04-04 15:14] srid commented on #183
I suppose I could get away by storing the vertex-label in the `a` and use `elemAt` and `lookupIndex` to pull the label out of the map for a given vertex, though it seems slightly hacky.

[code]

[2019-04-04 15:28] srid commented on #183
I'm thinking perhaps we can call it a "property graph" and then redefine the edge-labelled graph using it:

So we would have a new module:

[code]

with the edge-labelled module either becoming redundant or redefined using the new one:

[code]

@snowleopard What do you think?

[2019-04-04 23:23] snowleopard commented on #183
@srid My personal approach to labelling vertices has always been like you describe in [your 2nd comment](https://github.com/snowleopard/alga/issues/183#issuecomment-479939981):

[code]

I think this approach is nice because it does not involve any additional complexity in the library itself. On the other hand, adding "property graphs" which you describe involves quite a lot of work for duplicating

[2019-04-05 07:55] TheChouzanOne commented on #181
I've coded a cleaner and working version for `bfsForest`.

Also, I wrote a [post](https://github.com/TheChouzanOne/ExtendingAlga/blob/master/Blog/bfsForest.md) about its development if you want to read it.

I still don't know if you would like to have all three functions (`bfs`, `bfsForest` and `bfsForestFrom`) or if `bfsForest` is enough, though.

[2019-04-05 18:44] adithyaov opened #184 "Algorithms on graphs with edge weights, module structure and guarantee of positive properties on the edge labels."
I'm currently implementing the Dijkstra Algorithm and the natural structure the algorithm should be implemented on is the edge labeled Adjacency map. The labels are basically the edge weights.

Shouldn't all the algorithms involving edge weights use the labeled Adjacency map?
I've created a directory `src/Algebra/Graph/Labelled/Algorithm`.
Seems right to have different modules for different algori

[2019-04-05 18:45] adithyaov commented on #184
Maybe I should split this into multiple issues?

[2019-04-06 15:48] srid commented on #183
Mainly having to wrap vertices with `emptyLabel` (see below) before passing them to library functions like `edge`, `edgeLabel`, `replaceEdge`, `replaceVertex`, etc. But it is not that janky, so can definitely live with it. Just succeeded in wrapping in the labelled adjacency map for my purposes, so I'll close this!

[code]

[2019-04-07 10:21] snowleopard commented on #183
@srid Great, thanks! Feel free to reopen if you come up with some API improvements for supporting vertex-labelled graphs.

[2019-04-07 10:33] snowleopard commented on #184
@adithyaov Thanks for starting this discussion!

Yes, I think this would be best. If a user would like to find shortest paths in a graph without edge labels then it's not difficult to convert it to a graph with unit edge weights.

I think the structure should be as follows:
* Algorithms operating on the algebraic representation from `Algebra.Graph.Labelled` should live in the directory `src/Algebr

[2019-04-07 11:13] snowleopard commented on #181
@TheChouzanOne Thanks! For an initial prototype I suggest to implement the following two functions. We might rename them later, and in fact I think we might also rename some DFS functions to get to a more clear naming scheme.

[code]

What is currently missing from your blog post and implementation is a good list of examples, like [here](https://hackage.haskell.org/package/algebraic-graphs-0.3/doc

[2019-04-07 14:13] adithyaov commented on #184
`NonNegative` in `Algebra.Graph.Label` was what I was talking about.

[2019-04-07 15:50] snowleopard commented on #184
`NonNegative` does not have a semiring instance, so it's unclear how you are going to compose two non-negative labels in sequence and in parallel. Ideally we should be able to use the Dijkstra algorithm to siolve many problems just by picking different semirings like `Distance` or `Capacity`.

To figure out the exact requirements for this semirings I suggest you watch my "Labelled Algebraic Graphs

[2019-04-07 19:12] TheChouzanOne commented on #181
@snowleopard Sounds good! I'll be working on it then.

[2019-04-07 19:26] adithyaov commented on #184
I saw the video, I'm yet to read the mentioned paper.

My bad, I answered `NonNegative` as I had only `+` in mind.

Agreed, For the Dijkstra algorithm, one should be able to use both the semirings `Distance` and `Capacity` and any other semiring that follows a few properties mentioned below.
**Properties of positive numbers** is the wrong phrase. What I meant to say was we can only use monoids (we

[2019-04-07 22:54] adithyaov opened #186 "Propose an abstraction for the Dijkstra algorithm"
`NonNegative` does not have a semiring instance, so it's unclear how you are going to compose two non-negative labels in sequence and in parallel. Ideally we should be able to use the Dijkstra algorithm to solve many problems just by picking different semirings like `Distance` or `Capacity`.

To figure out exact requirements for these semirings I suggest you watch my "Labelled Algebraic Graphs" ta

[2019-04-07 23:00] adithyaov commented on #186
Although Dijkstra is used for shortest path, semantically it can be used for the max capacity path as well. For the former, the comparison operator `<=` is required and `>=` for later. How do you suggest implementing this?

One way is to create another type class that would have the comparison?
We probably should also use a priority queue, and hence instances of that class should also have proper

[2019-04-07 23:08] TheChouzanOne opened #187 "Kruskall for labelled graphs"
I want to start thinking how to generate a Minimum Spanning Tree. However, a big question is stopping me from thinking further.

Both Kruskall and Prim assume that the graph is connected, however, it doesn't seem to be a way to know if that condition holds, or a type safe to represent connected graphs.

I believe that a simple typesafe representation could be implemented for connected labelled gra

[2019-04-07 23:50] TheChouzanOne commented on #187
After thinking about the *simple* typesafe representation. Even given that property, we need to stop the user of the API to try and `overlay` two graphs where their `vertexSet`s intersect in at least one vertex. Implementing a new type (`ConnectedAdjacencyMap` for example) wouldn't stop that, and using `Maybe ConnectedAdjacencyMap` is not an acceptable solution.

Maybe just trying to compute a MST

[2019-04-08 00:04] snowleopard commented on #187
@TheChouzanOne I think it's useful to have both the MST algorithm returning `Maybe (Tree a)` as well as minimum spanning forest algorithm returning `Forest a`. The former will probably be implemented via the latter as follows:

[code]

One aspect which is not clear to me is how to capture edge labels in the resulting trees and forests. Perhaps, we need custom data types for labelled trees and fore

[2019-04-08 00:58] TheChouzanOne commented on #187
@snowleopard I totally forgot about the lack of labels for `Data.Tree` and `Data.Forest`.

The first idea that comes to my mind is to slightly change the structure of `Tree`'s `subForest` like so:

[code]

where `subForest` would stop being a `Forest`, so its name might be changed. It now represents a list of tuples, where the first element is the label of the connection between `rootLabel` and th

[2019-04-10 21:47] TheChouzanOne commented on #187
Update: I implemented a simple starting kruskall algorithm which can handle connected and unconnected graphs. The thing is that it just returns an `AdjacencyMap e a`, as I haven't thought about how to represent a tree or forest with edge labels.

The current API for the function is
[code]
It takes a function to determine how to choose edges and an `AdjacencyMap e a` to apply the algorithm to.

If

[2019-04-10 23:47] adithyaov commented on #186
Wouldn't it make sense to abstract the comparison mechanism out of all the algorithms? Most of the algorithms semantically work for both, the min of something and the max. Hence, abstracting the comparison seems like a good design.

Also, does any one think we can use the GHC backpack? Backpack provides better abstraction.

[2019-04-12 22:47] snowleopard commented on #184
@adithyaov I'm pretty sure in this situation we shouldn't be reinventing requirements for a semiring for the Dijkstra algorithm. Could you study some literature on this topic and/or other graph libraries? It'd feel much more comfortable picking an abstraction which has already been successfully used.

[2019-04-13 11:02] snowleopard commented on #187
@TheChouzanOne Yes, I think we'll need to add a module like `Data.Tree.Labelled` with the definitions for labelled trees and forests. The `msf` algorithm will then need to return a `Forest e a`.

I don't understand why you ask both for dictionary `Ord e` and for a comparison function `e -> e -> Ordering`. A dictionary alone should be sufficient.

[2019-04-13 14:14] adithyaov commented on #184
I came across a paper, namely, [**Semiring frameworks and algorithms for shortest-distance problems**](https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=1&ved=2ahUKEwj5iMPNn83hAhXUbX0KHbrSAN0QFjAAegQIAxAC&url=http%3A%2F%2Fciteseerx.ist.psu.edu%2Fviewdoc%2Fdownload%3Fdoi%3D10.1.1.367.5897%26rep%3Drep1%26type%3Dpdf&usg=AOvVaw0Ptm2QvjSmbxMuOj6AHDvn) by **Mehryar Mohri** which provides a s

[2019-04-13 14:14] #184 closed

[2019-04-13 14:19] adithyaov commented on #186
We are doing this by using the properties of semirings. The comparison can be decided, based on if the semiring is `positive` or `negative`.

Please refer to [Semiring frameworks and algorithms for shortest-distance problems](https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=1&ved=2ahUKEwj5iMPNn83hAhXUbX0KHbrSAN0QFjAAegQIAxAC&url=http%3A%2F%2Fciteseerx.ist.psu.edu%2Fviewdoc%2Fdownload%

[2019-04-13 14:19] #186 closed

[2019-04-13 14:30] snowleopard commented on #184
@adithyaov Great, thanks for sharing!

[2019-04-13 23:53] TheChouzanOne commented on #187
I will start thinking about that concern then.

This function is just a starting point and might help to build the actual `mst` and `msf` functions. About the comparison function, it wast an idea to leave it kind of general to implement more functions on top of it. For example, maybe for some reason, a user would want a "maximum spanning tree" even though he is using distances (I don't really know

[2019-04-24 09:23] #170 closed

[2019-04-29 23:20] snowleopard commented on #109
I think we can close this issue. See the module here:

https://hackage.haskell.org/package/algebraic-graphs/docs/Algebra-Graph-Labelled-AdjacencyMap.html

[2019-04-29 23:20] #109 closed

[2019-05-02 13:22] anfelor commented on #154
The more I think about this, the less sure I am that there should be a representation of acyclic graphs, that is fundamentally different from alga. The problem is that acyclic graphs aren't instances of `Graph`: For example `a * b` is acyclic and `b * a` is acyclic but their sum and product aren't. Furthermore, it takes linear time to compute whether the sum or product of two acyclic graphs is acy

[2019-05-02 18:12] snowleopard commented on #154
@anfelor I agree that the "abstract data type + smart constructors" approach is a nice solution from the pragmatic point of view: it's simple and it solves most of the API problems. I'm happy for this approach to be tried first. We could also add an "acyclic graph monad" (discussed [here](https://gist.github.com/adithyaov/f87b5b496fd88ef91cfe438dfaf3a955)), as one of the ways to create such abstra

[2019-05-03 13:09] anfelor commented on #154
From a first glance at the laws, it looks like this should work for all partial orders `<`.
But I don't think `Ord` is the right constraint for this; how should for example in #85 a total order be defined if we only have a partial order? Furthermore, the ordering on something like a `Package` is probably going to involve the name, version, etc. and not the dependencies. Still a function like
[code

[2019-05-03 13:29] snowleopard commented on #154
@anfelor Indeed, a partial order is sufficient. Interesting!

From the perspective of the algebra of graphs, this answer doesn't matter: we just operate on a partially ordered set of vertices.

But from the user's perspective, the answer does matter. In some cases you do have a partial order upfront, and it does act as a proof that the resulting graph is acyclic. Of course, if a graph can in fact

[2019-05-03 15:19] anfelor commented on #154
This seems to be a special case of partial orders: Those that are induced by a total order on keys (Extension in your example). But in general, transitivity could be a problem if for example some source files depend on .h files which depend on their source file in return.

Still, using a partial order as a guarantee of acyclicity is a good idea; in the general case topSort even returns a total ord

[2019-05-03 22:38] adithyaov opened #195 "Acceptable Time complexity for `toAdjacecyMap`"
Hi, I was thinking about algorithms on the `Graph` structure defined in `Algebra.Graph` and noticed that it would be straightforward with the use of `toAdjacecyMap`. But as mentioned in the code itself `toAdjacencyMap` has an inefficient implementation.

What are the acceptable time and space complexities for `toAdjacencyMap`?

[2019-05-07 11:01] bolt12 opened #196 "Graph functional interface"
So I have been looking for Graph APIs and the [networkx](https://networkx.github.io/documentation/stable/reference/functions.html) for python is very rich and powerful. It has a lot of things but I just want to start with the ones that are simpler/useful.

In the link I provided a lot of them are already implemented so I thought that would be nice to have the following:

- `degree`
- `degreehistog

[2019-05-08 01:15] snowleopard commented on #196
Thanks! I think we could add some of these functions as methods or as functions to the `ToGraph` module.

This one is just one function call away: just run `Set.size` on `preSet`/`postSet` or `neighbours`.

This one feels too specialised to be included into the API. However, if there are many such graph statistics functions we could in principle put them into a separate module.

What is graph dens

[2019-05-08 01:38] snowleopard commented on #195
I don't think we can make it much faster than it currently is: it will still be at least O(n+m). If you have ideas of how to improve the current complexity, please share them! Anything that makes measurable improvements in the @nobrakal's benchmarking suite would be great.

Ideally, some functions, e.g. the equality check `==` would be implemented without using `toAdjacencyMap` at all, hopefully a

[2019-05-08 08:48] bolt12 commented on #196
Okay, I was looking for functions that would make sense to extend the graph API and now that you replied I agree with them feeling too specialized. With this being said, I think it's more interesting for me to focus on the random graph generation and see where  I can get.

I'll start by adding the `isConnected` function since it will be needed first.

[2019-05-13 00:32] snowleopard commented on #172
Completed in #198.

[2019-05-13 00:32] #172 closed

[2019-05-13 18:45] snowleopard commented on #155
I'm going to close it since it's unclear what needs to be done, but feel free to reopen.

[2019-05-13 18:45] #155 closed

[2019-05-13 18:51] snowleopard commented on #83
If anyone would like to attempt this, we now have `Symmetric.Relation` whose API can be followed:

https://hackage.haskell.org/package/algebraic-graphs-0.4/docs/Algebra-Graph-Relation-Symmetric.html

[2019-05-15 17:23] adithyaov commented on #195
I'll close this for now as a solution might not exist. Hopefully, this issue will reopen, given some good ideas.

[2019-05-15 17:23] #195 closed

[2019-05-19 14:38] faezs commented on #51
Hi @snowleopard. Just getting started exploring the library and this seems like a great acclimatizing task for me to take on. Would you mind a haskell newbie giving this a shot?

[2019-05-19 15:02] snowleopard commented on #51
@faezs Sure, feel free to give it a try and send a PR. Thank you!

[2019-05-20 10:23] michaelpj commented on #141
Note that this can be a blocker for moving from `Data.Graph`, which allows the alternative key type. I think I just rediscovered why past-me made that comment ;)

[2019-05-20 10:34] michaelpj opened #201 "Functor instance for AdjacencyMap"
Seems like it should be fine to have one, any reason I'm missing why it wouldn't be?

It could probably have the `Applicative` and `Monad` instances similar to `Graph`, but I care about those less at the moment.

[2019-05-20 10:42] michaelpj opened #202 "Add induceJust"
From http://hackage.haskell.org/package/witherable-0.3

Given that we can't currently have a graph with a separate key type (https://github.com/snowleopard/alga/issues/141), I'm constructing a graph of keys, and then I want to map over the graph looking up the value of the key, to get a graph of values.

However, lookup is naturally `a -> Maybe b`, an so even with a `Functor` instance (https://git

[2019-05-20 10:44] snowleopard commented on #201
I don't think it's possible because of the required `Ord` constraints, e.g. see `gmap`:

https://hackage.haskell.org/package/algebraic-graphs-0.4/docs/Algebra-Graph-AdjacencyMap.html#v:gmap

We might be able to work around this with various approaches invented for making a `Functor Set` instance, but I'm not sure if it would be really that useful. Would it?

[2019-05-20 10:50] michaelpj commented on #201
Ah rats of course, we're using `Set` for the adjacent vertices.

We could weaken the internal representation to a list of adjacent vertices. I don't know how much that costs us - we might potentially have duplicates, but that seems relatively unlikely. And then we can just convert to `Set` in any places in the API that want it.

It's a shame, having `Functor` is very useful.

[2019-05-20 10:51] snowleopard commented on #202
Like `Functor AdjacencyMap`, this has the problem of relying on `Ord` constraints.

What we could do is to have a type-safe version of `induce`, like this:

[code]

Will that work for you?

[2019-05-20 10:52] michaelpj commented on #202
That would certainly work!

[2019-05-20 10:54] michaelpj commented on #202
Also, I've realised that I can work with `Graph` and then only convert to `AdjacencyMap` later. So `instance Filterable Graph` would also do for me. At this point it's mostly a question of whether you want to use the class as part of the API or not.

[2019-05-20 10:55] michaelpj commented on #202
Er no, scratch that, I need to do my SCC computation before I map and induce, so I do care about `AdjacencyMap`.

[2019-05-20 10:57] snowleopard commented on #202
@michaelpj Great, I'll try to add `induceJust` soon.

Regarding `Filterable`: I'd prefer to stay light on dependencies, so let's stick to `induceJust` for now.

[2019-05-20 11:08] snowleopard commented on #201
I don't think it's just about adjacent vertices: we use `Map a (Set a)`, and `Map` is not a `Functor` on keys.

[2019-05-20 11:13] michaelpj commented on #201
Gotcha. So we'd have to devolve all the way to adjacency lists, which have much worse asymptotics.

[2019-05-20 11:13] #201 closed

[2019-05-20 11:18] snowleopard commented on #201
You could try the `Coyoneda` trick, i.e. work with `Coyoneda AdjacencyMap a`:

https://hackage.haskell.org/package/kan-extensions-5.2/docs/Data-Functor-Coyoneda.html

Not exactly sure it will work for you, but curious to hear your thoughts :)

[2019-05-20 12:01] michaelpj commented on #201
I don't think that helps me much - you have to have a functor to get back out again, and it's not much more convenient than just using `gmap`.

Plus the `Functor` instance lets you implement other instances.

[2019-05-20 15:37] snowleopard commented on #201
Yep, I see. Well, I guess this means we need more efficient algorithms for algebraic graphs, which are proper functors, etc.!

[2019-06-01 14:56] Avasil commented on #202
Is it still relevant? I could try contributing it if nobody is working on it

[2019-06-01 15:02] snowleopard commented on #202
@Avasil Yes, it's still relevant! Please go ahead :)

[2019-06-07 09:09] #202 closed

[2019-06-07 09:12] snowleopard commented on #202
@michaelpj Thanks to @Avasil, we now have `induceJust` and `induceJust1` for non-empty graphs, to be released soon.

[2019-06-07 10:03] michaelpj commented on #202
Thanks!

[2019-06-08 19:08] adithyaov commented on #175
@snowleopard Quite intriguing! Let me know if I can help :-)

[2019-06-09 08:40] snowleopard commented on #175
@adithyaov If your acyclic graphs project succeeds, it may lead to some publishable results. Going through existing literature and writing an overview of existing approaches would be a good start.

[2019-06-21 12:09] Synthetica9 commented on #196
Speaking about Networkx: I think we should also implement the ["Classic" graph generators](https://networkx.github.io/documentation/networkx-1.10/reference/generators.html#module-networkx.generators.classic).

[2019-06-21 21:24] snowleopard commented on #196
@Synthetica9 We already have some of the listed combinators, but I agree that it would be nice to have some others from this list too.

As always, it is a matter of finding the right balance between the number of features in a library and the ease of navigating the library by a newcomer. To avoid overwhelming people, we might want to move some more sophisticated combinators in a separate module.

[2019-07-04 11:22] bolt12 commented on #196
@snowleopard Since there is already a PR on the implementation of `isConnected` and some of the ideas on the random graph generation require this function I think I'll put the idea on standby for now. I'll try and look at this PR [83](https://github.com/snowleopard/alga/issues/83)

[2019-07-04 11:23] bolt12 commented on #83
@adicirstei are you working on this issue? If not, I'd be glad to give this a try!

[2019-07-04 15:43] snowleopard commented on #83
@bolt12 No, this is independent from your symmetric relations work.

The implementation will be quite similar though: just add a newtype `Algebra.Graph.Undirected.Graph` wrapping the algebraic data type `Graph` and providing an API based on the one you implemented for symmetric relations.

[2019-07-04 15:46] snowleopard commented on #83
For me both `ghci` and `stack ghci` seem to work.

P.S.: I assigned this issue to you. Thanks for volunteering! :)

[2019-07-04 15:49] bolt12 commented on #83
@snowleopard No problem! I'm happy to help!

That's odd, I'll try and refork the repo!

[2019-07-04 15:53] bolt12 commented on #83
@snowleopard sorry to bloat this thread with this issue but can you figure out how to solve this?
I reforked the repo and ran ghci on the project root:
![image](https://user-images.githubusercontent.com/20261421/60678405-44dd5500-9e7c-11e9-85a2-5ee2f3f4df61.png)

[2019-07-04 16:14] snowleopard commented on #83
@bolt12 Not sure how to fix this at the moment. Let's fork this into a new issue.

[2019-07-04 17:31] bolt12 commented on #83
@snowleopard  looking into this. I built the project and ghci runs fine! `cabal new-repl` on the other hand cannot gives the same error but for QuickCheck. Probably it's because i'm unexperienced with the new version of cabal. I'll stick with ghci

[2019-07-09 11:07] bolt12 commented on #83
@snowleopard one question: should I use the Symmetric file as base or the Graph one? What would be preferable? Also the Graph one has rewrite rules and other stuff that I don't quite understand, but since it's a newtype I dont think I need to worry about them.

[2019-07-09 16:51] snowleopard commented on #83
@bolt12 Yes, in general please follow the API of `Symmetric.Relation`.

Don't worry about the rewrite rules for now.

[2019-07-19 13:11] snowleopard commented on #175
Just adding a note about another issue with the documentation: right now it's not clear that in most cases we require the type of edges to be a commutative and idempotent monoid. For arbitrary monoids like `Sum` a few common properties will be violated, e.g. `x + x == x`, `isSubgraphOf x x == True`, etc. #221.

[2019-07-20 23:08] Avasil commented on #141
I will create a prototype

[2019-08-07 21:51] Avasil commented on #141
@snowleopard I finally found some time to start working on this and I'm wondering about operations that combine graphs, e.g. `overlay`.

If we define `value :: Int -> a` and `index :: a -> Maybe Int` on graph itself, there could be two graphs with different mappings, right?

I guess we could combine `index` functions but I don't know what to do with `value` which seems to be total.

This is of cou

[2019-08-07 22:04] snowleopard commented on #141
Yes.

Actually, I'm not entirely sure my draft above is correct. What we really need to represent here is an isomorphism between vertices `a` that appear in the graph and their integer counterparts `Int`. Do you have an idea of how we could do this both efficiently and in a compositional way to permit operations like `overlay`?

That's right. We know that `AdjacencyIntMap` is fast and we'd like to

[2019-08-07 22:06] snowleopard commented on #141
Re-reading what I wrote, I think this goal sounds a bit naive: if it was possible, then we could similarly implement `Map k a` on top of `IntMap a` :-)

[2019-08-08 08:17] Avasil commented on #141
No clue but I will try to figure something out.

Do you have anything else that I could help with in the meantime?

[2019-08-08 09:42] michaelpj commented on #141
Brainstorming a few ideas:
- Redo the indices for one side:
    - For each mapping therein:
        - If it coincides with the mapping on the other side, keep it.
        - If it maps to an index not used on the other side, keep it.
        - Othewise map to a fresh integer.
    - Complexity seems likely terrible.
        - That might be okay for some workflows if we retain the nice querying prope

[2019-08-08 09:49] snowleopard commented on #141
@michaelpj Thanks for the ideas! Most likely, we don't really need to make operations like `overlay` and `connect` really fast, because constructing large adjacency maps using these operations is going to be terribly slow anyway. I think it's worth keeping a "dense" mapping to `Int`s so that we don't run out of them in practice and could rely on `IntSet`s and `IntMap`s internally.

@Avasil I think

[2019-08-08 09:52] michaelpj commented on #141
Yes, I agree that querying performance is usually much more relevant. So the relabeling approach might be fine in practice.

[2019-08-10 21:04] Avasil commented on #141
@snowleopard I will try validating @michaelpj ideas first, maybe it can lead us somewhere. :D

It's not clear to me how to modify a `value :: Int -> a` function. My first attempt was going through vertices of one of the graphs (let's say G2), applying `value` of both graphs and checking if the result is different. If it is different, I call `index G1` and see if it's `Nothing`. If it's not, I don'

[2019-08-10 23:11] snowleopard commented on #141
@Avasil Why don't you start with something naive but very simple: just renumber everything (always keeping the indices starting at 0) whenever you do something like `overlay` or `connect`. Then find the resulting complexity and see where we can go from there. It's always best to start with something working and optimise!

[2019-08-15 18:45] Avasil commented on #141
@snowleopard I managed to implement and benchmark few functions.

I plan to add tests now so I can get rid of bugs and then keep trying to optimize. Though any suggestions would be very helpful, currently it's very slow

I changed representation a bit:
[code]

I didn't know how to create `value :: Int -> a` so I was using `value :: Int -> Maybe a`.
For `overlay` / `connect` I keep one side and the

[2019-08-16 20:24] Avasil commented on #141
I added implementations for `removeVertex`, `removeEdge` and improved `hasVertex`:

[code]

I don't really understand why removing is so fast and `vertexCount` so terribly slow.

BTW which functions are the most interesting to us in this experiment? I could focus on implementing those next

[2019-08-16 20:41] snowleopard commented on #141
@Avasil Thanks for the experiment! I don't have time to look at your implementation in detail at the moment, but it's indeed strange that `vertexCount` is so slow, e.g. there is a 10x difference compared to `vertexList` which should be at least as hard! It would be nice to bring all overheads down to 2-3x.

I think your current selection is great. Perhaps you could also add `preSet` and `postSet`,

[2019-08-18 17:48] Avasil commented on #141
I think the issue with `vertexCount` was caused by a bug I've had in `overlay`, latest results are:

[code]

`equality` is quite bad but I started with simple implementation:
[code]

which doesn't leverage `AdjacencyIntMap` so it's expected.

I also tried to compare underlying `AdjacencyIntMap` but the problem is that I need to convert values to the same mappings. My first try (`gmap` over one `AI

[2019-08-26 14:48] #2 closed

[2019-08-26 14:51] snowleopard commented on #2
Thanks to @jitwit for the fix!

[2019-09-10 21:00] snowleopard commented on #141
@Avasil Is there a chance to bring the overhead in `addVertex` and `addEdge` down to 3-5x?

[2019-09-10 21:05] Avasil commented on #141
@snowleopard Current implementation of `overlay` and `connect` is quite involved so I assume it is possible to simplify it https://github.com/Avasil/alga/blob/adjMap-alternative-impl/src/Algebra/Graph/AdjacencyMapPoc.hs#L282

I haven't looked into it yet

[2019-09-16 20:15] jitwit opened #233 "return type for bfs"
The current return type/implementation for `bfs` loses connectivity information and makes it unclear whether vertices appear later in the resulting list because they are in a deeper layer of the forest, or because they are in disjoint trees. For example,
[code]
Instead, something like
[code]
might make more sense, where `type LevelStructure a = [[a]]`?

The change would be:
[code]
to
[code]

[2019-09-16 23:36] snowleopard commented on #233
@jitwit Hmm, shouldn't the result be `[[1,5],[2,3,6]]` instead? That is, vertices 1 and 5 are reachable in 0 steps from the sources, and vertices 2, 3 and 6 are reachable in 1 step?

I can see how your proposed representation preserves even more information but may be somewhat difficult to use (and understand!).

[2019-09-16 23:54] jitwit commented on #233
Yeah, there's a lot of nesting with the triple list. I figured it could be useful to keep the components separate, but otherwise I think we can get result you propose with
[code]

[2019-09-17 20:02] snowleopard commented on #233
@jitwit But I don't think the components will be separate. Are you referring to strongly-connected components? Then consider the graph `1 * 1 + 1 * 2 + 2 * 2`: it has two connected components `1 * 1` and `2 * 2` but depending on the order of source vertices you will get different results. With `[1, 2]` you'll get what appears to be a single component, and with `[2, 1]` you'll get two. I think the

[2019-09-18 13:26] jitwit commented on #233
Ah you're right, that example shows it doesn't make sense to return `[[[a]]]` for the reason I stated!

Adding the transpose step would still make sense, so that the levels treat the input vertices the same? Calling  `bfs [1,5] $ circuit [1..3] + circuit [3,2,1] + 5*6` to get `[[1,5],[2,3,6]]`  instead of `[[1],[2,3],[5],[6]]` seems more natural.

[2019-09-18 13:34] snowleopard commented on #233
Yes, I agree! That would be a very useful change.

[2019-10-06 11:47] snowleopard commented on #233
Fixed in #234.

[2019-10-06 11:47] #233 closed

[2019-10-11 10:46] jmatsushita opened #239 "Algebraic Hypergraph"
Hi there,

I was reading your blog post which mention the possibility of a decomposition for k-edges which could be applied to (IIUC) hypergraphs of with hyperedges of a fixed order k.
Have you considered this type, using the (hyper)edge-labelled data type and considering `e` as a `Monoid` as you suggest?

[code]

The more basic type seems like it would also make sense:
[code]

Would you anticipat

[2019-10-11 11:12] jmatsushita opened #240 "Edge Labelled Graph Monoid operation in use?"
Hi there,

I was wondering if I'm overlooking something: is the `<>` operation of an edge for a Labelled Graph ever used? Or is it only used for it's `mempty` value to "recover" `Overlay`? In which case, isn't something like `Default` or `Pointed` for `e` more accurate? It seems that haskellers don't like either because they don't have laws though, so I don't know if it makes sense.

Cheers,

Jun

[2019-10-11 22:23] snowleopard commented on #240
@jmatsushita Hello! I think this talk explains why we need `<+>` for edge labels:

https://skillsmatter.com/skillscasts/12361-labelled-algebraic-graphs

Have you watched this? I'm afraid right now it's the only good explanation of edge-labelled algebraic graphs. If it's still unclear why we need `<+>`, please don't hesitate to ask further questions.

[2019-10-12 17:14] snowleopard commented on #239
@jmatsushita Yes, I've been thinking about such representations to support hyperedges, however, I used lists in my experiments because with `Set` you essentially force the algebra to be commutative with respect to `Connect`, i.e. you won't be able to express both `1*2` and `2*1`. Perhaps, this is fine for your application.

Another subtlety is that with `Set` you seem to lose the ability to create

[2019-10-12 17:16] snowleopard commented on #239
I suggest we keep this PR open, since hypergraphs seem like an interesting direction to explore.

[2019-11-01 15:18] noughtmare commented on #240
I get "Sorry, This video does not exist." when trying to view that video.

I'm currently trying to write a NFA/DFA library so I want to decorate the edges of my graph with tokens that are defined as follows:

[code]

I really do not think that I should implement `<>` because it could either be conjunctive or disjunctive:

[code]

Or conjunctive:
[code]

[2019-11-03 17:23] adithyaov commented on #240
@noughtmare That is weird. I am able to watch the video.

[2019-11-03 17:32] adithyaov commented on #240
@jmatsushita Could you please elaborate on this statement. `<+>` is an alias for `<>`. It can be used while describing generic algorithms on graphs. The algorithms work based on the `Semiring` used.

Please refer to #219 and #225 . The PR's are still incomplete but that's a simple use case.

[2019-11-03 18:17] noughtmare commented on #240
I now realize that it might be because I do not have a proprietary content decryption module installed on my computers. Is there any DRM-free way of viewing this video?

On November 3, 2019 6:23:54 PM GMT+01:00, Adithya Kumar <notifications@github.com> wrote:

[2019-11-03 19:33] snowleopard commented on #240
@noughtmare Actually, I also get this now. This is strange because I can watch other videos from the same event. I've emailed the organisers to find out what happened.

[2019-11-03 19:50] snowleopard commented on #240
In the meanwhile, I put the slides here:

https://www.staff.ncl.ac.uk/andrey.mokhov/labelled-algebraic-graphs-slides.pdf

See part 3.

[2019-11-06 22:52] snowleopard commented on #21
Thanks to @gabrielelana and @sphaso we now have a simple implementation: #237. There is a lot of room for improvement though, since the current complexity is O(n^2 * m) time and O(n^2) memory.

Let's keep this open.

[2019-11-21 07:39] dschrempf opened #242 "Algebraic trees"
Hi,

I am a [molecular phylogeneticist](https://en.wikipedia.org/wiki/Phylogenetics), and as such I work a lot with [tree-like objects](https://en.wikipedia.org/wiki/Phylogenetic_tree) (mostly binary trees). I was following the development of alga for some time now and I am keen on using it in my projects. However, I have some conceptional questions. Maybe one of you can answer them.

Basically, I

[2019-11-22 09:50] snowleopard commented on #242
Hi Dominik, thanks for reaching out and for writing a nice blog post about Alga! (I found only one little typo: you first say "string decomposition" and then "strong decomposition".)

Of course, I would be pleased if you choose to use the library for your work. However, it is a bit strange to use a graph library when working with trees. Trees are very simple objects algorithmically and when you fo

[2019-12-10 14:06] dschrempf commented on #242
Thanks for spotting the type, I have corrected it!

I understand. In this case, I will continue using the Tree data type of the container package for rooted trees. For unrooted trees however, I still think that using Alga or another graph library would make a lot of sense since there is no distinguished (root) node.

[2019-12-11 21:09] snowleopard commented on #242
OK, let's keep this issue open. Perhaps, it's possible to somehow express and manipulate undirected trees algebraically.

[2019-12-18 22:24] goldnd commented on #240
I get a 403 error trying to access the slides.

[2019-12-19 17:04] snowleopard commented on #240
@goldnd The slides link works fine for me. Anyway, I attached the PDF to this comment.

[labelled-algebraic-graphs-slides.pdf](https://github.com/snowleopard/alga/files/3984695/labelled-algebraic-graphs-slides.pdf)

As for the video recording, I'm afraid Skills Matter went into administration, so it's unclear whether the video will ever become available again :(

[2020-01-19 14:17] fawaz990 commented on #21
ممكن احد يفهمني هاذا البرنامج حق ايش

[2020-01-19 14:45] snowleopard commented on #21
@fawaz990 Please use English so that as many people as possible could participate without relying on Google translate.

[2020-01-24 17:28] fosskers opened #251 "Hackage Release"
Hi there, I've confirmed that the `master` branch of `algebraic-graphs` works just fine with `nightly-2020-01-21` (GHC 8.8.1). However, `0.4` as released on Hackage no longer does.

Would it be possible to upload a `0.4.1` that includes the latest tweaks and [bounds fixes](https://github.com/snowleopard/alga/pull/238)? Thank you.

[2020-01-24 19:15] snowleopard commented on #251
@fosskers Hi there! I actually plan to release 0.5 pretty soon -- most likely during the upcoming week. Will that be OK?

[2020-01-24 19:15] fosskers commented on #251
Sure, that works. Thank you!

[2020-01-24 19:15] #251 closed

[2020-01-24 19:21] snowleopard commented on #251
Great, will do!

[2020-01-26 13:37] nobrakal opened #252 "How to handle goodness inherited from other libraries"
Hi,

I just discovered that [`Data.Set.toAscList`](http://hackage.haskell.org/package/containers-0.6.2.1/docs/Data-Set.html#v:toAscList) is subject to list fusion. This makes, for example, `Data.Graph.vertexList` automatically a good producer of lists.

The right path to follow seems not clear, should we:

1. Only document this
2. Document and test, that is, testing some functions from another lib

[2020-01-27 14:10] snowleopard commented on #252
@nobrakal I am inclined to document and test this, i.e. go with option (2), because `containers` is a very stable library and it is safe to assume that `Data.Set.toAscList` will remain a good producer in the foreseeable future.

(Is there some kind of `Goodness` monad to be discovered? :-))

[2020-01-27 14:49] nobrakal commented on #252
@snowleopard Ok, you convinced me, I will try to submit a PR during the week !

I don't know yet, but I am working on it :D

[2020-01-29 21:21] adamse opened #253 "Bump upper bound for base-compat for version 0.4 on Hackage"
I tried locally editing the cabal file to allow base-compat-11.0 and it built fine.

[2020-01-29 21:50] snowleopard commented on #253
@adamse Do you mind waiting a few days until version 0.5? It will have no `base-compat` dependency at all.

[2020-01-29 21:53] adamse commented on #253
That's fine by me! (I've already done the bump locally for my purposes.) 👍

[2020-01-29 21:54] snowleopard commented on #253
Great! I'll close the issue after the release.

[2020-01-31 11:49] #252 closed

[2020-02-02 23:52] snowleopard commented on #253
Released: http://hackage.haskell.org/package/algebraic-graphs-0.5!

[2020-02-02 23:52] #253 closed

[2020-02-02 23:53] snowleopard commented on #251
Released: http://hackage.haskell.org/package/algebraic-graphs-0.5!

[2020-02-03 04:23] fosskers commented on #251
Wonderful, thank you!

[2020-02-15 19:48] snowleopard commented on #83
I think we can close this now, since the latest version has:

http://hackage.haskell.org/package/algebraic-graphs-0.5/docs/Algebra-Graph-Undirected.html

Thanks @bolt12!

[2020-02-15 19:48] #83 closed

[2020-02-15 19:51] snowleopard commented on #116
I think we can close this now. In the recent release, `transpose` is marked as a good consumer and `star` as a good producer, and we test these properties. This means they will properly fuse.

Thanks @nobrakal!

[2020-02-15 19:51] #116 closed

[2020-02-15 21:15] bolt12 commented on #83
Awesome! You're welcome, it was a pleasure working with you in this PR!

On Sat, 15 Feb 2020, 19:48 Andrey Mokhov, <notifications@github.com> wrote:

[2020-03-29 23:35] snowleopard commented on #240
Hi all, Skills Matter videos are finally back, and so is the video we were looking for 🎉

https://skillsmatter.com/skillscasts/12361-labelled-algebraic-graphs

[2020-04-19 22:09] srid commented on #183
I just found myself needing this again, but this time I'm not so sure about the `Labelled` type.

An adjacency map is defined as `Map a (Map a e)`. The storage of vertices is of the `O(n ^ 2)`. If I store the vertex label along with vertex, there would be needless repetitions, would it not? And there is no (type-level) guarantee that the label remains the same regardless of its position in the out

[2020-04-19 22:20] snowleopard commented on #183
@srid I don't think that's right: the memory complexity of this representation is `O(n + m)` for a graph with `n` vertices and `m` edges.

However, there is indeed some repetition: a vertex is stored `O(d)` times where `d` is its degree, i.e. the number of neighbours.

To avoid this, you can just use the approach I described in [this comment](https://github.com/snowleopard/alga/issues/183#issuecom

[2020-04-19 22:24] srid commented on #183
@snowleopard The problem with that approach is that `a -> VertexLabel` cannot be anything but a partial function. A standard implementation is:

[code]

I would like the guarantee that for every vertex there exists is a label, and vice-versa. Just as it is the case with edge-labels.

[2020-04-20 17:39] snowleopard commented on #183
Hmm, if all you have is a partial `Map` from vertices to labels (which you call `labels`), I'm not sure how you plan to avoid using `fromMaybe` somewhere.

In your earlier version (with potential duplication), where the vertices had the type `(a, label)`, how did you ensure that all `label` components are non `error`s and that all pairs were "bijective"?

This doesn't seem to be a problem related

[2020-04-22 19:58] srid commented on #183
Not a partial Map; I actually know all the vertices ahead (in my application, they refer to the note files in a directory; where filename is vertex, and note content is the 'label').

Consider an *unique* list of objects `[x]` and a hash function `x -> v` (known ahead to be bijective) which produces the short vertex ID for a given object. From this list and the hash function, I can build a labelle

[2020-04-22 21:35] snowleopard commented on #183
@srid Thanks for further details, I think I understand your problem better now.

I think here is where I'm confused. It's not enough that **you** know that the function is bijective. You need to prove this to the **compiler** by exhibiting the inverse mapping `v -> x`. Once you show it, the approach based on `(Graph v, v -> x)` seems to work.

Furthermore, assuming your belief that the function is

[2020-04-22 22:17] snowleopard commented on #183
@srid Actually, I now see the value of the vertex-and-edge-labelled graph representation that you proposed in the very first comment: `Map a (v, Map a e)`. Indeed, this seems to solve your problem, but I'm not sure how to interpret the resulting data type in the context of algebraic graphs :)

[2020-04-23 01:19] srid commented on #183
Yea, fair enough.

Meanwhile I have a come up with a solution using type famillies:

From https://github.com/srid/neuron/blob/f58e408/src/Data/Graph/Labelled/Type.hs#L11-L27

[code]

with the associated class:

[code]

This works, but I find myself [writing adapters](https://github.com/srid/neuron/blob/f58e408c2a355aadf933ce20caf5537eab34fe25/src/Data/Graph/Labelled/Algorithm.hs#L36-L41) to graph

[2020-04-23 01:19] #183 closed

[2020-04-27 22:31] snowleopard commented on #183
@srid Many thanks for sharing your approach.

What is `getVertex` in the last snippet? Is it an unsafe lookup from the `vertices` map?

[2020-04-27 22:35] srid commented on #183
[`getVertex`](https://github.com/srid/neuron/blob/1c29d2f5f18a9c76ec4f54c620649428cc03260b/src/Data/Graph/Labelled/Algorithm.hs#L23-L25) uses `Map.lookup` - yes in theory it is unsafe, but the map was constructed using a [smart constructor](https://wiki.haskell.org/Smart_constructors) in [`mkGraphFrom`](https://github.com/srid/neuron/blob/1c29d2f5f18a9c76ec4f54c620649428cc03260b/src/Data/Graph/Lab

[2020-04-27 22:39] snowleopard commented on #183
Yes, I see. This seems like a reasonable trade-off.

[2020-04-30 00:39] srid opened #260 "Unable to use ghcid"
Full build (nix-build) succeeds, but I can't use ghcid for some reason.

![image](https://user-images.githubusercontent.com/3998/80660392-8a958a80-8a59-11ea-996c-72369caa7988.png)

[2020-04-30 23:26] snowleopard commented on #260
I'm not using Nix, and can't reproduce with my setup.

Note that `DeriveFunctor` is in the `default-extensions` in the `common` stanza. Perhaps, you are using an old Cabal that doesn't support `common` stanzas?

[2020-05-17 20:47] infinity0 opened #262 "Algorithms should be in terms of typeclasses not data structures"
It's a bit of a shame that things like `bfs` and `dfs` are duplicated for every single `AdjacencyMap` representation. For example `Algebra.Graph.Labelled.AdjacencyMap` does not even have a DFS at the moment. They should be rewritten and unified in terms of `ToGraph` instead.

Of course not all the instances of `ToGraph` have efficient implementations of things like `postSet`, but that could also b

[2020-05-17 21:20] infinity0 commented on #262
To clarify, although `ToGraph` contains class methods `dfs` etc, the implementations are separate, though some re-use others after converting the graph into a different representation. My point is that with a single typeclass-based implementation of `dfs` none of this boilerplate would be necessary, including the conversions between representations.

Algorithms are generally defined in terms of th

[2020-05-18 00:40] snowleopard commented on #262
@infinity0 I found that trying to squeeze graph algorithms into type classes falls apart pretty quickly, but I'm open for experiments. As an example, I had to ditch type classes from the testsuite because it was just horrible, replacing them with a somewhat less horrible data type:

https://github.com/snowleopard/alga/blob/b9714bb2fc963189e0d338b6942a68aed37c132f/test/Algebra/Graph/Test/API.hs#L61

[2020-05-18 12:41] infinity0 commented on #262
Thanks. I'll have a go at some point - my main motivation was to implement a max-flow-min-cut algorithm, which I could do in terms of `ToGraph` but then it looks out-of-place because everything else is implemented as a class-method rather than a top-level method with a class-constraint. For example fgl implements [its algorithms in terms of their Graph typeclass](https://hackage.haskell.org/packag

[2020-05-19 08:47] snowleopard commented on #262
Thanks!

Yes. However, by combining the algebraic representation with `sparsify` and classic algorithms you can process some dense graphs very efficiently, in the time and memory proportional to the size of their algebraic representation, which can be quadratically smaller than the number of edges.

As of now, there are no algorithms for solving even basic problems like DFS/BFS directly on the alg

[2020-06-10 15:05] dschrempf opened #264 "Acyclic graphs with Int labels"
As it happens to be, I am in the need of `Algebra.Graph.Acyclic.AdjacencyIntMap`, which is not yet in the library. I know, one cannot provide a specialized data structure for all possible use cases, but maybe you want to think about it. It is, at the very least, useful to me :)) !

Thanks,
Dominik

By the way, I think it would be useful if it was stated that all graphs in this library are __direct

[2020-06-10 22:56] snowleopard commented on #264
@dschrempf Oh no, the library seems to be in a state of continuous combinatorial explosion :-)

Of course, your feature request is perfectly sensible, but I have to admit I'm a bit terrified about the direction we are taking. Maintaining the Cartesian product of the following flavours seems infeasible:
* polymorphic vs specialised to `Int` vertices;
* possibly empty vs non-empty;
* possibly cyclic

[2020-06-11 10:55] dschrempf commented on #264
Thank you for your reply.

That's what I expected :), I don't _really_ need the mentioned module; but it
may be a little faster than what I am using at the moment (and I do a lot of
number crunching).

In fact, as a user, I prefer a library with well maintained, neatly arranged
core features to an over-bloated library with mediocre maintenance.

With respect to the directed/undirected issue. I ask

[2020-06-11 10:55] #264 closed

[2020-06-13 13:13] snowleopard commented on #264
It would be interesting to know how much performance you lose because of using generic adjacency maps in your application. While we do some benchmarks (https://github.com/haskell-perf/graphs), they are mostly synthetic. If you could add some real-world examples to the benchmarking suite that would be great and we could use it to guide our performance optimisation efforts. (Using `Int`-specialised

[2020-07-16 16:16] dschrempf commented on #264
For the sake of it, I just refactored `Algebra.Graph.Labelled.AdjacencyMap` to use `Int` labels and `IntMap`, and the speedup is more a less a factor of 2.

[2020-07-18 13:07] snowleopard commented on #264
@dschrempf Many thanks for sharing your results!

By the way, there is one subtlety about `IntMap`: the complexity of its `size` function is [O(n)](https://hackage.haskell.org/package/containers-0.6.3.1/docs/Data-IntMap-Internal.html#v:size) rather than just [O(1)](https://hackage.haskell.org/package/containers-0.6.3.1/docs/Data-Map-Internal.html#v:size) in the case of `Map`. It's easy to miss thi

[2020-11-16 19:37] felixonmars opened #265 "Tests failed to build with QuickCheck 2.14.2"
[code]

[2020-11-18 23:44] #265 closed

[2020-12-08 22:00] andrewthad commented on #260
The problem is almost certainly the use of `default-extensions`. If ghcid is just invoking ghci (rather than cabal repl), then the expecting extensions will not be enabled, and compilation will fail. The solution is simple: put `{-# language DeriveFunctor #-}` at the top of every module instead of using `default-extensions`.

[2020-12-09 00:02] snowleopard commented on #260
@andrewthad Default extensions can also be enabled in the `.ghci` script, as I'm doing here:

https://github.com/snowleopard/alga/blob/f3382596498a69d8ebce1e0ccb36dd99e9ae3810/.ghci#L7-L12

Perhaps, it's just a matter of adding `DeriveFunctor` there? I'd be happy to accept a PR that does that if it fixes this issue for you.

[2020-12-09 00:06] andrewthad commented on #260
I suspect that would fix it too. I don't use nix though, so I cannot replicate the OP's issue.

[2021-01-12 18:12] evanrelf commented on #165
FWIW the function posted above has worked fine for me. My graphs have thousands of vertices and tens of thousands of edges, though that's probably small.

[2021-01-14 01:39] snowleopard commented on #165
@evanrelf Great, thanks for sharing your experience! Unless someone else beats me to it, I'm going to add this function to the library as soon as I find some time.

[2021-02-23 21:27] wbadart commented on #260
@srid can you share the derivation you're using?

[2021-04-03 14:12] srid commented on #260
I don't remember right now, but I believe I was using alga as an [obelisk thunk](https://github.com/obsidiansystems/obelisk/blob/master/FAQ.md) in a GHC 8.6 project.

I'll close this as I'm not looking for a solution to this anymore, but feel free to open if anybody thinks this is worth supporting.

[2021-04-03 14:12] #260 closed

[2021-04-03 14:14] srid opened #268 "Multitree"
Are multitrees in scope for this library?

It is basically a DAG with certain constraints.

Here's an explanation of, and a use case for, multitrees: https://github.com/climech/grit#multitrees

[2021-04-03 14:44] snowleopard commented on #268
Interesting, it's the first time I hear about multitrees.

Since multitrees are graphs with a special structure, you can use the library to work with multitrees as long as you don't need to capture this special structure at the type level, or exploit the structure to implement some of the algorithms faster.

Do you have anything specific in mind?

[2021-04-03 14:51] srid commented on #268
Yea, I've never heard of it before either. I've been using the term [heterarchy](https://neuron.zettel.page/folgezettel-heterarchy), but "multitree" is probably more suitable for those cases.

I think I'll have concrete ideas when I get to reimplement grit in Haskell (unless I choose [F#](https://notes.srid.ca/fsharp-exploration)!), which I'd like to do as I've been mulling over a structured task

[2021-04-03 15:04] snowleopard commented on #268
Right, I see. If you come across any specific issues with this library feel free to get in touch.

In general, my goal is to eventually make the library more lightweight and get rid of some of the functionality (perhaps, by moving it to separate libraries), rather than to add more exotic features to it.

[2021-06-03 15:57] isovector opened #269 "Monoid instance"
It seems to me that `Graph` is missing a Monoid instance:

[code]

There's also a monoid over `connect`, but that doesn't seem to be as relevant in terms of how people think about constructing graphs --- which is adding the vertices and edges to a bucket.

[2021-06-03 15:59] isovector commented on #269
As an added benefit, it means `empty` could just be `mempty` and then wouldn't shadow the significantly more common `Control.Applicative.empty`.

[2021-06-03 16:23] snowleopard commented on #269
I agree that `overlay` gives a more natural `Monoid` instance but I've never convinced myself that defining this instance is really worth it. Do you have a practical motivation?

I wouldn't want to remove `empty` from the API. (I find `mempty` ugly, sorry.) Anyway, it's easy to hide `empty` during import, so it doesn't seem like a strong motivation to me.

[2021-06-03 17:16] isovector commented on #269
Yeah, hiding it is fine --- but without an alias like `mempty`, it's a challenge to subsequently use!

Though after spending a morning trying to drill interview problems, I'm not sure `Algebra.Graph` is what I'm looking for. I got confused by how many different graph representations there are, and how few of them I can do a dfs over.

[2021-06-03 17:27] snowleopard commented on #269
If you hide `empty` you might still be able to use `Control.Applicative.empty` because there is an `Alternative` instance :)

Yep, that's fair. I do want to kick a few graph representations out into a separate library to simplify this one. Functions like `dfs` are generally available via the `ToGraph` class, see [ToGraph.dfs](https://hackage.haskell.org/package/algebraic-graphs-0.5/docs/Algebra-Gr

[2021-08-05 16:05] jmtd opened #272 "support for GraphViz "HTML strings" for node or edge labels"
Hello!

GraphViz supports something called [HTML-like labels](https://graphviz.org/doc/info/shapes.html#html) for some objects. This can be useful for adding some mark-up to edge or node labels (e.g. fractions with `<<SUP>1</SUP>/<SUB>2</SUB>2>`). A HTML-like label is delimited with a pair of angle brackets instead of double-quotes. E.g.

[code]

resulting in:

![tmp](https://user-images.githubuse

[2021-08-06 23:54] snowleopard commented on #272
@jmtd Hi there! Perhaps, we can make it possible to disable double-quoting by adding a new field to `Style`, e.g. called `quoting` with choices `None` and `Double` (with the latter being the default)?

Yep, it would be great to finally merge #47!

[2021-08-14 14:52] #272 closed

[2021-09-05 15:52] ocharles commented on #269
I would also like to see `Monoid` instance, as it opens up the ability to create a map using `foldMap`. I like to write things like:

[code]

[2021-09-08 00:40] snowleopard commented on #269
Alright, let's add it then! To keep the API consistent, we'll need to add it to each of the zillion graph flavours in the library.

@ocharles @isovector Will either of you be interested in preparing a PR? If not, I'm happy to do it myself but I have a few other things to finish (e.g. reviewing and merging #274) before I'll get to it.

[2021-09-20 19:09] #269 closed

[2021-09-20 19:17] #38 closed

[2021-10-01 09:14] jmatsushita commented on #9
Hello there, I'm curious about whether this turned out to be false or if there is another reason why Relation doesn't have a `H.Graph` instance?

[2021-10-01 09:39] jmatsushita commented on #14
May I suggest updating the original description to point to https://github.com/haskell-perf/graphs ? It was interesting to read through the whole issue but maybe pointing to the results up top makes sense?

For bonus points the issue could be renamed "Move benchmarks to haskell-perf/graphs" 😁

[2021-10-01 09:40] snowleopard commented on #9
@jmatsushita I think the reason is that `Relation` isn't used much and so no one really wanted an instance of `H.Graph`. In fact, it's not clear we should keep `Relation` in the library since a few people remarked that it can be confusing to see so many different versions of more or less the same thing. (Perhaps, we could move it to a separate library `algebraic-relations`?)

By the way, once you

[2021-10-01 09:47] snowleopard commented on #14
@jmatsushita Agreed! Done, and with a bonus point :)

[2021-10-01 10:04] jmatsushita commented on #9
Interesting thanks for letting me know! By the way my interest comes from having started to contribute to [purescript-alga](https://github.com/thomashoneyman/purescript-alga) with the intention to play with  graph comonads as described here http://blog.higher-order.com/blog/2016/04/02/a-comonad-of-graph-decompositions/

I might contribute back here if there's interest :) And maybe help move Relati

[2021-10-02 18:04] snowleopard commented on #9
That's cool! I remember reading that blog post and thinking about how I could possibly make an efficient comonad instance for algebraic graphs. I never came up with anything but I hope you'll succeed where I failed!

Sure, that would be great!

[2021-11-14 16:31] snowleopard opened #281 "Add benchmarks to CI"
We used to have benchmarks running in CI on every commit, which helped us to catch performance regressions. This functionality was initially implemented in #82, but I accidentally dropped it when migrating CI to GitHub Actions in [this commit](https://github.com/snowleopard/alga/commit/b911701ee914a26aa6ca8c3b650a46c27119e09f#diff-b803fcb7f17ed9235f1e5cb1fcd2f5d3b2838429d4368ae4c57ce4436577f03f).

[2021-11-14 17:25] cyoon1729 commented on #281
Excited to look into this!

[2021-11-14 17:26] snowleopard commented on #281
Awesome, thank you!

[2021-11-17 11:56] boggle opened #282 "Supporting "node types""
Given a graph with different node types (say "a", "b", "c", etc.) and different edge types ("r", "s", "t"), is it acceptable to modify connect such that the edge type determines the types of source and target nodes that will be connected (ignoring other nodes)? What does making such a change do to the algebra? Is there anything in alga that would help building such graphs?

[2021-11-17 21:56] snowleopard commented on #282
I'm not sure what you mean by "acceptable". It does make sense to consider restricted forms of the `connect` operation. I've played with some variants some time ago but I never came up with anything particularly enlightening. The design space here is pretty large, so it's best to discuss a concrete data type. Do you have anything specific in mind?

It depends on specifics but I expect that the alg

[2021-11-18 09:16] snowleopard commented on #282
Apart from the simplest case with two vertex types, of course. For that we have `Algebra.Graph.Bipartite.AdjacencyMap`.

[2021-11-18 16:35] boggle commented on #282
Many real world knowledge graphs will be "mixed graphs", in the sense that they contain different types of nodes connected via different types of edges. Usually such graphs will assume (at least implicitly) some kind of schema that restricts edge types regarding the types of nodes it is allowed to connect.  A way to think about this is that every possible edge label is equipped with a predicate on

[2021-11-18 19:17] snowleopard commented on #282
@boggle Supporting what you describe in full generality is going to be hard, most likely impractical in a language like Haskell, because you'll have to encode these edge-vertex compatibility predicates in types. You probably want a languages with full dependent types for that, like Agda.

A weaker version of what you describe can be achieved by simply using the edge-labelled version of the algebra

[2021-11-18 20:11] boggle commented on #282
Interesting, so I understand you to suggest to rather limit the set of valid expressions of the algebra instead of modifying the algebra itself to implicitly uphold schema (e.g. by only creating valid edges). That makes a lot of sense; this way none of the laws of the algebra are invalidated.

[2021-11-18 21:27] snowleopard commented on #282
I don't think I suggested that. By limiting the set of valid expressions we are most certainly going to modify the algebra.

For example, if we no longer allow `connect x y` for all possible values of `x` and `y`, then `connect` is no longer a monoid, because in a monoid, the operation must be defined for all possible inputs.

[2021-11-18 23:20] boggle commented on #282
What I meant was: This way none of the laws of the algebra _prior_ to the use use of the invalidation procedure are invalidated. On a second thought, maybe this isn't such a big difference.

[2021-12-16 01:00] sjakobi opened #284 "v0.6 fails to build with GHC 8.0 and 8.2"
See https://matrix.hackage.haskell.org/#/package/algebraic-graphs.

Since dropping support for these GHC versions seems intentional (https://github.com/snowleopard/alga/pull/278), I suggest that you require `base >= 4.11`.

v0.6 should be revised with the same bounds.

[2021-12-16 12:22] snowleopard commented on #284
Sounds good, thanks for catching this! Will do in the next couple of days.

I'm not very familiar with Hackage revisions. Is it OK if I simply release `v0.6.0.1`?

[2021-12-16 13:20] sjakobi commented on #284
Releasing a v0.6.0.1 with fixed bounds wouldn't be sufficient unless you also deprecate v0.6. The reason is that build tools with dependency solvers will still attempt to use v0.6 with GHC 8.0 and 8.2.

Publishing a new version for this issue would also be a bit wasteful with the size of the package index.

So I'd recommend addressing this with a Hackage revision. If you do this via the web interf

[2021-12-16 21:40] snowleopard commented on #284
Thanks for the instructions! Everything seems to have worked out well. Feel free to reopen if I messed anything up.

[2021-12-16 21:40] #284 closed

[2022-01-15 17:21] chenzizhao commented on #51
Hey all, it seems to have been a while. I was just having fun with Haskell and picked this up. Feedback appreciated!

[2022-01-16 21:50] #51 closed

[2022-04-04 17:26] ffaf1 opened #288 "Doubt about decorating a Graph"
Hello. My goal is pretty simple: I have a `Graph a` and I would like to decorate each graph with a unique label, to end up with — say —, `Graph (Int, a)`.

If I were to do this on `Tree`s I would use a `traversable` instance or similar, but I see `Graph` has no such instance. What is the *correct* way to approach this?

[2022-04-07 22:56] snowleopard commented on #288
Indeed, there is currently no nice way to do it in the API. We used to provide a `Traversable` instance but that was pretty broken. For example, decorating a tree `overlay (vertex 'a') (vertex 'a')` would give you `overlay (vertex (1,'a')) (vertex (2,'a'))`, which is most likely not what you want. This is why we dropped the instance.

I don't see anything better than just coming up with a unique l

[2022-04-08 09:39] ffaf1 commented on #288
Thanks Andrey, so some sort of `hash` function; that would do.

I would like my `ID`s to be contiguous, but I guess that could be rectified by having getting the list of unique IDs, zipping it with `[1..]` and running `gmap` again.

[2022-04-08 09:39] #288 closed

[2022-04-08 11:19] snowleopard commented on #288
Yes, although you don't have to go through the intermediate state with hashes. You could zip the deduplicated list of vertices with `[1..]`, create a map from the resulting list of pairs, and pass that map's lookup function to `gmap`.

I admit it's pretty fiddly and it would be nice to have something in the API that would make this sort of transform easier to make.

[2022-04-08 11:53] ffaf1 commented on #288
Ah, indeed that is smarter! Thanks again.

Il 08 aprile 2022 alle 04:19 Andrey Mokhov ha scritto:

[2022-05-11 17:15] sjakobi opened #289 "Compatibility with mtl-2.3"
My impression is that v0.6 may only require a Hackage revision that relaxes the current bound `mtl < 2.3`.

[2022-05-12 22:30] snowleopard commented on #289
Thanks! I'll look into this next week (currently on vacation).

[2022-06-14 21:20] snowleopard commented on #289
I ended up dropping the dependency on `mtl` altogether. Released as `algebraic-graphs-0.6.1`.

[2022-06-14 21:20] #289 closed

[2022-08-14 15:12] ocramz opened #297 "Smart constructor for Symbol rather than requiring -XOverloadedLists"
It took me a minute to realize `coffeeTeaAutomaton` only works before OverloadedLists. Requiring the extension runs the risk of breaking other code in a module (just happened to me), which is not ideal.

Feature request : Can we have smart constructors for Symbol ? e.g.

[code]

and

[code]

[2022-08-15 22:15] snowleopard commented on #297
Thanks for the PR! I'm hesitant to change the example in `coffeeTeaAutomaton` though since it would make it more cluttered. How about extending the corresponding comment, pointing out that the inner lists are overloaded?

[2022-08-25 05:42] ocramz opened #299 "Proposal : foldgM"
How about adding a monadic fold ?

[code]

[2022-08-27 13:43] snowleopard commented on #299
If we factor out the common code snippet in the overlay and connect branches of your implementation, we can get this:

[code]

Strangely, `lift` doesn't seem to be a very common monadic combinator and so doesn't exist in the standard libraries.

Still, the fact that `foldgM` is easily expressible in terms of `foldg` suggests to me that it's not worth the work required to include it in `algebraic-g

[2022-08-27 14:45] ocramz commented on #299
Completely agree! I'll close this then.

[2022-08-27 14:45] #299 closed

[2022-08-31 20:10] dataopt commented on #262
Has anyone thought more about this? I find this issue quite interesting.

[2022-08-31 22:42] snowleopard commented on #262
I'm not aware of any progress in the context of this library.

I remain a little sceptical of the goal of writing graph algorithms against an abstract interface because implementations of this interface differ dramatically in terms of the complexity of individual methods.

Having said that, I'm interested in seeing a proof of concept!

[2022-09-01 10:57] dataopt commented on #262
I will be giving this some more thought. I am hoping that there is some sort of Haskell graph algorithms library similar to what [LEDA](http://www.algorithmic-solutions.info/leda_guide/GraphAlgorithms.html) offers. Maybe an abstract interface that comes with implementation hints/constraints (e.g. O(1) lookup for certain things) could be explored.

[2022-09-02 11:49] snowleopard commented on #262
@dataopt Are you saying that LEDA implements graph algorithms against an abstract graph interface? If yes, could you point to an example?

[2022-09-02 12:24] dataopt commented on #262
I haven't expressed myself clearly. LEDA has its own graph representation. What I meant to say was to be able to have an interface for the graph algorithms that LEDA offers against an abstract graph interface in Haskell. (Not sure if that's even possible.) In the meantime, I came across this [old Haskell wiki article](https://wiki.haskell.org/The_Monad.Reader/Issue5/Practical_Graph_Handling) that

[2022-09-03 09:34] snowleopard commented on #262
Got it. Thanks for the links, they are new to me too!

[2022-09-03 12:22] dataopt commented on #262
I could be missing some important nuances but I am just thinking out loud in the following.

(Aside: I prefer to use the definitions of graphs and directed graphs in Bondy and Murty where a directed graph is a triple (V, E, f) where f is a function that maps each element of E (i.e. an edge) to an ordered pair (u,w) with u and w being elements of V. This definition permits parallel edges which coul

[2022-09-08 21:26] dataopt commented on #262
Looks like there is a library of graph algorithms that actually don't need a concrete definition of a graph: https://hackage.haskell.org/package/search-algorithms-0.3.2/docs/Algorithm-Search.html

[2022-09-08 23:55] snowleopard commented on #262
@dataopt This all makes sense to me. I agree that it's interesting to do some experiments in this space. (If only I had time myself!)

I do like the idea behind the `search-algorithms` library but my understanding is that it doesn't do the caching tricks you described, so one essentially needs to use an efficient data structure to implement various functional queries. And I don't think there is an

[2022-09-15 14:13] dataopt commented on #262
@snowleopard BTW, is there any connection between your work on algebraic graphs and [GraphBLAS](https://graphblas.org)?

[2022-09-15 19:18] snowleopard commented on #262
I don't think there is any connection.

[2022-11-24 21:38] bgamari opened #301 "Algebra.Graph.Labelled.AdjacencyMap.edges appears to be broken"
`AdjacencyMap.edges` appears not to introduce any edges:
[code]

[2022-11-24 21:39] bgamari commented on #301
Ahh, never mind; I now see that "zero" edges are trimmed from the graph.

[2022-11-24 21:39] #301 closed

[2022-11-26 17:15] snowleopard commented on #301
Yeah, I guess the case with `e = ()` can be pretty confusing since it yields a set rather than a graph.